extends extends/layout_index.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	main(role="main")
		section.sec-mid.contentBlock-about
			.secw-base
				.row
					.col-sm-6.js-paroller(data-paroller-factor="-0.1", data-paroller-type="foreground")
						a(href="#").block-video
						.block-white.text-hyphened
							img.img-block(alt="", src="assets/i/about-1.png", srcset="assets/i/about-1@2x.png")
							| Объединение экономической и технической детализации транзакции к автономной системе  в одну транзакцию.
					.col-sm-6.js-paroller(data-paroller-factor="0.1", data-paroller-type="foreground")
						.block-white.text-hyphened
							img.img-block(alt="", src="assets/i/about-2.png", srcset="assets/i/about-2@2x.png")
							| Создание автоматизированного управления экономическими отношениями умных фабрик.

						.block-white.text-hyphened
							img.img-block(alt="", src="assets/i/about-3.png", srcset="assets/i/about-3@2x.png")
							| Использования следящей системы для киберфизических систем на базе пиринговой сети.

			svg.snapsvg-darkDots.plaxify(data-xrange="10", data-yrange="10")


		section.sec-dark.contentBlock-shemes
			.secw-base
				h2 Для проектировщиков умных городов и фабрик

				.js-slider.anyslide(data-anyslide="controls")
					.js-slider-pager
						.row
							.col-md-4
								div(data-anyslide-slide="0")
									p Создавайте добавочную стоимость повышая прозрачность технологических процессов при производстве товаров умными фабриками.
								a(href="file:///Users/nicetea/Work/Projects/Airalab/robonomics.network/markup/dist/assets/i/sheme-1@2x.png", target="_blank") Смотреть схему 1 &rarr;
							.col-md-4(data-anyslide-slide="1") Создавайте модели поведения умных фабрик и городов 	на основе экономически значимых транзакций, поселяющихся в публичный Ethereum Blockchain.
							.col-md-4(data-anyslide-slide="2") Проектируйте модели верификации исполнения контрактных обязательств автономными фабриками перед человеком и между собой.

					.js-slider-viewport.sec-white
						.slide
							img.img-block(alt="", src="assets/i/sheme-1.png", srcset="assets/i/sheme-1@2x.png")
							p.t-big Умная фабрика загружает информацию о продукте в децентрализованную torrent-подобную сеть (IPFS/Swarm), а также сохраняет хеш-значение функции от данных в цепочке блоков. Так информация о продукте фиксируется на момент загрузки и не может быть изменена в будущем. Так, обретая иммутабельность, данные с сенсоров создают добавочную стоимость
						.slide
							img.img-block(alt="", src="assets/i/sheme-1.png", srcset="assets/i/sheme-1@2x.png")
						.slide
							img.img-block(alt="", src="assets/i/sheme-1.png", srcset="assets/i/sheme-1@2x.png")

					.js-slider-controls
						a.prev(href="javascript:;")
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42.9 119.6" xml:space="preserve" class="arrow">
								<path d="M41.5,0.3L0.6,58.4l41.9,60.9"/>
							</svg>

						a.next(href="javascript:;")
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42.9 119.6" xml:space="preserve" class="arrow">
								<path d="M1.4,119.3l40.9-58.1L0.4,0.3"/>
							</svg>

		section.contentBlock-token
			.secw-base
				h2 Для держателей токенов и майнеров

			.sec-dots__gray
				.secw-base
					.sec-pad
						.contentBlock-token__info
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 152.9 133.7" xml:space="preserve" class="logo-robonomics-outline">
								<g transform="translate(3037 2448)">
									<circle cx="-2960.3" cy="-2443" r="5"/>
									<circle cx="-3032" cy="-2319.3" r="5"/>
									<circle cx="-2889.1" cy="-2319.3" r="5"/>
									<path d="M-2960.5-2443l-71.5,123.7h142.9L-2960.5-2443z"/>
									<path d="M-2959.8-2359.1l-33.9,17.8h67.8L-2959.8-2359.1z"/>
									<path d="M-2959.8-2400l-33.9,58.7l34-17.8L-2959.8-2400z"/>
									<path d="M-2959.8-2400l0.3,40.7l33.6,18L-2959.8-2400z"/>
								</g>
							</svg>


							.t-big
								p Для создания экономических стимулов поддержания работы инфраструктуры в пиринговой сети Ethereum будет выпущен внутренний токен Robonomics token (XRT).
								p XRT будет требоваться каждый раз, когда возникнет необходимость обеспечить верификацию результата исполнения работы умной фабрики или города.

							

						h3 XRT TGE в 3 этапа

						.block-gList.row
							.col-sm-4
								.block-gList__bul: span.t-blue 1
								.block-gList__text Распродажа токенов доступа к инфраструктуре сети робономики в формате Голландского аукциона для поиска рыночной цены перед выходом токена на биржу.
							.col-sm-4
								.block-gList__bul: span 2
								.block-gList__text Выделение XRT токенов на поддержку сети майнеров за актуальную версию ПО, выполняющую тестовую функцию.
							.col-sm-4
								.block-gList__bul: span 3
								.block-gList__text Запуск перегонного куба для конвертации AIR токенов, баунти релиза “Маяк” и токенов Голландского аукциона.



		section.sec-black
			.secw-base
				h2 План развития инфраструктуры

				.sec-pad.contentBlock-roadmap
					.row
						.col-md-3.roadmap-gray
							.roadmap-title
								.roadmap-title__in
									b Q1 2018
									span Lighthouse
							.roadmap-desc Релиз сигнализирующий о начале работы платформы для разработчиков решений Умных городов и Индустрии 4.0. Следящие узлы системы сообщают в блоках сети Ethereum о поддержке релиза.

						.col-md-3
							.roadmap-title
								.roadmap-title__in
									b Q2 2018
									span Observerer
							.roadmap-desc С данного релиза начинается измерения важных для платформы показателей работы сети за счет сравнения результатов работы эталонной ноды и результатов, получаемых от сети.

						.col-md-3
							.roadmap-title
								.roadmap-title__in
									b Q1-Q2 2019
									span Cybernetics economy
							.roadmap-desc Участники сети обладают необходимыми возможностями для работы умных городов и умных фабрик в ответ на экономически значимые транзакции.

						.col-md-3
							.roadmap-title
								.roadmap-title__in
									b Q3 2019 - Q2 2020
									span Lights-out
							.roadmap-desc Сеть способна взять на себя задачи по управлению роботизированными цепочками обеспечения.


					.row
						.col-12
							.roadmap-title
								b Robonomics future
							.roadmap-desc Мы верим в счастливое будущее Робономики
