extends extends/layout_index.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	main(role="main")
		section.sec-dark.sec-colored
			.secw-base
				.row
					.col-md-6 test
					.col-md-6 test