extends extends/layout_index.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	main(role="main")
		section.sec-mid.sec-colored.contentBlock-about.m-b-0
			.secw-base
				.row
					.col-sm-6.js-paroller(data-paroller-factor="-0.1", data-paroller-type="foreground")
						a(href="#").block-video
						.block-white.text-hyphened
							img.img-block(alt="", src="assets/i/about-1.png", srcset="assets/i/about-1@2x.png")
							| Объединение экономической и технической детализации транзакции к автономной системе  в одну транзакцию.
					.col-sm-6.js-paroller(data-paroller-factor="0.1", data-paroller-type="foreground")
						.block-white.text-hyphened
							img.img-block(alt="", src="assets/i/about-2.png", srcset="assets/i/about-2@2x.png")
							| Создание автоматизированного управления экономическими отношениями умных фабрик.

						.block-white.text-hyphened
							img.img-block(alt="", src="assets/i/about-3.png", srcset="assets/i/about-3@2x.png")
							| Использования следящей системы для киберфизических систем на базе пиринговой сети.

			svg.snapsvg-darkDots.plaxify(data-xrange="10", data-yrange="10")


		section.sec-dark.sec-colored.contentBlock-shemes.m-t-0
			.secw-base
				h2 Для проектировщиков умных городов и фабрик