extends extends/layout_simple.pug

block head
	- var pageTitle = 'Outdated browser'
	- var bodyclass = 'page-error'

block content
	.screen.setw
		#page-error-content
			.page-error-sec
				img#page-error-logo(alt="AIRA", src="assets/i/aira-logo-white.png", srcset="assets/i/aira-logo-white-x2.png")
				P We build global robotic economy

			.page-error-sec
				h2 Oh, no!
				p You are using an outdated browser. Please, download up-to-date browser to view this website:
				#page-error-browsers
					a.sprite-browsers-chrome(target="_blank", href="https://www.google.com/chrome/browser/desktop/")
					a.sprite-browsers-firefox(target="_blank", href="https://www.mozilla.org/ru/firefox/new/")
					a.sprite-browsers-opera(target="_blank", href="http://www.opera.com/ru?utm_medium=roc&utm_source=burocratik&utm_campaign=outdatedbrowser")


			.page-error-sec
				p Contact with us:
				.links-list
					p: a(target="_blank", href="https://github.com/airalab") Github
					p: a(target="_blank", href="https://www.youtube.com/channel/UCNDJgugpLg0wEhADJvXD0Rg") Youtube
					p: a(target="_blank", href="https://www.facebook.com/EnsRationis2020") Facebook
					p: a(target="_blank", href="https://twitter.com/EnsRationis") Twitter