.contentBlock-about.sec-colored
	{

		@include rem('padding-top', $margin-sec*2);
	 	@include rem('padding-bottom', $margin-sec*3);

		.row [class*=col-]
		{
			margin-bottom: 0;

			&:first-child
				{
					.block-white, .block-video
						{
							float: right;
							clear: right;
						}
				}
		}

		.block-white, .block-video
			{
				display: block;
				width: 276px;
				min-height: 155px;
				box-sizing: border-box;
				margin-bottom: 30px;
				transition: all 0.2s linear;

				@media screen and (min-width: $bootstrap-sm)
					{
						
						&:last-child
							{
								margin-bottom: 0;
							}
					}

				@media screen and (max-width: $bootstrap-sm)
					{
						width: 100%;
					}
			}

		.block-video
			{
				background-color: $c-violet-dark;
			}

		.block-white
			{
				img
					{
						margin-bottom: 20px;
					}
			}
	}






.contentBlock-shemes
	{
		.js-slider
			{
				
			}
	}