.page-outdated
	{
		background-color: $c-violet-dark;
		color: $c-violet-light;

		a
			{
				color: #fff;
			}
	}


#page-outdated__content
	{
		width: 80%;
		max-width: 800px;
		margin: 0 auto;
		padding-top: 80px;

		.img-block
			{
				margin-bottom: 80px;
			}

		h2
			{
				text-align: center;
			}

		.sprite
			{
				display: block;
			}

		.d-t
			{
				margin: 0 auto;
			}

		.d-t_cell
			{
				padding: 0 15px;
			}
	}