footer(role='contentinfo')
	section.sec-dark
		.secw-base
			h2 Новости

			<a class="twitter-timeline" data-height="400" data-theme="dark" data-link-color="#F5F8FA" allowtransparency="true" data-chrome="nofooter noborders transparent noscrollbar noheader" href="https://twitter.com/AIRA_Robonomics">Tweets by AIRA_Robonomics</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>