a#fixed-telegram(href="/chat", target="_blank")
	span.sprite-basic-telegram-sign
	i Talk to us in Telegram

footer(role='contentinfo')
	//- .setw-text
	//- 	form.form-inline
	//- 		input(type="email", placeholder="Your e-mail", required)
	//- 		input.mq-min-m-ib(type="submit", value="Sign up for news")
	//- 		input.mq-m-ib(type="submit", value="Sign up")


	//- .setw-text
	//- 	.form-inline-result.msg-ok.t-center You subscribed to our email list for news

	

	#footer-content
		.setw
			.container-fluid
				.row
					.col-md-4
						section
							h4 Latest release
							a#footer-release(href="https://github.com/airalab/aira/releases", target="_blank")
								#footer-release--num 0.7
								#footer-release--text: span Robot liability prototype

						section
							h4 Developer Resources
							ul
								li
									| Create your own DAO on Ethereum Blockchain with 
									a(href="https://www.gitbook.com/book/ensrationis/learning-center-airalab", target="_blank") Airalab learning center

								li: a(href="https://github.com/airalab/aira", target="_blank") Airalab Project Repository
								li
									| All significant developed by Airalab smart contracts in repo 
									a(href="https://github.com/airalab/core", target="_blank") "Airalab Core"
								li: a(href="https://hydra.aira.life/project/aira/channel/latest", target="_blank") Nix package manager


					.col-md-4
						section
							h4 Airalab community
							p
								a(href="/chat", target="_blank")
									span.footer-socialIcons
										i.sprite-basic-telegram
									span.m-l-15 aira.life/chat

							p
								a(href="/chatru", target="_blank")
									span.footer-socialIcons
										i.sprite-basic-telegram
									span.m-l-15 aira.life/chatru

						section
							p
								a.t-white(href="https://github.com/airalab", target="_blank")
									span.footer-socialIcons
										i.sprite-basic-github
									span.m-l-15 GitHub

							p
								a.t-white(href="https://blog.aira.life", target="_blank")
									span.footer-socialIcons
										i.sprite-basic-medium
									span.m-l-15 Medium

							p
								a.t-white(href="https://twitter.com/AIRA_Robonomics", target="_blank")
									span.footer-socialIcons
										i.sprite-basic-twitter
									span.m-l-15 Twitter

							p
								a.t-white(href="https://www.youtube.com/channel/UCrSiho1uB-1n6F8cZpCLhjQ", target="_blank")
									span.footer-socialIcons
										i.sprite-basic-youtube
									span.m-l-15 YouTube


							p
								a.t-white(href="https://www.instagram.com/aira_robonomics/", target="_blank")
									span.footer-socialIcons
										i.sprite-basic-instagram
									span.m-l-15 Instagram


							p
								a.t-white(href="https://www.reddit.com/r/robonomics/", target="_blank")
									span.footer-socialIcons
										i.sprite-basic-reddit
									span.m-l-15 Reddit


					.col-md-4
						section
							h4 Tweets
							<a class="twitter-timeline" data-height="400" data-theme="dark" data-link-color="#F5F8FA" allowtransparency="true" data-chrome="nofooter noborders transparent noscrollbar noheader" href="https://twitter.com/AIRA_Robonomics">Tweets by AIRA_Robonomics</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>