header(role='banner')
	//- .b-flexline
	#header-mid
		#header-mid__content
			img#logo-robonomics(alt="", src="assets/i/logo-robonomics.svg")
			img#logo-ethereum(alt="", src="assets/i/logo-ethereum.svg")

			#header-title: span ПЛАТФОРМА РОБОНОМИКИ

		#header-canvas-wrap
			svg#header-canvas