header(role='banner')
	//- .b-flexline
	#header-mid
		img#logo-robonomics(alt="", src="assets/i/logo-robonomics.svg")
		img#logo-ethereum(alt="", src="assets/i/logo-ethereum.svg")

		svg#header-canvas(width="100%", height="100%")
		//- canvas#header-canvas



script(src='assets/js/Snap.svg-0.5.1/dist/snap.svg-min.js')
script(src='assets/js/canvas-header.js')