header(role='banner')
	//- .b-flexline
	#header-mid
		img#logo-robonomics(alt="", src="assets/i/logo-robonomics.svg")
		img#logo-ethereum(alt="", src="assets/i/logo-ethereum.svg")

		svg#header-canvas(width="3400px", height="100%")
		//- canvas#header-canvas

		//- div(style="position:absolute; left: 0; right: 0; height: 1px; background:blue; top: 279px")



script(src='assets/js/Snap.svg-0.5.1/dist/snap.svg-min.js')
script(src='assets/js/canvas-header.js')