header(role='banner')
	//- .b-flexline
	#header-mid
		img#logo-robonomics(alt="", src="assets/i/logo-robonomics.svg")
		img#logo-ethereum(alt="", src="assets/i/logo-ethereum.svg")

		svg#header-canvas