header(role='banner')
	.setw
		.b-flexline
			//- a.header-logo(href="index.html")
			//- 	img(src='assets/i/aira-logo.png', srcset='assets/i/aira-logo@2x.png')


			//- #header-mobilenav.dropdown.dropdown-menu(tabindex="1")
			//- 	a.hamburger.dropdown__toggle(tabindex="1", href="javascript:;")
			//- 		.line
			//- 		.line
			//- 		.line

			//- 	.dropdown__content
			//- 		ul
			//- 			//- li.current: a(href="index.html") Home
			//- 			li: a(href="about.html") About
			//- 			li: a(href="#") Robonomics protocol
			//- 			li: a(href="cases.html") Our experiments


			//- 		a.btn-lined.btn-lined-red.btn-small(href="#") TOKENS


			//- ul.header-desktop
			//- 	//- li.current: a(href="index.html") Home
			//- 	li: a(href="about.html") About
			//- 	li: a(href="#") Robonomics protocol
			//- 	li: a(href="cases.html") Our experiments
			//- 	//- li: a(href="https://blog.aira.life", target="_blank") Blog
			//- 	//- li: a(href="https://github.com/airalab", target="_blank") Github


			//- //- a.header-desktop.btn-lined.btn-lined-red.btn-small(href="tokens.html") BUY TOKENS
			//- a.header-desktop.t-red(href="tokens_end.html") TOKENS