.step-1-secwhite 
	{
		border: 1px solid $c-gray-dark;
		color: $c-gray-dark;
	}

input:not([type='submit']), input:not([type='button']), select
	{
		border-radius: 8px;
		border: 1px solid $c-gray-dark;
	}

input[type='submit'], input[type='button'], button
	{
		border-radius: 8px;
	}


body.step-1
	{
		position: relative;

		background-image: image-url('step-1-back@2x.png');
		background-repeat: no-repeat;
		background-position: 50% 100%;
		background-size: 3000px 400px;

		// main
		// 	{
		// 		position: relative;
		// 		z-index: 1;
		// 	}

		// .lighthouse
		// 	{
		// 	    width: 59.5px;

  //   			position: absolute;
  //   			z-index: 0;
  //   			bottom: 231px;
  //   			left: 50%;
  //   			margin-left: 227px;
		// 	}
	}