@mixin fullcoloring($background, $border, $color){
  background-color: $background;
  border-color: $border;
  color: $color;
}

@mixin btn($text, $background){
  color: $text;
  background-color: $background;

  &:not([disabled]):hover { background-color: darken($background, 10%); }
}


@mixin theme (

  $theme-class:               '.theme-light',
  
  $section-background:        #ffffff,
  $section-textcolor:         #6c757e,
  $section-border:            darken($section-background, 8%),
  $section-boxshadow:         rgba(189,197,209,.2),

  $section-background-mid:    darken($section-background, 2.5%),
  $section-textcolor-mid:     darken($section-textcolor, 3%),
  $section-border-mid:        darken($section-background, 6%),

  $section-background-dark:   darken($section-background, 3.5%),
  $section-textcolor-dark:    darken($section-textcolor, 3%),
  $section-border-dark:       darken($section-background, 12%),

  $body-background:           darken($section-background, 6%),
  $body-textcolor:            $section-textcolor-dark,

  $green:                     #54CE63,
  $orange:                    #F15A24,
  $blue:                      #03A5ED,
  $red:                       #E84004,

  $btn-textcolor:             #ffffff

){

  #{$theme-class} //body class for theme
  {
    background-color: $body-background;
    color: $body-textcolor;

    .sidebar-col
      {
        @include fullcoloring($section-background, $section-border, $section-textcolor);

        &.open{
          @include fullcoloring($section-background-dark, $section-border-dark, $section-textcolor-dark);
        }

        nav a{
          color: $body-textcolor;

          &:not([class *= 'active']):hover { color: $blue; }
          &.active { opacity: 0.7; cursor: default; }
        }
      }

    .sidebar-i--lg.on
      {
        @include fullcoloring($section-background-dark, $section-textcolor, $section-textcolor);
      }




    .panel-top
      {
        .panel-top--cell { border-color: $section-border-dark; }
      }




    .section-light
      {
        @include fullcoloring($section-background, $section-border, $section-textcolor);
        box-shadow: 0 .5rem 1.2rem $section-boxshadow;
      }

    .section-dark
      {
        @include fullcoloring($section-background-dark, $section-border-dark, $section-textcolor-dark);
      }

    .section-mid
      {
        @include fullcoloring($section-background-mid, $section-border-mid, $section-textcolor-mid);
      }






    input:not([type='submit']):not([type='button'])
    {
      border-color: rgba($body-textcolor, .5);
      background-color: $section-background;
      color: $body-textcolor;

      &.input-line
          {
            background-color: transparent;
          }
    }


    input[type="submit"], input[type="button"], button, .btn-blue{
      @include btn($btn-textcolor, $blue);
    }

    .btn-green{ @include btn($btn-textcolor, $green); }




    table
      {

        td { border-color: darken($section-background, 10%); }
        th {
          background-color: darken($section-background, 5%);
          color: $section-textcolor-dark;
          border-color: darken($section-background, 15%);
        }
        &.table-hover tr:hover td { background-color: darken($section-background, 3%); }
      }

  }

}