.tge-finish
	{
		background-color: #13022B;
		background-image: none;
	}

.tge-finish_img
	{
		display: block;
		width: 100%;
		// width: image-width('tge-finish.png');
		// height: image-height('tge-finish.png');
	}