.avatar-small
	{
		width: 25px;
		height: 25px;
		border-radius: 13px;
	}



.panel-top
  {
    padding: 10px 0;
    border-width: 1px 1px 3px;
    border-style: solid;
    margin: 40px 20px 0;

    @extend %position_sticky__top;
  }

.panel-top--cell
  {
    display: inline-block;
    vertical-align: middle;
    padding: 0 25px;
    border-width: 0 1px 0 0;
    border-style: solid;

    &:last-child { border: 0; }

    & > *{
      margin-right: 10px;
      vertical-align: middle;

      &:last-child { margin-right: 0; }
    }
  }