@mixin sectionMargins($margin){
  margin-top: $margin;
  margin-bottom: $margin;
}

@mixin sectionBorder($border, $back){
  outline: 1px solid rgba($border, .4);
  border: 20px solid $back;
}

// *[class *= 'section-'] { border-radius: 6px; }

section
  {
    position: relative;
    @include sectionMargins($margin-sec);

    section{
      @include sectionMargins($margin-sec/2);
    }

    *[class *= 'section-'] { border-radius: 6px; }
  }

.section-size-sm {
    @include sectionMargins(10px);

    section{
      @include sectionMargins(5px);
    }
}

.section-color, .window-content-light
  {
    padding: 20px;

    &.section-size-sm{
      padding: 5px;
    }
  }

.section-color--highlight, .window-content-light
  {
    background-color: $c-text;
    color: $c-background;

    .section-border
      {
        @include sectionBorder($c-background, $c-text);
      }

    table th, table td { border-color: darken($c-text, 20%); }
    table th { background-color: darken($c-text, 10%); }
    table td { background-color: $c-text; }
    .table-striped tbody tr:nth-child(even) td{ background-color: darken($c-text, 5%); }
  }

.section-shade
  {
    box-shadow: 0 4px 8px rgba(0,0,0,.47);
  }

.section-border
  {
    @include sectionBorder($c-violet, $c-background);
    // @include sectionBorder($c-text, $c-background);
  }

.section-overflowtext
  {
    max-height: 250px;
    overflow-y: auto;
    box-sizing: border-box;
  }


.section-disabled
  {
    filter: grayscale(1);
    opacity: 0.7;
    pointer-events: none;
  }

.content-in > section{
  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}



.window-head
  {
    padding: 5px $padding-fields-in;
    @extend %text_uppercase;

    display: table;
    width: 100%;
    box-sizing: border-box;

    & > * 
      {
        display: table-cell;
        vertical-align: middle;
      }

    .window-head-toggle
      {
        text-align: right;
        font-size: $font-size-base + 5;
        transition: 0.2s all ease;

        &:hover{
          color: $c-text;
          font-weight: 500;
        }
      }
  }