@mixin sectionMargins($margin){
  margin-top: $margin;
  margin-bottom: $margin;
}

section
  {
    position: relative;
    @include sectionMargins($margin-sec);

    section{
      @include sectionMargins($margin-sec/2);
    }
  }

*[class *= 'section-']
  {
    border-radius: 6px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
  }


.section-size-sm {
    border-radius: 4px;
    padding: 5px;

    @include sectionMargins(10px);

    section{
      @include sectionMargins(5px);
    }
}



// .section-overflowtext
//   {
//     max-height: 250px;
//     overflow-y: auto;
//     box-sizing: border-box;
//   }


.content-in > section{
  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}



.window-head
  {
    @extend %text_uppercase;

    display: table;
    width: 100%;
    box-sizing: border-box;

    font-size: $font-size-title - 4 * 3;

    & > * 
      {
        display: table-cell;
        vertical-align: middle;
      }

    .window-head-toggle
      {
        text-align: right;
        font-size: $font-size-base + 5;
        transition: 0.2s all ease;

        &:hover{
          font-weight: 500;
        }
      }
  }

.window-content { margin-top: $margin-sec/2; }