extends extends/layout.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')#header-index.screen

		include mixins/sections.pug
		+header_top()

		#header-mid.screen.align-vertical
			.el-FrontContent.secw-full
				.el-FrontContent
					div#header-logo-robonomics(data-xrange="20", data-yrange="20").plaxify
						<svg class="logo-robonomics" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="196.9px" height="170.3px" viewBox="0 0 196.9 170.3" style="enable-background:new 0 0 196.9 170.3;" xml:space="preserve">
							<g transform="translate(2530 155)">
								<path class="line" d="M-2523.4,7.9l184.2,0.5l-91.7-158.1L-2523.4,7.9z"/>

								<circle class="dot" cx="-2339.7" cy="8.7" r="6.6"/>
								<circle class="dot" cx="-2523.4" cy="8.2" r="6.6"/>
								<circle class="dot" cx="-2430.8" cy="-148.4" r="6.6"/>
								
								<path class="triangle-1" d="M-2477.3-18.3l92.1,0.3l-45.8-79L-2477.3-18.3z"/>
								<path class="triangle-2" d="M-2431.2-18.1l46,0.1l-45.8-79L-2431.2-18.1z"/>
								<path class="triangle-3" d="M-2477.3-18.3l92.1,0.3l-46-20.3L-2477.3-18.3z"/>
							</g>
						</svg>


					img#logo-ethereum(alt="", src="assets/i/logo-ethereum.svg", data-xrange="50", data-yrange="50").plaxify


					.secw-base
						#header-title: h1 ПЛАТФОРМА РОБОНОМИКИ
						#header-subtitle Инфраструктура сети Ethereum для интеграции кибер-физических систем в умные города и Индустрии 4.0

				#header-index__ethereum.snapsvgoutside-text.plaxify(data-xrange="10", data-yrange="10")
					span e
					span t
					span h
					span e
					span r
					span e
					span u
					span m


				#header-index__robonomics.snapsvgoutside-text.plaxify(data-xrange="10", data-yrange="10")
					span r
					span o
					span b
					span o
					span n
					span o
					span m
					span i
					span c
					span s


			#snapsvg-index.snapsvg-wrap
				svg.snapsvg

		#header-link__down
			a(href="#index-terminal") Попробовать


	section#index-terminal
		#app.secw-base
			.row
				.col-md-6
					.progress
						.progress-bar(v-bind:style="progress")

					#index-terminal__info.row
						.col-3
							#index-terminal__step
								b {{ curStep }} шаг
								| из {{ commands.length }}
						.col-9
							h3 НАЧАЛО РАБОТЫ С СЕТЬЮ РОБОНОМИКА
							p Робономика – это большая децентрализованная сеть контроля и оказания услуг кибер-физическими системами, адаптирующаяся к потребностям человека.
							p Для работы с сетью создайте экземпляр объекта сети, набрав в терминале команду:
							p: a#index-terminal__info_cmd(href="#", @click.prevent="setCmd") {{ getCmd }}

				.col-md-6
					.terminal__window
						.terminal__window_head Terminal
						.terminal__window_content
							p Press enter to submit commands
							<p class="cmd" v-html="entry" v-for="entry in history">{{ entry }}</p>
							<p class="input">
								//- <input type="text" v-model="cmd" @keyup.enter="process" autofocus>
								<textarea ref="cmdInput" v-model.trim="cmd" @keyup.enter="process" autofocus></textarea>
							</p>
					.terminal__window
						.terminal__window_head Terminal
						.terminal__window_content 1

					
					
					
		script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
		script(src='assets/js/vue-init.js')



	main(role="main")

		section.contentBlock-token
			.secw-base
				h2 Для держателей токенов и майнеров

			.sec-dots__gray
				.secw-base
					.sec-pad
						.contentBlock-token__info
							include mixins/tokenLined.pug
							+tokenLined()


							.t-big
								p Для создания экономических стимулов поддержания работы инфраструктуры в пиринговой сети Ethereum будет выпущен внутренний токен Robonomics token (XRT).
								p XRT будет требоваться каждый раз, когда возникнет необходимость обеспечить верификацию результата исполнения работы умной фабрики или города.

							

						h3 XRT TGE в 3 этапа

						.block-gList.row
							.col-sm-4
								.block-gList__bul: span.t-blue 1
								.block-gList__text Распродажа токенов доступа к инфраструктуре сети робономики в формате Голландского аукциона для поиска рыночной цены перед выходом токена на биржу.
							.col-sm-4
								.block-gList__bul: span 2
								.block-gList__text Выделение XRT токенов на поддержку сети майнеров за актуальную версию ПО, выполняющую тестовую функцию.
							.col-sm-4
								.block-gList__bul: span 3
								.block-gList__text Запуск перегонного куба для конвертации AIR токенов, баунти релиза “Маяк” и токенов Голландского аукциона.



		section.sec-black
			.secw-base
				h2 План развития инфраструктуры

				.sec-pad.contentBlock-roadmap
					.row
						.col-md-3.roadmap-gray
							.roadmap-title
								.roadmap-title__in
									div Q1 2018
									div Lighthouse
							.roadmap-desc Релиз сигнализирующий о начале работы платформы для разработчиков решений Умных городов и Индустрии 4.0. Следящие узлы системы сообщают в блоках сети Ethereum о поддержке релиза.

						.col-md-3
							.roadmap-title
								.roadmap-title__in
									div Q2 2018
									div Observerer
							.roadmap-desc С данного релиза начинается измерения важных для платформы показателей работы сети за счет сравнения результатов работы эталонной ноды и результатов, получаемых от сети.

						.col-md-3
							.roadmap-title
								.roadmap-title__in
									div Q1-Q2 2019
									div Cybernetics economy
							.roadmap-desc Участники сети обладают необходимыми возможностями для работы умных городов и умных фабрик в ответ на экономически значимые транзакции.

						.col-md-3
							.roadmap-title
								.roadmap-title__in
									div Q3 2019 - Q2 2020
									div Lights-out
							.roadmap-desc Сеть способна взять на себя задачи по управлению роботизированными цепочками обеспечения.


					.row
						.col-12
							.roadmap-title
								.roadmap-title__in
									div Robonomics future
							.roadmap-desc Мы верим в счастливое будущее Робономики
