extends extends/layout.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()

	main(role="main")
		section
			.secw-narrow
				h1 You have been added to whitelist

			section.section__intro.gray#page-news
				.section__intro_content.secw-narrow
					h3.m-b-0: b Your e-mail: 
						span.t-green nastin_box@list.ru
					p: i You will be notified about Robonomics.network TGE by email to this address 
					

					section.t-small
						b Scammer alert
						br/
						| No one from robonomics.network / AIRA team will send you a private message containing any contribution address or offering any bonus. Please be on the lookout for scammers who impersonate admins and send private messages with fake ETH address.


				.sec-dots__gray.sec_mid__left