/*======== FORMS VARIABLES & MIXINS & EXTENDS =========*/
$btn-padding-v: 10px;
$inp-padding-v: $btn-padding-v;
$inp-padding-g: 20px;

$inp-margin-b: $vertical-rythm * 0.7;

$color-input-background: #fff;
$color-input-border: $c-gray-mid;
$color-input-text: $c-text;
$color-input-placeholder: $c-gray-mid;
$color-disabled-button-background: $c-violet-dark;
$color-error: $c-red;
$color-ok: $c-green;
$color-wait: $c-yellow;

$fontsize-input: $font-size-base;

%form_e_base{
	@extend %font_base;
	@extend %text_uppercase;
	font-size: $fontsize-input;
	font-weight: 500;
	text-align: center;
	background-color: $color-input-background;
  	border: 1px solid $color-input-border;
  	border-radius: 4px;

  	display: inline-block;
  	box-sizing: border-box;
  	padding: $inp-padding-v $inp-padding-g;

  	&[disabled], &.disabled{
	    cursor: default;
  	}

  	&::placeholder
	  	{
	  		@extend %font_base;
	  		font-size: $fontsize-input;
	  		color: $color-input-placeholder;
	  	}

	&.error
		{
			border-color: $color-error;
		}
}

%form_b_base{
	@extend %link_noline;

  	appearance: none;
  	-webkit-appearance: none;
  	border: 0;
  	cursor: pointer;
  	transition: all 0.2s ease-in-out;
  	letter-spacing: 2px;
  	word-spacing: 3px;

  	&.error
		{
			&, &:hover { background-color: $color-error; }
		}

	&[disabled], &.disabled{
		&, &:hover
			{
				background-color: $color-disabled-button-background;
				cursor: default;
			}
	}
}

%btn_lined{
	@extend %text_uppercase;
	@extend %link_noline;
	display: inline-block;
	font-size: 22px;
	font-weight: 400;
	transition: 0.2s color ease-in;
}

@mixin btn_col($back, $text: #fff){
	background-color: $back;
	color: $text;
	transition: 0.2s all ease-in;

	&:hover{
		background-color: darken($back, 10%);
	}
}




/*======== INPUTS =========*/

input:not([type='submit']):not([type='button']){
  @extend %form_e_base;
  color: $color-input-text;

  &.error
  	{
  		border-color: $color-error;
  	}

  &[disabled]
  	{
  		opacity: 0.8;
  	}
}



/*======== BUTTONS =========*/
input[type='submit'], input[type='button'], button, a.btn-green{

	@extend %form_e_base;
	@extend %form_b_base;
	@include btn_col($c-green);
	@extend %link_noline;
}

a.btn-red, input.btn-red, button.btn-red{
	@extend %form_e_base;
	@extend %form_b_base;

	@include btn_col($c-orange);
}

a.btn-blue, input.btn-blue, button.btn-blue{
	@extend %form_e_base;
	@extend %form_b_base;

	@include btn_col($c-blue);
}


a.btn__text_orange{
	@extend %btn_lined;
	color: $c-orange;

	&:hover{
		color: $c-green;
	}
}




@keyframes rotateLoader
	{
		0%
			{
				transform:rotate(0deg);
			}
		100%
			{
				transform:rotate(360deg);
			}
	}

span.loader
	{
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		border-radius: 20px;
		border-color: rgba($color-input-text, 5);
		border-top: 1px solid $color-input-text;
		border-right: 1px solid $color-input-text;

		animation: 0.8s rotateLoader ease-in-out infinite;
	}





.msg_ok, .msg_error, .msg_wait
	{
		@extend %font_base;
		@extend %text_uppercase;
		font-weight: 500;
	}

.msg_error
	{
		&:before
			{
				content: "✘ ";
				color: $color-error;
				font-size: 26px;
			}
	}

.msg_ok
	{
		&:before
			{
				content: "✓ ";
				color: $color-ok;
				font-size: 26px;
			}
	}

.msg_wait
	{
		&:before
			{
				content: "✓ ";
				color: $color-wait;
				font-size: 26px;
			}
	}