html
  {
    height: 100%;
    min-height: 100%;
  }

html, body
  {
    position: relative;
  }


body
  {
    opacity: 0;
    animation: 0.4s FadeIn ease-in forwards;

    color: $c-text;
    background-color: $c-background;
  }



/*====== Set width of container ======*/
.container-basic { @include secw($mq-desktop); }
.container-full {  width: 100%; box-sizing: border-box; }
.container-padding { @include secw(100%); }
/*====== end of Set width of container ======*/



/*====== Basic elements ======*/

header[role='banner']
  {
    padding-top: 10px;
    padding-bottom: 15px;

    &.header-solid
      {
        background-color: lighten($c-violet-red, 2%);
        // background-color: #271c4e;
      }
  }

.header-logo
  {
    @extend %d-inlineblock;
    max-width: 35px;
    margin-right: 20px;

    img{  @extend %i-block; }
  }

.header-title
  {
    @extend %d-inlineblock;
    font-size: 18px;

    @include mobile(){
      display: none;
    }
  }




footer[role='contentinfo']
  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

main[role='main']
  {
    padding-top: 20px;
    padding-bottom: 120px;

    @include mobile(){
      padding-bottom: 200px;
    }
  }
/*====== end of Basic elements ======*/





/*====== Flow elements ======*/

.f-zoom { overflow: hidden; }
.f-left { float: left; }
.f-right { float: right; }


.d-table
  {
    display: table;

    & > *{
      display: table-cell;
    }
  }

.d-table_row, .d-table--row { display: table-row; }
.d-table_cell, .d-table--cell { display: table-cell; }

.d-inlineblock
  {
    display: inline-block !important;
    vertical-align: middle;
  }
.d-block { display: block !important; }

.align-vertical { vertical-align: middle; }

.p-relative { position: relative;  }

/*====== Flow elements ======*/






/*====== Transitions ======*/

// .fadeOut, .visible { transition: 0.3s ease-in-out opacity; }
// .fadeOut { visibility: hidden; opacity: 0; }
// .visible { opacity: 1; visibility: visible; }

/*====== end of Transitions ======*/






/*====== Bootstrap ======*/

.row-wrap { overflow-x: hidden; }

.row
  {

    @media screen and (max-width: $bootstrap-md){
      *[class*='col-md']
        {
          margin-bottom: $vertical-rythm;
        }
    }

    @media screen and (max-width: $bootstrap-lg){
      *[class*='col-lg']
        {
          margin-bottom: $vertical-rythm;
        }
    }

  }

// .row-marged_cols{
//   *[class*='col-']
//       {
//         margin-bottom: $vertical-rythm;
//       }
// }
/*====== end of Bootstrap ======*/



/*====== Sections ======*/

@mixin sectionMargins($margin){
  margin-bottom: $margin;
  &:last-child { margin-bottom: 0; }
}

@mixin sectionBorder($border, $back){
  outline: 1px solid rgba($border, .4);
  border: 20px solid $back;
}

section
  {
    position: relative;
    @include sectionMargins($margin-sec);

    section{
      @include sectionMargins($margin-sec/2);
    }
  }

.section-size-sm {
    @include sectionMargins(10px);

    section{
      @include sectionMargins(5px);
    }
}

.section-color
  {
    padding: 40px;

    @include mobile()
    {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }


    &.section-size-sm{
      padding: 15px;

      @include mobile()
      {
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
    }
  }

.section-color--highlight
  {
    background-color: $c-text;
    color: $c-background;

    .section-border
      {
        @include sectionBorder($c-background, $c-text);
      }
  }

.section-shade
  {
    box-shadow: 0 4px 8px rgba(0,0,0,.47);
  }

.section-border
  {
    // border: 1px solid rgba($c-text, .8);
    @include sectionBorder($c-text, $c-background);
  }

.section-overflowtext
  {
    max-height: 440px;
    overflow-y: auto;
    box-sizing: border-box;
  }

/*====== end of Sections ======*/




/*====== Navigation ======*/

.dropdown
  {
    position: relative;

    & > .dropdown-content
      {
        visibility: hidden;
        opacity: 0;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        text-align: left;

        box-sizing: border-box;
        max-height: calc(100vh - 61px);
        overflow-y: auto;

        padding-top: 10px;
      }

    .dropdown-content-color{
      right: -20px;
    }

    &:hover
      {
        & > .dropdown-content { animation: 0.2s FadeIn 0.4s ease-out forwards; }
      }


    .dropdown-content
      {
        a{
          display: block;
          margin: 10px 0;
          // border-bottom: 1px solid $c-violet-pale;
          white-space: nowrap;

          &:first-child { margin-top: 0; }
          &:last-child { border-bottom: none; margin-bottom: 0; }
        }
      }


    &.dropdown-color, .dropdown-content-color .inside{
      padding: 20px;
      background: lighten($c-violet-red, 5%);
      border: 1px solid $c-violet-pale;
      border-radius: 4px;
    }

    &.dropdown-color
      {
        padding: 10px 20px;

        a { display: block; }
      }
  }


header[role='banner']
{
  nav
    {
      @extend %text_uppercase;

      &, a{
        color: #fff;

        &:hover{
          color: $c-orange;
        }
      }
    }


  nav.nav-g
    {
      & > * {
        @extend %d-inlineblock;
        margin-right: 30px;

        &:last-child{
          margin-right: 0;
        }
      }
    }

  .dropdown .dropdown-content{
    left: auto;
    right: 0;
  }
}

/*====== end of Navigation ======*/




/*====== Random ======*/



.separator-dark, .separator-light, .separator-pale
  {
    height: 1px;
    background-color: $c-text;
  }

.separator-light { background-color: #fff; }
.separator-pale { background-color: $c-violet-pale; }

.separator-animated
  {
    transform: scale(0);
    
    &.isInView { animation: ScaleIn 0.6s 0.8s ease-in-out forwards; }
  }


 
/*====== end of Random ======*/




/*====== Loading ======*/

.loading-logo {
  position: relative;
  @extend %d-inlineblock;
  padding-top: 20px;

  &:after{
    content:"DAPP";

    position: absolute;
    right: - 80px;
    top: 0;

    font-size: 30px;
    color: $c-violet-pale;
    @extend %text_uppercase;
  }
}

.loading-title{
  font-size: 26px;
  font-weight: 500;
}

.loader-ring
 {
   position: relative;
   display: inline-block;
   height: 20px;
   width: 20px;
   border-radius: 20px;
   border-color: #fff;
   border-top: 2px solid #fff;
   border-right: 2px solid #fff;

   animation: 0.8s Rotate ease-in-out infinite;
 }

/*====== end of Loading ======*/


