.flexcols { @extend %flex_columns; }

.sidebar
  {
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    nav a { white-space: nowrap; }

    span[class^='i-'] { margin-right: 10px; }
  }

.content { width: 100%; }
.content-in { padding: 40px 20px; }

.sidebar-col
  {
    position: relative;
    
    .sidebar-col-in { padding: 40px 20px; }
    section:first-child { margin-top: 0; }
  }

.sidebar-col--bottom
  {
    position: absolute;
    bottom: 0;
  }

.sidebar-col-padding
  {
    padding-top: 41px + 10px + $margin-sec;

    section:first-child { padding-top: 0; }
  }

.sidebar-i--lg
  {
    $size-i--lg: 38px;

    width: $size-i--lg;
    height: $size-i--lg;
    border-radius: $size-i--lg/2;
    border-width: 1px;
    border-style: solid;

    @extend %flex_center;
    margin: 0 auto 20px;

    transition: 0.2s all ease;

    &:last-child { margin-bottom: 0; }

    // &.on{
    //   background-color: $c-text;
    //   color: $c-background;
    // }

    &#sidebar-show--nav.on{ transform:rotate(-180deg); }
  }

#sidebar-nav0 span[class^='i-']
  {
    font-size: $font-size-base*2;
    margin-right: 0;
  }


// .sidebar nav .active
// 	{
// 	}

