.flexsols { @extend %flex_columns; }

.sidebar
  {
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    nav a { white-space: nowrap; }
  }

.content-in { padding: 40px 20px; }

.sidebar-col
  {
    position: relative;
    
    .sidebar-col-in { padding: 40px 20px; }
    section:first-child { margin-top: 0; }
  }

.sidebar-col--sm .sidebar-col-in
  {
    padding-left: 10px;
    padding-right: 10px;
  }

.sidebar-col--bottom
  {
    position: absolute;
    bottom: 0;
  }

.sidebar-col-padding
  {
    padding-top: 41px + 10px + $margin-sec;

    section:first-child { padding-top: 0; }
  }

.sidebar-i--lg
  {
    $size-i--lg: 42px;

    width: $size-i--lg;
    height: $size-i--lg;
    border-radius: $size-i--lg/2;

    border: 1px solid $c-text;
    &, &:hover { color: $c-text; }
    @extend %flex_center;
    margin: 0 auto 20px;


    transition: 0.2s all ease;

    &:last-child { margin-bottom: 0; }

    &.on{
      background-color: $c-text;
      color: $c-background;
    }

    &#sidebar-i-nav.on{
      transform:rotate(-180deg);
    }
  }
 

@media screen and (max-width: 1140px)
  {
    //@extend %hidden
    #sidebar-nav1
      {
        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 0;
      }

    //@extend %visible
    #sidebar-nav0
      {
        visibility: visible;
        opacity: 1;
        width: auto;
        height: auto;
      }
  }


// .sidebar nav .active
// 	{
// 	}

