extends extends/layout.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()

	main(role="main")
		.secw-narrow
			h1 Logo & assets

		.line-right-red
			.secw-narrow
				div

		section.p-b-0
			h2.secw-narrow Robonomics visual identity
			.secw-base
				.row
					.col-md-4.col-sm-6
						a.img-preview-vivid(href="https://static.robonomics.network/assets/Robonomics-Visual-Identity.pdf", target="_blank"): img(alt="", src="assets/i/assets-preview-visual-identity@2x.png")
					.col-md-5.col-sm-6
						p Все о том, как использовать логотип и шрифты сети Робономика.
						p Дата обновления: февраль 2018 
						p: a(href="https://static.robonomics.network/assets/Robonomics-Visual-Identity.pdf", target="_blank") Robonomics Brandbook (pdf, ~12Mb)

		section
			h2.secw-narrow Robonomics logo
			p: span.secw-narrow Наведите на логотип, чтобы загрузить в нужном вам формате. Или скачайте сразу 
				a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets.zip", target="_blank") весь архив с файлами (.PNG и .EPS)

			.secw-base.t-center
				.row
					.col-md-3.t-center
						.assets-logo
							img(alt="", src="assets/i/logo-assets-previews/1_Robonomics_logo_color_preview.png")
							.assets-logo-download
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/1_Robonomics_logo_color.png", target="_blank") PNG
								|  / 
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/1_Robonomics_logo_color.eps", target="_blank") EPS

						.assets-logo
							img(alt="", src="assets/i/logo-assets-previews/5_Robonomics_logo_xrt_color_preview.png")
							.assets-logo-download
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/5_Robonomics_logo_xrt_color.png", target="_blank") PNG
								|  / 
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/5_Robonomics_logo_xrt_color.eps", target="_blank") EPS

						.assets-logo
							img(alt="", src="assets/i/logo-assets-previews/9_Robonomics_logo_title_color_preview.png")
							.assets-logo-download
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/9_Robonomics_logo_title_color.png", target="_blank") PNG
								|  / 
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/9_Robonomics_logo_title_color.eps", target="_blank") EPS

						.assets-logo
							img(alt="", src="assets/i/logo-assets-previews/13_Robonomics_logo_line_color_preview.png")
							.assets-logo-download
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/13_Robonomics_logo_line_color.png", target="_blank") PNG
								|  / 
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/13_Robonomics_logo_line_color.eps", target="_blank") EPS

					.col-md-3.t-center
						.assets-logo
							img(alt="", src="assets/i/logo-assets-previews/2_Robonomics_logo_grayscale_preview.png")
							.assets-logo-download
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/2_Robonomics_logo_grayscale.png", target="_blank") PNG
								|  / 
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/2_Robonomics_logo_grayscale.eps", target="_blank") EPS

						.assets-logo
							img(alt="", src="assets/i/logo-assets-previews/6_Robonomics_logo_xrt_grayscale_preview.png")
							.assets-logo-download
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/6_Robonomics_logo_xrt_grayscale.png", target="_blank") PNG
								|  / 
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/6_Robonomics_logo_xrt_grayscale.eps", target="_blank") EPS

						.assets-logo
							img(alt="", src="assets/i/logo-assets-previews/10_Robonomics_logo_title_grayscale_preview.png")
							.assets-logo-download
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/10_Robonomics_logo_title_grayscale.png", target="_blank") PNG
								|  / 
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/10_Robonomics_logo_title_grayscale.eps", target="_blank") EPS

						.assets-logo
							img(alt="", src="assets/i/logo-assets-previews/14_Robonomics_logo_line_grayscale_preview.png")
							.assets-logo-download
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/14_Robonomics_logo_line_grayscale.png", target="_blank") PNG
								|  / 
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/14_Robonomics_logo_line_grayscale.eps", target="_blank") EPS

					.col-md-3.t-center
						.assets-logos-white
							.assets-logo
								img(alt="", src="assets/i/logo-assets-previews/3_Robonomics_logo_white_preview.png")
								.assets-logo-download
									a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/3_Robonomics_logo_white.png", target="_blank") PNG
									|  / 
									a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/3_Robonomics_logo_white.eps", target="_blank") EPS

							.assets-logo
								img(alt="", src="assets/i/logo-assets-previews/7_Robonomics_logo_xrt_white_preview.png")
								.assets-logo-download
									a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/7_Robonomics_logo_xrt_white.png", target="_blank") PNG
									|  / 
									a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/7_Robonomics_logo_xrt_white.eps", target="_blank") EPS

							.assets-logo
								img(alt="", src="assets/i/logo-assets-previews/11_Robonomics_logo_title_white_preview.png")
								.assets-logo-download
									a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/11_Robonomics_logo_title_white.png", target="_blank") PNG
									|  / 
									a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/11_Robonomics_logo_title_white.eps", target="_blank") EPS

							.assets-logo
								img(alt="", src="assets/i/logo-assets-previews/15_Robonomics_logo_line_white_preview.png")
								.assets-logo-download
									a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/15_Robonomics_logo_line_white.png", target="_blank") PNG
									|  / 
									a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/15_Robonomics_logo_line_white.eps", target="_blank") EPS

					.col-md-3.t-center
						
						.assets-logo
							img(alt="", src="assets/i/logo-assets-previews/4_Robonomics_logo_black_preview.png")
							.assets-logo-download
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/4_Robonomics_logo_black.png", target="_blank") PNG
								|  / 
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/4_Robonomics_logo_black.eps", target="_blank") EPS
						
						.assets-logo
							img(alt="", src="assets/i/logo-assets-previews/8_Robonomics_logo_xrt_black_preview.png")
							.assets-logo-download
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/8_Robonomics_logo_xrt_black.png", target="_blank") PNG
								|  / 
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/8_Robonomics_logo_xrt_black.eps", target="_blank") EPS

						.assets-logo
							img(alt="", src="assets/i/logo-assets-previews/12_Robonomics_logo_title_black_preview.png")
							.assets-logo-download
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/12_Robonomics_logo_title_black.png", target="_blank") PNG
								|  / 
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/12_Robonomics_logo_title_black.eps", target="_blank") EPS

						.assets-logo
							img(alt="", src="assets/i/logo-assets-previews/16_Robonomics_logo_line_black_preview.png")
							.assets-logo-download
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/16_Robonomics_logo_line_black.png", target="_blank") PNG
								|  / 
								a(href="https://static.robonomics.network/assets/Robonomics-Logo-Assets/16_Robonomics_logo_line_black.eps", target="_blank") EPS


	section.sec-gray.back-telegram
		.secw-narrow
			h2.t-center Robonomics Telegram stickers
			p: img.img-block(alt="", src="assets/i/assets-stickers-1@2x.png")
			p.t-center.m-b-half: b.t-green.t-mid БОЛЕЕ 20 СТИКЕРОВ
			p.t-center: a.btn-green(href="https://t.me/addstickers/robonomics_network", target="_blank") Добавить набор в Telegram

			p: img.img-block(alt="", src="assets/i/assets-stickers-2@2x.png")

	section
		.secw-narrow.t-center Credits for graphic and brand design Anna Wimmer-Savinova, for web design and front-end Anastasiia Bakai @positivecrash.