extends extends/layout.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()

	main(role="main")
		.secw-narrow
			h1 Bounty для майнеров

		section.section__intro.red.section__synopsis
			.section__intro_content.secw-narrow
				p С июня 2018 года Робономика запустилась в Ethereum mainnet и абсолютно любой держатель ETH может стать её провайдером. Ознакомьтесь с информацией ниже, участвуйте и получайте вознаграждение за тестирование сети.

			.snapsvg-wrap-1.snapsvg-wrap
				svg.snapsvg


		section.secw-narrow
			h2 Кто такие провайдеры сети Робономика
			p Задача токена Робономики – обеспечить работу децентрализованной сети по обслуживанию Умных городов и Индустрии 4.0 в инфраструктуре Ethereum. Для достижения данной цели в экономике токена необходимо отразить стимулы выполнения полезной функции сети независимыми провайдерами. Мы стремимся к тому, чтобы мотивировать провайдеров, то есть вас, запускать программу Робономики в EVM с данными, необходимыми пользователям сети. Итак, вы получаете XRT, сеть работает, а значит работают сервисы Умных городов и Индустрии 4.0. 
				a(href="#", target="_blank") Подробнее в Whitepaper (pdf, ~2,5Mb)

			h2 В чем особенность эмиссии XRT
			p В нашем проекте мы работаем над рядом экспериментальных идей. В том числе, мы рассматриваем эмиссию токенов как поощрение за исполнение программы Робономики в Ethereum компьютере. 
				a(href="#", target="_blank") Подробнее в пункте 6 Whitepaper (pdf, ~2,5Mb)


			h2 Альфа релиз в Ethereum mainnet
			p 14 июня 2018 года вы запустили альфа версию инфраструктуры умных контрактов Робономики в Ethereum mainnet. Главная задача, которую мы решаем альфа релизом — это внедрение версионности платформы Робономики и тестирование механизма эмиссии XRT в соотвествии с моделью описанной в 
				a(href="#", target="_blank") белой бумаге(pdf, ~2,5Mb).


			div.section__firstTransaction
				.row
					.col-sm-8.offset-sm-4
						h4 Первая транзакция на эмиссию XRT
						p Эмиссия составила 0.000973391 XRT или  973 391 Wn.
						p Затраты провайдерам Робономики:
						ul
							li 890 287 газа на создание контрактного обязательства;
							li 168 153 газа на финализацию контрактного обязательства.

						a(href="#", target="_blank") Подробнее


		section.sec-orange
			.secw-narrow
				h2 Пробуем эмиссию XRT у себя
				p У нас готова инструкция, с помощью которой можно создать свой маяк и «поработать» на нём, получив эмиссию XRT.
				blockquote Предупреждаем, что это альфа релиз, и то, что вы «намайните», не будет оригинальным токеном XRT, но мы готовим баунти программу, воспользовавшись которой, можно будет перевести XRT alfa в будущие «оригинальные».
				p
					| Ознакомьтесь с инструкцией по созданию маяка и работе с ним:
					br/
					a(href="#", target="_blank"): b Google документ

				p
					| Скачайте программу для работы с маяком:
					br/
					a(href="#", target="_blank"): b Windows (.zip, ~3,8Mb)
					br/
					a(href="#", target="_blank"): b Linux (build from source)

		+widget_newssubscription_light()