extends extends/layout.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()

	main(role="main")
		section
			.secw-narrow
				h1 Bounty для майнеров

			section.section_lined__red.section__synopsis
				.secw-narrow
					p С июня 2018 года Робономика запустилась в Ethereum mainnet и абсолютно любой держатель ETH может стать её провайдером. Ознакомьтесь с информацией ниже, участвуйте и получайте вознаграждение за тестирование сети.

				.snapsvg-wrap-1.snapsvg-wrap
					svg.snapsvg


			section.secw-narrow
				h2 Кто такие провайдеры сети Робономика
				p Задача токена Робономики – обеспечить работу децентрализованной сети по обслуживанию Умных городов и Индустрии 4.0 в инфраструктуре Ethereum. Для достижения данной цели в экономике токена необходимо отразить стимулы выполнения полезной функции сети независимыми провайдерами. Мы стремимся к тому, чтобы мотивировать провайдеров, то есть вас, запускать программу Робономики в EVM с данными, необходимыми пользователям сети. Итак, вы получаете XRT, сеть работает, а значит работают сервисы Умных городов и Индустрии 4.0. 
					a(href="#", target="_blank") Подробнее в Whitepaper (pdf, ~2,5Mb)