extends extends/layout.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()

	main(role="main")
		.secw-narrow
			h1 Сценарии

		.line-right-red
			.secw-narrow
				div

		section.secw-narrow
			table
				thead
					tr
						th Для стартапов и бизнес-девелоперов
						th Для робототехников и инженеров
				tbody
					tr
						td Запуск платформы умного города с нулевыми затратами
						td Построение мультиагентной системы на основе p2p технологий:
					tr
						td(colspan="2")
							ul.list-small.m-b-0
								li Построение открытой сенсорной сети;
								li Построение сенсорной сети с механизмом подписки на данные;
								li Создание IoT data marketplace.
					tr
						td Robot-as-a-Service
						td Управление кибер-физической системой с помощью децентрализованного компьютера
					tr
						td(colspan="2")
							ul.list-small.m-b-0
								li Запуск робота с помощью Ethereum-контракта;
								li Доставка программы для исполнения роботом;
								li Наблюдение за логами робота;
								li Контроль исполнения обязательств робота.
					tr
						td Цифровые рынки умного города
						td Построение сети провайдеров Робономики
					tr
						td(colspan="2")
							ul.list-small.m-b-0
								li Использование отложенных транзакций для поселения сделок в Blockchain;
								li Запуск провайдера сети Робономика для создания собственного цифрового рынка.

		+widget_newssubscription_light()