extends extends/layout.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()

	main(role="main")
		.secw-narrow
			h1 Documents

		.line-right-red
			.secw-narrow
				div

		section.p-t-0
			section.p-b-0.secw-narrow
				.row
					.col-sm-2
						a(href="#", target="_blank"): img.img-block(alt="", src="assets/i/docs-white-paper.png")
					.col-sm-10
						h4: a(href="#", target="_blank") White Paper – May 12, 2018
						p 
							| Robonomics: platform for integration of cyber physical systems into human economy
							br/
							b PDF ~ 2 MB
							br/
							b.d-ib.m-r-10: b All languages:
							a.d-ib.m-r-10.sprite-basic-flag-en(href="")
							a.d-ib.m-r-10.sprite-basic-flag-ru(href="")
							a.d-ib.m-r-10.sprite-basic-flag-zh(href="")
							a.d-ib.m-r-10.sprite-basic-flag-de(href="")

			section.p-b-0.secw-narrow
				.row
					.col-sm-2
						a(href="#", target="_blank"): img.img-block(alt="", src="assets/i/docs-book-1-en.jpg")
					.col-sm-10
						h4: a(href="#", target="_blank") Book «Robot economics» vol. 1, 2017
						p: b PDF ~ 21 MB


			section.secw-narrow
				.row
					.col-sm-2
						a(href="#", target="_blank"): img.img-block(alt="", src="assets/i/docs-book-2-en.jpg")
					.col-sm-10
						h4: a(href="#", target="_blank") Book «Robot economics» vol. 2, 2018
						p
							b PDF ~ 23 MB
							br/
							b IPFS: 
							b: a(href="#", target="_blank") QmQ3k8p9SQS5wjovPcjUtQceRZZ6nv3Eqirt1vVQ2wP2JL


		.secw-narrow
			h2 Scientific researches

		.line-right-red
			.secw-narrow
				div

		section.secw-narrow
			ul.list-lined.t-mid
				li
					a(href="https://www.researchgate.net/publication/325451400_Blockchain-based_protocol_of_autonomous_business_activity_for_multi-agent_systems_consisting_of_UAVs", target="_blank")
						span.label-blue.m-r-10 RED-UAS 2017 &nbsp;&nbsp; 05.10.17 &nbsp;&nbsp; Sweden, Linköping 
						b Blockchain-based protocol of autonomous business activity for multi-agent systems consisting of UAVs ↗

				li
					a(href="https://www.researchgate.net/publication/327701513_Blockchain_based_protocol_for_economical_communication_in_Industry_40", target="_blank")
						span.label-blue.m-r-10 Crypto Valley Conference 2018 &nbsp;&nbsp; 22.06.18 &nbsp;&nbsp; Switzerland, Zug
						b Blockchain based protocol for economical communication in Industry 4.0 ↗

				li
					a(href="https://www.researchgate.net/publication/328449781_Robonomics_based_on_Blockchain_as_a_principle_of_creating_smart_factories", target="_blank")
						span.label-blue.m-r-10 IoTSMS 2018 &nbsp;&nbsp; 18.10.18 &nbsp;&nbsp; Spain, Valencia
						b Robonomics based on Blockchain as a principle of creating smart factories ↗

				li
					span.label-dark.m-r-10 ICAME 2018 &nbsp;&nbsp; 11.11.18 &nbsp;&nbsp; Singapore, Singapore
					b Protocol for organization of a decentralized autonomous agents network in factories using market mechanisms

				li
					span.label-dark.m-r-10 Symposium on Blockchain for Robotics &nbsp;&nbsp; 05.12.18 &nbsp;&nbsp; USA, Cambridge
					b Robotic Services for New Paradigm Smart Cities Based on Decentralized Technologies