extends extends/layout.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()

	main(role="main")
		section
			.secw-narrow
				h1 Подтверждение подписки

			section.sec-contents.section_lined__gray#page-news
				.secw-narrow
					h3.m-b-0: b Ваш e-mail: 
						span.t-green nastin_box@list.ru
					p: i подписан на e-mail рассылку Robonomics.network
					p Присоединяйтесь к нам в 
						a(href="https://aira.life/chat" target="_blank") Телеграм-чате
						| для обсуждения наших проектов и новостей в области Робономики, Умных Городов, Индустрии 4.0


				.sec-dots__gray.sec_mid__left