extends extends/layout.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()

	main(role="main")
		.secw-narrow
			h1 Terms of Service Airalab

			section.p-t-0
				ol
					li By accessing and using the Website, You agree to the following terms of use as they may be modified, changed, supplemented or updated from time to time (collectively, these “terms”), as well as all applicable laws and regulations. Please read the following terms and conditions carefully. If You do not agree with all of these terms, please do not use this Website or any information, links or content contained on this Website. Your access to and use of this Website constitutes Your  acceptance of and agreement to abide by each of the terms set forth below including Our  Privacy Policy which is hereby incorporated in these terms by reference. If You are using Our Website on behalf of Your organization, that organization accepts these terms.

					li The following terms may be used throughout these Terms:
						ol
							li Website - group of interrelated websites owned and operated by Airalab and which can be accessed on the Internet via the following addresses: robonomics.network and aira.life;
							li User (or “You”) - person that has accessed the Website.

					li These Terms may be modified, changed, supplemented or updated by Airalab (“Airalab”, “We”, “Us” or “Our”) on its sole discretion at any time without prior notice. Your continued use of this Website will confirm Your acceptance of these terms as modified, changed, supplemented or updated by us. If You do not agree to such revised terms You must stop using this Website and any information, links or content contained on this Website.

					li The purpose of the Website is to provide You with information about the software being developed by Airalab and the state of the project. You must not breach any of the following terms. 