extends extends/layout.pug
include mixins/sections.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()

		.header-mid
			.secw-base: h1.t-center Robonomics token generation event

			section.secw-narrow
				section(style="max-width:450px")
					p: a.btn-green.d-b(href="#") Добавьте меня в whitelist
					p: a.btn-green.btn-line.d-b(href="#") Пройти опрос
				section
					p: b.t-uppercase.t-orange Status of auction: waiting for beginning
					p.t-small
						| Ожидаем мнение Financial Market Authority (FMA)
						br/
						| Последнее обновление 10 декабря 2018
				section
					p: b.t-uppercase Token in a nutshell
					.row.t-small
						.col-md-4
							| Token standard:
							br/
							| Erc20

						.col-md-4
							| Token type:
							br/
							| Utility

						.col-md-4
							| Primary target users:
							br/
							| Industry 4.0 and smart cities engineers


				section.t-small
					b Scammer alert
					br/
					| No one from robonomics.network / AIRA team will send you a private message containing any contribution address or offering any bonus. Please be on the lookout for scammers who impersonate admins and send private messages with fake ETH address.


	main(role="main")
		.separator-dark

		section
			.secw-base
				h2.t-center.title-dark Детали
				p.t-mid.t-w-norm.text-hyphened
					| После альфа лето 2018 и бета осень 2018 релизов Робономики в Ethereum mainnet, 
					a(href="") корневая команда разработчиков 
					| предлагает сообществу принять участие в оценке начальной стоимости XRT.

				section.row
					.col-md-6
						ul
							li 77% начальной эмиссии XRT доступно для голландского аукциона.
							li Цена XRT начинается с максимальной и снижается со временем.
							li Каждый участник аукциона получит XRT по минимальной / финальной цене.
					.col-md-6
						p: img.img-block(alt="", src="assets/i/tge-distribution@2x.png", style="width: 100%; max-width: 250px; margin-left: 0;")
						p
							b 77% 
							| – Предложено для голландского аукциона
							br/
							b 13% 
							| – Гранты для сообщества и разработчиков
							br/
							b 10% 
							| – Распределено ранее

				p.text-hyphened Оценка будет проходить в форме Голландского аукциона. Максимальная сумма сбора ограничена 10,000 ETH. Бонусов нет. Финальная цена аукциона определит начальный множитель последующей эмиссии XRT. Сразу после аукциона XRT могут быть использованы для начала работы провайдером сети Робономика. Пользователи сети также смогут использовать XRT для оплаты транзакций по запуску роботов с помощью Ethereum компьютера. Подробнее 
					a(href="", target="_blank") White paper: глава 6 “Robonomics Token, XRT”

				section
					p: b.t-uppercase На что планируем тратить
					.row
						.col-md-6
							p Полученные от сообщества ETH и XRT, выделяемые на гранты, будут расходоваться корневой 
								a(href="") командой разработчиков Airalab 
								| с целью выпуска новых релизов программного обеспечения на 
								a(href="") GitHub; 
								| улучшения 
								a(href="") технической и пользовательской документации
								| ; обеспечения бесплатной онлайн поддержки пользователей в течении последующих 2 лет.

							section
								table.clear
									thead
										tr
											th Статья расходов
											th XRT
											th ETH
									tbody
										tr
											td Новые релизы
											td 40%
											td 60%
										tr
											td Документация
											td 50%
											td 20%
										tr
											td Онлайн поддержка
											td 10%
											td 20%
						.col-md-6
							img.img-block(alt="", src="assets/i/tge-money@2x.png", style="width: 100%; max-width: 450px; margin-left: 0;")

		.sec-gray-dark
			section
				.secw-base: h2.t-center Что такое Робономика
				.secw-narrow: p.text-hyphened Это первая opensource платформа, к которой можно подключить своего робота, как сервис для конечных пользователей (robot-as-a-service). Поддерживаемые нами технологии третьего поколения Интернет реализуют обмен технико-экономической информацией между машинами и людьми. А с помощью токена XRT будут созданы экономические стимулы поддержания Робономики децентрализованной сетью провайдеров.
			.separator-light
			section
				.secw-base.t-center
					h2.t-center Экосистема
					section: a.d-b(href=""): img.img-block(src="assets/i/ecosystem.jpg", style="width: 800px")
					a.t-orange.t-uppercase.t-w-norm(href="#") Посмотреть видео

			.separator-light
			section
				.secw-base.tge-users
					h2.t-center Что дает Робономика
					section
						.row
							.col-md-4
								img.img-block(src="assets/i/tge-user-1.png")
								p.text-hyphened Конечным пользователям позволяет не приобретая дорогостоящее оборудование получить услугу автономного робота.
							.col-md-4
								img.img-block(src="assets/i/tge-user-2.png")
								p.text-hyphened Робототехники могут предоставить прямой доступ пользователей к функциям робота на основании подписки или оплаты конкретной услуги.
							.col-md-4
								img.img-block(src="assets/i/tge-user-3.png")
								p.text-hyphened Провайдеры Робономики могут открывать рынки IoT данных, контролировать беспилотный трафик и даже управлять запуском целых заводов получая с каждой новой транзакции оплату от сети.

		section
			.secw-base
				h2.t-center.title-dark Корневые разработчики Airalab

				section
					.row.justify-content-center
						.col-md-2
							.team-avatar
								img.img-block(src="assets/i/avatar-Lonshakov.jpg")
								.team-avatar-links
									a(href="", target="_blank"): span.sprite-basic-socials_linkedin
									a(href="", target="_blank"): span.sprite-basic-socials_twitter
									a(href="", target="_blank"): span.sprite-basic-socials_medium

							.t-small
								p: b Сергей Лоншаков
								p Архитектор сети Робономика
						.col-md-2
							.team-avatar
								img.img-block(src="assets/i/avatar-Kapitonov.jpg")
								.team-avatar-links
									a(href="", target="_blank"): span.sprite-basic-socials_linkedin
									a(href="", target="_blank"): span.sprite-basic-socials_edu

							.t-small
								p: b Александр Капитонов
								p PhD in Industrial Automation, Robot economics academic society progressor
						.col-md-2
							.team-avatar
								img.img-block(src="assets/i/avatar-Krupenkin.jpg")
								.team-avatar-links
									a(href="", target="_blank"): span.sprite-basic-socials_linkedin
									a(href="", target="_blank"): span.sprite-basic-socials_github
									a(href="", target="_blank"): span.sprite-basic-socials_medium

							.t-small
								p: b Александр Крупенькин
								p Разработчик в области робототехники и IoT, разработчик умных контрактов Ethereum, архитектор технического стека AIRA
						.col-md-2
							.team-avatar
								img.img-block(src="assets/i/avatar-Starostin.jpg")
								.team-avatar-links
									a(href="", target="_blank"): span.sprite-basic-socials_github

							.t-small
								p: b Александр Старостин 
								p Web разработчик, разработчик умных контрактов Ethereum
						.col-md-2
							.team-avatar
								img.img-block(src="assets/i/avatar-Radchenko.jpg")
								.team-avatar-links
									a(href="", target="_blank"): span.sprite-basic-socials_linkedin

							.t-small
								p: b Евгений Радченко
								p Системный инженер

				.t-center: a.t-orange.t-uppercase.t-w-norm(href="#") Посмотреть всех участников сообщества

		.separator-dark

		section
			.secw-base
				h2.t-center.title-dark Медиа

				section
					.row.row-marged_cols
						.col-md-4
							a(href="", target="_blank"): img.img-block(alt="", src="assets/i/media-forklog.png", style="width: 175px")

						.col-md-4
							a(href="", target="_blank"): img.img-block(alt="", src="assets/i/media-forbes.png", style="width: 129px")

						.col-md-4
							a(href="", target="_blank"): img.img-block(alt="", src="assets/i/media-NewsBTC.png", style="width: 173px")

						.col-md-4
							a(href="", target="_blank"): img.img-block(alt="", src="assets/i/media-Bitcoinist.png", style="width: 228px")

						.col-md-4
							a(href="", target="_blank"): img.img-block(alt="", src="assets/i/media-digitaltrends.png", style="width: 241px")

						.col-md-4
							a(href="", target="_blank"): img.img-block(alt="", src="assets/i/media-Nasdaq.png", style="width: 144px")


			section.secw-narrow
				
				ul.list-lined
					li: a(href="", target="_blank") 4 Blockchain Projects Solving Real-World Problems
					li: a(href="", target="_blank") IoT Is Still Centralized And Vulnerable, What’s The Solution?
					li: a(href="", target="_blank") Russia goes all-in on buzzwords, builds solar-powered blockchain drone boat

			.t-center: a.t-orange.t-uppercase.t-w-norm(href="#") Больше статей
					
		+widget_newssubscription_light()