extends extends/layout.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()

	main(role="main")
		.secw-narrow
			h1 Релизы и timeline

		section.section__intro.red.section__synopsis
			.section__intro_content.secw-narrow
				p На протяжении последних 3-х лет команда робототехников и ethereum разработчиков под названием Airalab работает над созданием p2p сети по обслуживанию умных городов и индустрии 4.0.

			.snapsvg-wrap-1.snapsvg-wrap
				svg.snapsvg


		section
			.secw-narrow
				p
					a.label-blue(href="javascript:;", data-sort="1") Релизы
					a.label-blue(href="javascript:;", data-sort="2") События
					a.label-blue(href="javascript:;", data-sort="3") Дневник разработчика
					a.label-blue(href="javascript:;", data-sort="4") Важная веха
					a.label-blue.active(href="javascript:;", data-sort="0") Все

				.timeline(data-sort-sec="4")
					.timeline-type Важная веха тест
					.timeline-title Бенчмарк Робономики, ноябрь 2018
					.timeline-desc
						p Провели новые нагрузочные тесты на Робономику.
						a(href="http://ensrationis.com/first-robonomics-emisssion/", target="_blank"): b Читать статью ↗

				.timeline.timeline-orange(data-sort-sec="1")
					.timeline-type Новый релиз
					.timeline-title Robonomics Beta 3 communication
					.timeline-desc
						p This is next stable release of Robonomics communication stack. In this release introduced new liability execution engine. New liability engine support parallel and sandboxing liability execution.
						a(href="https://github.com/airalab/robonomics_comm/releases/tag/v0.4", target="_blank"): b Посмотрите на GitHub ↗


				.timeline(data-sort-sec="3")
					.timeline-type Дневник разработчика
					.timeline-title Август — сентябрь 2018
					.timeline-desc
						p За прошедшие два месяца в ходе работы над Робономикой мы впервые опробовали версионность, придуманную Александром Крупенькиным, прошли два независимых аудита Ethereum-контрактов, отделили программное обеспечение для провайдеров от образа AIRA, запустили механизм обмена технической информацией агентами и провайдерами Робономики, а также запустили сервис визуализации состояния нашей сети в реальном времени.
						a(href="http://ensrationis.com/robonomics-developer-diary-august-september-2018/", target="_blank"): b Читать статью ↗

				.timeline(data-sort-sec="2")
					.timeline-type Новое событие
					.timeline-title Робономика. Летняя школа 2018
					.timeline-desc
						p За 7 дней летней школы вместе с откликнувшимися на наш клич инженерами мы связали: mesh-топологию, cjdns, ipfs, ipfs pubsub, ethereum-протокол и платформу Робономики.
						a(href="http://ensrationis.com/robonomics-2018-on-volga/", target="_blank"): b Читать статью ↗


				.timeline(data-sort-sec="3")
					.timeline-type Дневник разработчика
					.timeline-title Июнь — июль 2018
					.timeline-desc
						p Состоялся альфа-релиз Робономики в Ethereum mainnet. Вышел релиз умных контрактов 0.9 Robonomics mainnet alpha, который позволяет протестировать эмиссию XRT за работу, выполненную провайдером сети. Мы сделали новый релиз Aira 0.13 Robonomics Alpha, который позволяет развернуть Аиру, как провайдера.  Запустили Robonomics status — сервис сбора статистики о работе Робономики в реальном времени.
						a(href="#", target="_blank"): b Читать статью ↗


				.timeline(data-sort-sec="4")
					.timeline-type Важная веха
					.timeline-title Первая транзакция с эмиссией токена Робономики в Ethereum mainnet
					.timeline-desc
						p Последние 2 недели наша команда занималась запуском альфа версии инфраструктуры умных контрактов Робономики в Ethereum mainnet. Главная задача, которую мы решаем альфа релизом — это внедрение версионности платформы Робономики и тестирование механизма эмиссии XRT в соотвествии с моделью описанной в белой бумаге.
						a(href="http://ensrationis.com/first-robonomics-emisssion/", target="_blank"): b Читать статью ↗

				.timeline(data-sort-sec="3")
					.timeline-type Дневник разработчика
					.timeline-title Май 2018
					.timeline-desc
						p Релиз Aira 0.12 позволил нам продемонстрировать работу провайдеров Робономики в действии. В начале мая 2018 вышел релиз Aira 0.12.1 , в котором мы добавили возможность работы больше, чем одному провайдеру на маяке. Теперь умный контракт маяка разделяет квоты по количеству транзакций за смену одного провайдера и ставит провайдеров Робономики в очередь по сменам. Квота пропорциональна доле от общего капитала XRT на конкретном маяке.
						a(href="http://ensrationis.com/developer-diary-may-2018/", target="_blank"): b Читать статью ↗


				.timeline.timeline-orange(data-sort-sec="1")
					.timeline-type Новый релиз
					.timeline-title Lighthouse релиз
					.timeline-desc
						p Чтобы построить децентрализованную сеть Робономики в 2018 году был разработан протокол коммуникации с использованием Ethereum и IPFS. В начале 2018 года был выпущен первый релиз программного обеспечения для провайдеров "Lighthouse", сигнализирующий о начале работы платформы для разработчиков решений Умных городов и Индустрии 4.0.
						a(href="https://github.com/airalab/aira/releases/tag/0.12", target="_blank"): b Релиз на GitHub ↗

				.timeline(data-sort-sec="4")
					.timeline-type Важная веха
					.timeline-title Концепция сети Робономика
					.timeline-desc
						p К весне 2017 года команда сформировала общий концепт создания децентрализованной сети провайдеров по обслуживанию умных городов - сеть Робономика. Робономика - альтернатива облачным системам управления, которая должна быть, но которой сегодня нет в области робототехники.

				.timeline(data-sort-sec="4")
					.timeline-type Важная веха
					.timeline-title Proof-of-concepts
					.timeline-desc
						p В ходе последующих 2 лет были проведены эксперименты по построению proof-of-concept’ов в области мобильной робототехники, сенсорных сетей и умных фабрик. В результате мы выделили спектр задач (смотрите сценарии применения платформы Робономика), в которых p2p технологии обладают возможностями ранее не доступными для робототехники, как например деньги для роботов, так и решающих задачи текущие, но эффективнее или дешевле, чем предлагаемые сегодня облачные сервисы в области IoT.

				.timeline(data-sort-sec="4")
					.timeline-type Важная веха
					.timeline-title Первые эксперименты
					.timeline-desc
						p Первые практические результаты были достигнуты осенью 2015 года, когда команда продемонстрировала возможность применения умных контрактов в сети Ethereum для управления дроном. Таким образом мы увидели способ организации полностью автономной услуги и продолжили изучение возможностей p2p технологий для задач робототехники.