extends extends/layout.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()

		section.header-mid
			.el-FrontContent
				
				.secw-narrow.text-hyphened
					img.img-block(alt="", src="assets/i/TokenAndRobots.png", srcset="assets/i/TokenAndRobots@2x.png")
					h1: span.t-center.d-b XRT токены в робономике
					p Для создания экономических стимулов поддержания работы Умных Городов и Индустрии 4.0 в инфраструктуре сети Ethereum будет выпущен внутренний токен Робономики – Robonomics token (XRT).
					p XRT будет требоваться каждый раз, когда возникает необходимость получить услугу киберфизической системы.

		.snapsvg-wrap.snapsvg-wrap-1
			svg.snapsvg


	main(role="main")
		section.sec-black.sec-city
			.secw-narrow
				h2 Token sale будет произведен в формате голландского аукциона весной 2018
				form
					.msg_ok E-mail адрес email@mail.rr подписан на оповещение о старте продаж токена XRT  
					.row
						.col-md-8
							input(type="text", value="", placeholder="Your e-mail").secw-full
						.col-md-4
							button.secw-full Sign up
							//- button: span.loader


		section.token-distribution
			.secw-base
				h2 Информация о дистрибуции токенов

				.row
					.col-md-3
						img.img-block(alt="", src="assets/i/token-distribution.svg")
					.col-md-4
						p
							b 80% 
							| – Доступно для Голландского аукциона
						p
							b 10% 
							| – Распределено до дистрибуции
						p
							b 10% 
							| – Фонд сети Робономики
					.col-md-5
						p Распределение токенов будет произведено в формате голландского аукциона. Это значит:
						ul
							li Цена XRT начинается с высокой и снижается со временем
							li В итоге распределения каждый платит одинаковую минимальную цену за XRT