extends extends/layout.pug
include mixins/sections.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()


	main(role="main")

		.header-mid
			.el-FrontContent
				
				.secw-narrow.text-hyphened
					img.img-block(alt="", src="assets/i/TokenAndRobots.png", srcset="assets/i/TokenAndRobots@2x.png")
					h1: span.t-center.d-b XRT токены в робономике
					p Для создания экономических стимулов поддержания работы Умных Городов и Индустрии 4.0 в инфраструктуре сети Ethereum будет выпущен внутренний токен Робономики – Robonomics token (XRT).
					p XRT будет требоваться каждый раз, когда возникает необходимость получить услугу киберфизической системы.

			.snapsvg-wrap.snapsvg-wrap-1
				svg.snapsvg

		section.sec-black.sec-city
			.secw-narrow
				.row.t-center
					.col-md-4
						p.t-orange.jquery-seth.m-b-5 Максимальная сумма сбора:
						p.t-superbig 10,000 ETH
					.col-md-4
						p.t-orange.jquery-seth.m-b-5 Форма сбора:
						p.t-big: b Голландский аукцион
					.col-md-4
						p.t-orange.jquery-seth.m-b-5 Последнее обновление 21 ноября 2018:
						p.t-big: b Ожидаем мнение Financial Market Authority (FMA)


		section
			.secw-narrow
				.timeline.timeline-green
					.timeline-type
						a(href="#", target="_blank").btn-green Пройдите опрос ↗
					.timeline-title Начиная с 21 ноября 2018
					// .timeline-desc
						

				.timeline
					.timeline-type
						a(href="#", target="_blank") Участвуйте в генеральной репетиции
					.timeline-title начиная с 28 ноября 2018

				.timeline
					.timeline-type Ожидаем legal opinion от FMA
					.timeline-title текущий статус - на дароботке у Nagele

				.timeline
					.timeline-type Пройдите процедуру KYC

				.timeline
					.timeline-type Участвуйте в голландском аукционе

				.timeline.timeline-end
					.timeline-type Становитесь провайдерами Робономика


				
		// +widget_newssubscription_light()

		// section.token-distribution.sec-gray
		// 	.secw-base
		// 		h2 Информация о дистрибуции токенов

		// 		.row
		// 			.col-md-3
		// 				img.img-block(alt="", src="assets/i/token-distribution.svg")
		// 			.col-md-4
		// 				p
		// 					b 80% 
		// 					| – Доступно для Голландского аукциона
		// 				p
		// 					b 10% 
		// 					| – Распределено до дистрибуции
		// 				p
		// 					b 10% 
		// 					| – Фонд сети Робономики
		// 			.col-md-5
		// 				p Распределение токенов будет произведено в формате голландского аукциона. Это значит:
		// 				ul
		// 					li Цена XRT начинается с высокой и снижается со временем
		// 					li В итоге распределения каждый платит одинаковую минимальную цену за XRT


		// +widget_miners_bounty()