footer(role='contentinfo')
	.container-basic
		.separator-light.separator-animated.js-checkInView

		.p-10
			a.t-style_uppercase.d-inlineblock.a-color_light.m-r-40.a-noline(href="https://aira.life/", target="_blank")
				span.sprite-basic-logo-aira.d-inlineblock.m-r-15
				span.d-inlineblock Developed by&nbsp;
				b.d-inlineblock Airalab

			a.t-style_uppercase.d-inlineblock.a-color_light.a-noline(href="https://robonomics.network", target="_blank")
				span.sprite-basic-logo-robonomics.d-inlineblock.m-r-15
				span.d-inlineblock Runs within&nbsp;
				b.d-inlineblock Robonomics network