%FadeOut
	{
		visibility: hidden;
    	opacity: 0;
	}

@keyframes FadeOut
	{
	  0% {
	    visibility: visible;
		opacity: 1;
	  }
	  100% {
	    visibility: hidden;
		opacity: 0;
	  }
	}


@keyframes FadeIn
	{
	  0% {
	    visibility: hidden;
		opacity: 0;
	  }
	  100% {
	    visibility: visible;
		opacity: 1;
	  }
	}


@keyframes ScaleIn
	{
		0%
		{
			transform: scale(0);
		}
		100%
		{
			transform: scale(1);
		}
	}