/* Sensor sidebar */

.sensor-sidebar
	{
		section
	  	{
		    padding-top: $margin-sec/2;
		    padding-bottom: $margin-sec/2;
		}
	}


.sec-icon
	{
		white-space: nowrap;
	}

.sec-icon--icon, .sec-icon--content
	{
		display: inline-block;
		vertical-align: middle;
	}

.sec-icon--icon
	{
		width: rem(50px);
	}

.sec-icon--title
	{
		font-size: rem(16px);
		text-transform: lowercase;
	}

.sec-icon--text
	{
		font-family: $font-family-second;
		font-size: rem(40px);
		line-height: 1;
		text-transform: uppercase;
	}


/* Sensor content */

#sensor-wrap
	{
		padding-top: rem(120px);
	}

#sensor-content-chart
	{
		position: relative;
		height: 60%;
	}


/* Tabs */

// $c-up: $c-red;
// $c-ok: #232323;

$c-val: #232323;

$c-tab1: #D10078;
$c-tab2: #987AFF;
$c-tab3: #da00ff;
$c-tab4: #ff9b00;
$c-tab5: #00DFA6;
$c-tab6: #DDD700;

.js-tabcontent
	{
		display: none;
	}

.sensor-tablink
	{
		display: inline-block;

		white-space: nowrap;
		background-color: #fff;
		color: #000;

		font-family: $font-family-second;
		font-size: rem(40px);
		line-height: 1;
		font-weight: bold;

		margin-right: rem(30px);
		margin-bottom: rem(30px);

		&:last-child{
			margin-right: 0;
		}

		sub{
			font-size: rem(20px);
			padding-left: rem(4px);
		}

		&.active
			{
				.sensor-tablink-sign
					{
						background-color: #232323;
						color: #fff;
					}
			}
	}

.sensor-tablink-sign, .sensor-tablink-text, .sensor-tabcontent-value, .sensor-tabcontent-info
	{
		display: inline-block;
		padding: rem(15px);
		box-sizing: border-box;
		vertical-align: middle;

		position: relative;
		z-index: 1;
	}

.sensor-tablink-sign
	{
		padding-left: rem(25px);
		padding-right: rem(25px);

		background-color: #E2E2E2;
		color: #000;
	}


.sensor-tabcontent
	{
		margin-bottom: rem(30px);
		background-color: #fff;
		color: #000;

		position: relative;

		&:after{
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 30%;
			background-color: $c-val;
			z-index: 0;
		}
	}

.sensor-tabcontent-value
	{
		width: 30%;

		&.status-ok, &.status-warning
			{
				position: relative;
				padding-left: 115px;

				&:before, &:after
					{
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
					}

				&:before
					{
						background-color: #000;
						width: 100px;
						height: 100%;
					}
			}

		&.status-ok
			{
				&:after { @include get-sprite('man-status-ok'); }
			}

		&.status-warning
			{
				&:after { @include get-sprite('man-status-warning'); }
			}
		
	}

.sensor-tabcontent-info
	{
		width: 69%;
	}

.sensor-value
	{
		font-family: $font-family-second;
		font-size: rem(26px);
		line-height: 1;
		margin-top: rem(2px);
	}


#tab1, #tablink-1.active { background-color: $c-tab1; color: #fff; }
#tab2, #tablink-2.active { background-color: $c-tab2; color: #fff; }
#tab3, #tablink-3.active { background-color: $c-tab3; color: #fff; }
#tab4, #tablink-4.active { background-color: $c-tab4; color: #fff; }
#tab5, #tablink-5.active { background-color: $c-tab5; color: #fff; }
#tab6, #tablink-6.active { background-color: $c-tab6; color: #fff; }


