html, body
  {
    height: 100%;
    min-height: 100%;
  }


html
  {
    position: relative;
    overflow-x: hidden;
  }


body
  {
    background-color: #fff;

    position: relative;

    opacity: 0;
    animation: 0.4s FadeIn ease-in forwards;
  }


.screen
  {
    box-sizing: border-box;
    min-height: 100%;
    height: 100%;
  }

.align-vertical, .align-v
  {
     /* align content vertically */
    display: flex;
    align-items: center;
  }

.align-g{
  justify-content: center;
}

/*====== Set width of container ======*/
.secw-narrow { @include secw(720px); }
.secw-base { @include secw($mq-desktop); }

.secw-full
  {
    box-sizing: border-box;
    width: 100%;
  }


/*====== end of Set width of container ======*/





/*====== Flow elements ======*/

.f-zoom { overflow: hidden; }
.f-left { float: left; }
.f-right { float: right; }


.d-t
  {
    display: table;

    & > *{
      display: table-cell;
    }
  }

.d-t_row
  { display: table-row; }
.d-t_cell 
  { display: table-cell; }


.d-ib
  { display: inline-block; }
.d-b
  { display: block; }


.d-flexline
  { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    align-items: center;
  }

/*====== Flow elements ======*/






/*====== Transitions ======*/

.fadeOut, .visible { transition: 0.3s ease-in-out opacity; }
.fadeOut { visibility: hidden; opacity: 0; }
.visible { opacity: 1; visibility: visible; }


.dropdown
  {
    position: relative;

    & > .dropdown-content
      {
        visibility: hidden;
        opacity: 0;

        position: absolute;
        top: 20px;
        left: 0;
        z-index: 1;
        padding: 30px 0;
        width: 100%;
        text-align: center;
      }

    &:hover
      {
        & > .dropdown-content { animation: 0.2s FadeIn 0.4s ease-out forwards; }
      }
  }

/*====== end of Transitions ======*/






/*====== Bootstrap ======*/
.row
  {
    // margin-left: - $padding-fields; 
    // margin-right: - $padding-fields;

    @media screen and (max-width: $bootstrap-sm){
      *[class*='col-md']
        {
          margin-bottom: $vertical-rythm;
        }
    }

  }
/*====== end of Bootstrap ======*/


/*====== SNAP SVG ======*/

.snapsvg-wrap
  {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    svg.snapsvg
      {
        @extend %svgBack;
      }

    @media screen and (max-width: $mq-mobileCanvas)
      {
        line, text { display: none; }
      }
  }


.snapsvgoutside-text
  {
    text-align: center;

    span
      {
        display: inline-block;
        width: 24px;
        margin: 0 33px;

        font-size: 24px;
        line-height: 1;
        font-weight: 300;
      }
  }
/*====== end of SNAP SVG ======*/





/*====== Sections ======*/

section
  {
    padding-top: $margin-sec;
    padding-bottom: $margin-sec;
    position: relative;
  }


.sec-dark
  {
    background-color: $c-violet-dark;
    color: #fff;

    position: relative;
    overflow: hidden;

    .snapsvg-darkDots
      {
        @extend %svgBack;
        top: 90px;
      }

    & > .secw-base
      {
        @extend %FrontContent;
      }
  }

.sec-white
  {
      background-color: #fff;
      color: $c-violet-mid;

      padding-top: $margin-sec*1.5;
      padding-bottom: $margin-sec*1.5;

      h2 { color: #000; }
  }


.sec-mid
  {
    background-color: $c-violet-mid;

    position: relative;
    overflow: hidden;

    &, h2 { color: #fff; }


    .snapsvg-darkDots
      {
        @extend %svgBack;
        top: 90px;
      }

    & > .secw-base
      {
        @extend %FrontContent;
      }
  }

.sec-black
  {
    background-color: #000;
    color: #fff;
  }

.sec-gray
  {
    background-color: $c-gray-light;
    
    &, h2 { color: #000; }
  }

.sec-orange
  {
    background-color: $c-orange;

    &, h2 { color: #fff; }

    h2{
      font-weight: 500;
      font-size: $font-size-title - 8;
    }

    a{
      font-size: $font-size-base + 2;
      background-color: #fff;
      display: inline-block;
      padding: 2px 10px;
      margin: 4px 0;
    }

    blockquote{
      border-color: #000;
      color: #000;
    }
  }


.sec-dots__gray
  {
    background: inline-image('pattern_dot_gray.svg');
  }

.sec-city
  {
    box-sizing: border-box;
    min-height: 306px;
    
    h2, h3 { font-weight: 500; }

    @media screen and (min-width: $mq-tablet) 
    {
      background-repeat: repeat-x;
      background-position: 100% 0;
    }


    &.sec-black
      {
        @media screen and (min-width: $mq-tablet) 
          {
            background-image: inline-image('pattern-city-dark.svg');
          }

        h2, h3 
          {
            color: $c-blue-mute-2;
          }
      }

    &.sec-gray
      {
        @media screen and (min-width: $mq-tablet) 
          {
            background-image: inline-image('pattern-city-light.svg');
          }

        h2, h3 
          {
            color: #000;
          }
      }

  }



.sec_mid__left
  {
    position: absolute;
    left: 0;
    top: 0;
    right: 50%;
    bottom: 0;
  }



/* SECTION - pages */

@mixin intro_dots($h){
  min-height: $h;

  .snapsvg-wrap{
    height: $h;
  }
}

.section__intro
  {
    @include intro_dots(200px);
    padding-top: 0;
    position: relative;

    &:after
      {
        content:"";
        height: 6px;
        position: absolute;
        left: 50%;
        right: 0;
        top: 0;
      }



    .snapsvg-wrap
      {
        top: 34px;
      }

    .section__intro_content
      {
        padding-top: 70px;

        border-width: 6px 0 0;
        border-style: solid;
        @extend %FrontContent;
      }

    &.red
      {
        .section__intro_content { border-color: $c-orange; }
        &:after { background-color: $c-orange; }
      }

    &.gray{
        .section__intro_content { border-color: $c-gray; }
        &:after { background-color: $c-gray; }
    }
  }



.section__synopsis
  {
    font-weight: 500;
  }



.section__contents
  {
    @include intro_dots(400px);

    .snapsvg-wrap{
      top: 14px;
    }

    & > .secw-narrow
      {
   
        a
          {
            @extend %text_uppercase;
            font-size: $font-size-base - 2;
            font-weight: 500;
            display: block;
            margin-bottom: $vertical-rythm;
            @extend %link_noline;

            &:not(.js-expand-toggle) //check later
            {
              color: $c-text;

              &:hover
                {
                  color: $c-link;
                  transition: color 0.2s ease-in-out;
                }

              &:after
                {
                  @include get-sprite('anchor');
                  @extend %AfterContent;
                  @extend %FadeOut;
                }

              &:hover:after
                {
                  animation: 0.4s FadeIn forwards;
                }
            }

            &:last-child{
              margin-bottom: 0;
            }

          }
      }

      .js-listexpand
        {
          .hidden
            {
              margin: 0;
            }
        }

      a.js-expand-toggle
        {
          &, &:hover { color: $c-orange; }
          &:after
            {
              @include get-sprite('expand-arrow');
              @extend %AfterContent;
            }
          
          &.open
            {
              &:hover:after
                {
                  animation: 0.4s 0.6s BounceVertical ease-in-out 3;
                }
            }
              
          &.hide
            {
              &:after
                {
                  transform: rotate(-180deg);
                }
            }
        }

  }


.js-listexpand
  {
    .hidden
      {
        @extend %FadeOut;
        height: 0;
      }

    .opened
      {
        animation: 0.3s FadeIn ease-in-out forwards;
        height: auto;
      }
  }


/* end of SECTION - pages */

/*====== end of Sections ======*/




/*====== Random ======*/
  .el-FrontContent
    {
      @extend %FrontContent;
    }




  .logo-robonomics-outline
    {
      path
        {
          fill: none;
          stroke: #000;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
        }
    }


  .el-social
      {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: 1.5px solid $c-orange;
        margin-bottom: 10px;

        & > span
          {
            display: table-cell;
            width: 50px;
            height: 50px;
            vertical-align: middle;
            text-align: center;
          }

        path
          {
            fill: $c-orange;
          }

        .svgi-github, .svgi-telegram
          {
            position: relative;
            left: 1px;
            top: 2px;
          }

        .svgi-telegram
          {
            left: -3px;
            top: 1px;
          }
      }




  .sec-techs
    {
      span
        {
          display: inline-block;
          vertical-align: middle;
          margin-right: 22px;
          margin-bottom: 22px;

          &:last-child
            {
              margin-right: 0;
            }
        }
    }
/*====== end of Random ======*/



*[class^='col-']{
  @media screen and (max-width: $bootstrap-md) 
  {
    margin-bottom: $vertical-rythm;
  }
}






.separator-dark
  {
    height: 1px;
    background-color: $c-text;
  }

.separator-animated-inview
  {
    transform: scale(0);
    
    &.isInView { animation: ScaleIn 0.6s 0.8s ease-in-out forwards; }
  }

