.roadmap-title, .roadmap-desc
	{
		padding-left: 20px;
		padding-right: 20px;
	}

.roadmap-title
	{
		color: $c-orange;
		border-bottom: 2px solid $c-orange;
		margin-bottom: $vertical-rythm;
		padding-bottom: 10px;
		box-sizing: border-box;
	}


.roadmap-title__in
	{

		div
			{
				@extend %text_uppercase;
				font-weight: 300;

				&:first-child
					{
						font-size: 24px;
						font-weight: 500;
					}
			}
	}

.roadmap-title__name
	{
		white-space: nowrap;
	}


.roadmap-desc
	{
		letter-spacing: 1px;
		color: #fff;
	}


.row, div[class *= 'col-']
	{
		@extend %margPadNull;
	}


.col-12
	{
		@include minTablet(){
			text-align: center;
		}
	}


// .roadmap-done { @include roadmapStage(#fff, 'status-done'); }
// .roadmap-progress { @include roadmapStage($c-violet-light, 'status-progress'); }
// .roadmap-waiting { @include roadmapStage($c-orange, 'status-waiting'); }
// .roadmap-planning { @include roadmapStage($c-orange, 'status-planning'); }