.roadmap
	{
		margin-top: $margin-sec * 0.7;
	}

.roadmap-title, .roadmap-desc
	{
		padding-left: 20px;
		padding-right: 20px;
	}

.roadmap-title
	{
		border-bottom: 2px solid rgba($c-gray, 0.5);
		margin-bottom: $vertical-rythm;
		padding-bottom: 10px;
		box-sizing: border-box;
	}


.roadmap-title__in
	{

		div
			{
				@extend %text_uppercase;
				font-weight: 300;

				&:first-child
					{
						font-size: 24px;
						font-weight: 500;
					}
			}
	}

.roadmap-title__name
	{
		white-space: nowrap;
	}

.roadmap-title__date
	{
		position: relative;
		display: inline-block;
		padding-right: 30px;

		&:before{
			content:"";
			position: absolute;
			top: 0;
			right: 0;
		}
	}


.roadmap-desc
	{
		letter-spacing: 1px;
		color: #fff;
	}


.row, div[class *= 'col-']
	{
		@extend %margPadNull;
	}


.col-12
	{
		@include minTablet(){
			text-align: center;
		}
	}


.roadmap-done
	{
		.roadmap-title
			{
				color: $c-green;
				border-color: $c-green;
			}

		.roadmap-title__date:before { @include get-sprite('status-done'); }
	}

.roadmap-progress
	{
		.roadmap-title
			{
				color: $c-orange;
				border-color: $c-orange;
			}

		.roadmap-title__date:before { @include get-sprite('status-progress'); }
	}

.roadmap-waiting .roadmap-title__date:before { @include get-sprite('status-waiting'); }








#index-releaseLink
	{
		position: relative;
		top: -48px;
		background: linear-gradient(rgba($c-gray-dark, 0), $c-gray-dark);
		padding-top: 10px;
		padding-bottom: 10px;

		.btn__text_orange{
			padding-left: 30px;
		}
	}