#index-terminal{
	.col-md-5 { padding-right: 2% !important; }
}


#index-terminal__info.row{
	padding-left: 10%;
	padding-right: 5%;
	padding-top: 10%;

	h3{
		font-weight: 500;
		margin-bottom: 10%;
	}

	.col-lg-3
		{
			@media screen and (max-width: $bootstrap-md)
				{
					display: none;
				}
		}
}

#index-terminal__step{
	color: $c-blue;
	text-align: right;

	b{
		font-size: 28px;
		font-weight: 500;
		text-transform: uppercase;
		display: block;
		white-space: nowrap;
	}
}

#index-terminal__info_cmd{
	display: inline-block;
	padding: 10px 15px;
	border-radius: 2px;
	background-color: darken($c-gray-light,5%);
	letter-spacing: 1px;
	@extend %link_noline;

	&:before{
		content:">";
		font-weight: 500;
		color: $c-gray-mid;
		margin-right: 10px;
	}
}


.terminal__window{
	box-sizing: border-box;
	height: 320px;
	background-color: $c-gray-dark;
}

.terminal__window_head{
	background-color: $c-gray-mid;
	color: $c-gray-dark;
	font-weight: 500;
	@extend %text_uppercase;
	padding: 5px 10px;
}

%terminal_text{
	color: #fff;
	font-family: 'Courier', monospace;
	font-size: $font-size-base;
	line-height: 1.2;
}

.terminal__window_content{
	@extend %terminal_text;
	padding: 5px 10px;
	overflow-y: scroll;
	height: 85%;
    box-sizing: border-box;
    margin: 5px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;

    .input input, .input textarea{
    	@extend %terminal_text;
    	background-color: transparent;
    	padding-left: 0;
    	padding-right: 0;
    	text-transform: none;
    	letter-spacing: normal;
    	width: 100%;
    	box-sizing: border-box;
    	border: 0;
    	display: inline-block;
    	resize: none;
    }

    p.cmd, p.input{
    	position: relative;
    	padding-left: 25px;

    	&:nth-child(2n){
    		&:before{
    			content: "$ ";
    			position: absolute;
    			left: 0;
    			top: 0;	
    			color: $c-blue;
    		}
    	}
    }
}

#index-terminal-result{
	padding: 0;
	position: relative;
}

.index-terminal-result__grid{
	img{
		display: block;
		width: image-width('Terminal-Result-1.png');
		height: image-height('Terminal-Result-1.png');
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -(image-height('Terminal-Result-1.png')/2);
		margin-left: -(image-width('Terminal-Result-1.png')/2);
		@extend %FadeOut;

		&.active{
			animation: 0.8s FadeIn 0.2s ease-in-out forwards;
		}
	}
	
}


.index-terminal-result__step{
	overflow: hidden;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

	#index-terminal-result__factory{
		width: 96px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -35px;
		margin-top: -48px;
		transform: scale(0);
	}

	#index-terminal-result__ordernew{
		width: 120px;
		position: absolute;
		top: 15px;
		left: 15px;
		transform: scale(0);
	}

	#index-terminal-result__process, #index-terminal-result__ok{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 46px;
		height: 46px;
		background-color: #fff;
		border:1px solid #000;
		border-radius: 23px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
	    margin-top: -65px;
    	margin-left: 60px;
	}

	#index-terminal-result__ok{
		background-color: $c-green;
	}

	#index-terminal-result__orderdone{
		width: 70px;
		position: absolute;
		top: 15px;
		left: 72px;
	}

	& > *{
		@extend %FadeOut;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
	}


	&.active-step-3{
		#index-terminal-result__factory{
			animation-name: FadeIn, ScaleIn;
			animation-duration: 1.2s, 0.4s;
			animation-delay: 1s, 1.4s;
		}
	}


	&.active-step-4{

		#index-terminal-result__factory{
		 	visibility: visible;
			opacity: 1;
			transform: scale(1);
		}
		
		#index-terminal-result__ordernew{
			animation-name: FadeIn, ScaleIn, TerminalOrderMove;
			animation-delay: 0s, 0s, 1.6s;
			animation-duration: 1.2s, 0.4s, 0.8s;
		}

		#index-terminal-result__process{
			animation-name: FadeIn, ScaleIn, FadeOut;
			animation-delay: 2.4s, 2.2s, 6s;
			animation-duration: 0.6s, 0.2s, 0.2s;
		}

		.sprite-basic-hourglass{
			animation: HourglassSpin 1.5s ease-in-out 2.8s;
			animation-iteration-count: 3;
		}

		#index-terminal-result__ok{
			animation-name: FadeIn, ScaleIn;
			animation-delay: 6.4s, 6.2s;
			animation-duration: 0.6s, 0.2s;
		}

	}

	&.active-step-5{
		#index-terminal-result__factory{
		 	visibility: visible;
			opacity: 1;
			transform: scale(1);

			animation-name: FactoryScaleOut, FadeOut;
			animation-delay: 0.2s, 0.8s;
			animation-duration: 0.8s, 1.5s;
			transform-origin: 50% 50%;
		}

		#terminal-way-down, #terminal-way-up{
			animation-delay: 1.4s, 1.4s;
			animation-duration: 0.4s, 0.8s;
			transform-origin: 50% 100%;
		}

		#terminal-way-down{
			background-color: #707070;
			width: 100%;
			height: 27px;
			position: absolute;
			bottom: 0;

			transform: translateY(30px) scaleY(0);

			animation-name: FadeIn, TerminalWayScale1;
		}

		#terminal-way-up{
			background-color: #919295;
			width: 100%;
			height: 7px;
			position: absolute;
			bottom: 27px;

			transform: translateY(40px) scaleY(0);

			animation-name: FadeIn, TerminalWayScale2;

			span{
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				height: 7px;

				animation-name: TerminalWayGo;
				animation-delay: 2.2s;
				animation-duration: 15s;
				animation-timing-function: linear;
				animation-iteration-count: 0.3;

				background-image: image_url('Terminal-way.svg');
				background-repeat: repeat-x;
				background-position: 0 0;
			}
		}

		#terminal-cars{
			position: absolute;
			left: 0;
			right: 0;
			height: 102px;
			bottom: 35px;

			background-image: image_url('Terminal-cars.png');
			background-repeat: no-repeat;
			background-position: 100% 0;

			animation-name: FadeIn, TerminalWayGo;
			animation-delay: 2.4s, 1.8s;
			animation-duration: 0.2s, 5s;
			animation-timing-function: linear;
			animation-fill-mode: forwards;

			background-size: 1202px 102px;
		}

		#index-terminal-result__orderdone{
			animation-name: FadeIn, BounceVertical;
			animation-delay: 6.4s, 6.4s;
			animation-duration: 0.4s, 1.6s;
			animation-iteration-count: 1, infinite;
		}
	}
}

@keyframes FactoryScaleOut
	{
	  0% {
	    transform: scale(1);
	    transform-origin: 50% 50%;
	  }
	  100% {
	    transform: scale(12);
	    transform-origin: 50% 80%;
	  }
	}

@keyframes TerminalOrderMove
	{
	  0% {
	    transform: translateX(0) scale(1);
	  }
	  100% {
	    transform: translateX(250px) scale(0);
	  }
	}

@keyframes HourglassSpin
	{
	  0% {
	    transform: rotate(0);
	  }
	  100% {
	    transform: rotate(360deg);
	  }
	}

@keyframes TerminalWayScale1
	{
	  0% {
	    transform: translateY(30px) scaleY(0);
	  }
	  70%{
	  	transform: translateY(-30px) scaleY(1.4);
	  }
	  100% {
	    transform: translateY(0) scaleY(1);
	  }
	}

@keyframes TerminalWayScale2
	{
	  0% {
	    transform: translateY(37px) scaleY(0);
	  }
	  70%{
	  	transform: translateY(-50px) scaleY(1.6);
	  }
	  100% {
	    transform: translateY(0) scaleY(1);
	  }
	}

@keyframes TerminalWayGo{
	0%{
		background-position: 100% 0;
	}
	100%{
		background-position: 3% 0;
	}
}



.progress{
	width: 100%;
	background-color: $c-gray;

	.progress, .progress-bar{
		height: 7px;
	}

	.progress-bar{
		background-color: $c-blue;
		transition: width 0.2s ease-in-out;
	}
}




@mixin roadmapStage($color, $sprite){
	.roadmap-title {
		color: $color;
		border-color: $color;
	}

	.roadmap-title__name:before
		{
			@include get-sprite($sprite);
		}
}

.contentBlock-roadmap
	{

		.roadmap-title, .roadmap-desc
			{
				padding-left: 20px;
				padding-right: 20px;
			}

		.roadmap-title
			{
				color: $c-orange;
				border-bottom: 2px solid $c-orange;
				margin-bottom: $vertical-rythm;
				padding-bottom: 10px;
				box-sizing: border-box;
			}


		.roadmap-title__in
			{

				div
					{
						@extend %text_uppercase;
						font-weight: 300;

						&:first-child
							{
								font-size: 24px;
								font-weight: 500;
							}
					}
			}

		.roadmap-title__name
			{
				white-space: nowrap;

				&:before
					{
						content: "";
						display: inline-block;
						vertical-align: middle;
						margin-right: 10px;
					}

				span
					{
						display: inline-block;
						vertical-align: middle;
						overflow: hidden;
						white-space: normal;
					}
			}


		.roadmap-desc
			{
				font-weight: 100;
				letter-spacing: 1px;
				color: #fff;
			}


		.row, div[class *= 'col-']
			{
				@extend %margPadNull;
			}


		.col-12
			{
				@include minTablet(){
					text-align: center;
				}
			}


		.roadmap-done { @include roadmapStage(#fff, 'status-done'); }
		.roadmap-progress { @include roadmapStage($c-violet-light, 'status-progress'); }
		.roadmap-waiting { @include roadmapStage($c-orange, 'status-waiting'); }
		.roadmap-planning { @include roadmapStage($c-orange, 'status-planning'); }
	}






/*--- VIDEOS ---*/

	#index-video
		{
			.js-slider-pager
				{
					font-weight: 300;
					text-transform: uppercase;
					letter-spacing: 2px;

					.row
						{
							margin-left: 0;
							margin-right: 0;
						}


					[data-anyslide-slide]
						{
							cursor: pointer;
							position: relative;
							padding-right: 50px;

							&:before
								{
									content:"";
									width: 1px;
									position: absolute;
									top: 0;
									bottom: 0;
									left: 0;
									background-color: $c-text;
								}

							&.active
								{
									color: $c-orange;
									cursor: default;

									&:before
										{
											background-color: $c-orange;
										}
								}
						}
				}


			@include minTablet(){
					.js-slider-viewport
						{
							margin: 0 50px;
						}
				}


				

			.js-slider-controls
				{
					width: 100%;
					margin-top: -45px;

					path
						{
							stroke: $c-blue;
						}
				}
		}

/*--- end of VIDEOS ---*/

