/* Page News subscription */

#page-news
  {

    // font-size: 16px;

    h3{
    	color: #000;
    }

    .sec-dots__gray
      {
        background-position: 100% 0;
      }

    .sec_mid__left
      {
        top: $vertical-rythm + 7px;
        right: 53%;
        bottom: 60px;

        &:before
        {
          content:"";
          background-image: image-url('bg-news.png');
          background-repeat: no-repeat;

          position: absolute;
          width: image-width('bg-news.png');
          height: image-height('bg-news.png');
          top: 100px;
          right: 390px;
        }

        @include maxTablet(){
          display: none;
        }
      }


     .section__intro_content{
     	min-height: 400px;
     }

  }




/* Page Bounty for miners - alfa release */

.section__firstTransaction
	{
		position: relative;

		@media screen and (min-width: $bootstrap-sm){
			&:after{
				content:"";
				width: 557px;
				height: 299px;
				background: image-url('XRT-first-transaction.png') no-repeat 0 0;
				background-size: contain;

				position: absolute;
			    left: -300px;
	    		bottom: -36px;
			}
		}
		
	}


/* XRT TGE */
#i-nagele{
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  margin-left: 20px;
}

.tge-users
  {
    .img-block{
      max-height: 120px;
      margin-bottom: $vertical-rythm;
    }
  }

.team-avatar{
  position: relative;
  margin-bottom: $vertical-rythm;

  .team-avatar-links{
    position: absolute;
    bottom: 0;
    right: 10px;

    a{
      display: inline-block;
      margin-right: 10px;

      &:last-child{
        margin-right: 0;
      }
    }
  }
}