.token-distribution
	{
		div[class*='col-md-']:not(:first-child)
			{
				padding-top: 30px;
			}
	}


@media screen and (min-width: $bootstrap-md) 
	{
		.token-distribution .row [class*=col-md-] {
			margin-bottom: 0;
		}
	}

@media screen and (max-width: $bootstrap-md) 
	{
		.token-distribution .row [class*=col-md-]:last-child {
			margin-bottom: 0;
		}
	}