$icons: (
    sprite: (width: 2537px, height: 153.86px, pngPath: '../i/sprite.png?2', svgPath: '../i/sprite.svg?2'),
    aira: (width: 100.23px, height: 23.44px, backgroundX: 0px, backgroundY: 0px),
    anchor: (width: 15.08px, height: 17.09px, backgroundX: -101px, backgroundY: 0px),
    blog: (width: 20.33px, height: 20.33px, backgroundX: -117px, backgroundY: 0px),
    ethereum: (width: 35.84px, height: 58.02px, backgroundX: -138px, backgroundY: 0px),
    expand-arrow: (width: 13.13px, height: 18.67px, backgroundX: -174px, backgroundY: 0px),
    facebook: (width: 21.4px, height: 21.4px, backgroundX: -188px, backgroundY: 0px),
    forum: (width: 24.3px, height: 19.72px, backgroundX: -210px, backgroundY: 0px),
    github: (width: 20.33px, height: 23.34px, backgroundX: -235px, backgroundY: 0px),
    hourglass: (width: 21.32px, height: 25.58px, backgroundX: -256px, backgroundY: 0px),
    ipfs: (width: 103.48px, height: 45.02px, backgroundX: -278px, backgroundY: 0px),
    medium: (width: 18.92px, height: 15px, backgroundX: -382px, backgroundY: 0px),
    nixos: (width: 121.4px, height: 36.65px, backgroundX: -401px, backgroundY: 0px),
    ok: (width: 27.96px, height: 19.66px, backgroundX: -523px, backgroundY: 0px),
    reddit: (width: 22.59px, height: 18.82px, backgroundX: -551px, backgroundY: 0px),
    robotHand1-1: (width: 208.11px, height: 153.86px, backgroundX: -574px, backgroundY: 0px),
    robotHand1-10: (width: 53.19px, height: 68.43px, backgroundX: -783px, backgroundY: 0px),
    robotHand1-11: (width: 56.02px, height: 40.45px, backgroundX: -837px, backgroundY: 0px),
    robotHand1-2: (width: 50.93px, height: 35.61px, backgroundX: -894px, backgroundY: 0px),
    robotHand1-3: (width: 108.83px, height: 67.61px, backgroundX: -945px, backgroundY: 0px),
    robotHand1-4: (width: 64.44px, height: 34.66px, backgroundX: -1054px, backgroundY: 0px),
    robotHand1-5: (width: 92.05px, height: 32.75px, backgroundX: -1119px, backgroundY: 0px),
    robotHand1-6: (width: 87.6px, height: 57.13px, backgroundX: -1212px, backgroundY: 0px),
    robotHand1-7: (width: 34.23px, height: 64.42px, backgroundX: -1300px, backgroundY: 0px),
    robotHand1-8: (width: 74.52px, height: 54.09px, backgroundX: -1335px, backgroundY: 0px),
    robotHand1-9: (width: 21.51px, height: 64.4px, backgroundX: -1410px, backgroundY: 0px),
    robotHand2-1: (width: 76.41px, height: 34.5px, backgroundX: -1432px, backgroundY: 0px),
    robotHand2-10: (width: 39.31px, height: 76.01px, backgroundX: -1509px, backgroundY: 0px),
    robotHand2-11: (width: 58.88px, height: 37.54px, backgroundX: -1549px, backgroundY: 0px),
    robotHand2-12: (width: 23.99px, height: 23.39px, backgroundX: -1608px, backgroundY: 0px),
    robotHand2-13: (width: 25.26px, height: 76.06px, backgroundX: -1632px, backgroundY: 0px),
    robotHand2-14: (width: 56.95px, height: 22.94px, backgroundX: -1658px, backgroundY: 0px),
    robotHand2-15: (width: 133px, height: 62.47px, backgroundX: -1715px, backgroundY: 0px),
    robotHand2-2: (width: 27.91px, height: 15.6px, backgroundX: -1848px, backgroundY: 0px),
    robotHand2-3: (width: 71.75px, height: 29.37px, backgroundX: -1876px, backgroundY: 0px),
    robotHand2-4: (width: 102.09px, height: 96.76px, backgroundX: -1948px, backgroundY: 0px),
    robotHand2-5: (width: 65.19px, height: 26.05px, backgroundX: -2051px, backgroundY: 0px),
    robotHand2-6: (width: 28.22px, height: 13.99px, backgroundX: -2117px, backgroundY: 0px),
    robotHand2-7: (width: 52.99px, height: 26.05px, backgroundX: -2146px, backgroundY: 0px),
    robotHand2-8: (width: 58.97px, height: 36.88px, backgroundX: -2199px, backgroundY: 0px),
    robotHand2-9: (width: 24.54px, height: 22.76px, backgroundX: -2258px, backgroundY: 0px),
    ros: (width: 87.51px, height: 23.15px, backgroundX: -2283px, backgroundY: 0px),
    status-done: (width: 20.49px, height: 11.78px, backgroundX: -2371px, backgroundY: 0px),
    status-planning: (width: 27.83px, height: 25.44px, backgroundX: -2392px, backgroundY: 0px),
    status-progress: (width: 21.51px, height: 21.51px, backgroundX: -2420px, backgroundY: 0px),
    status-waiting: (width: 21.77px, height: 21.61px, backgroundX: -2442px, backgroundY: 0px),
    telegram: (width: 24.3px, height: 21.16px, backgroundX: -2464px, backgroundY: 0px),
    twitter: (width: 22.3px, height: 18.1px, backgroundX: -2489px, backgroundY: 0px),
    youtube: (width: 24.2px, height: 17.03px, backgroundX: -2512px, backgroundY: 0px),
);

$sprite: map-get($icons, sprite);

%back_svg{ background-image: url(map-get($sprite, svgPath)); }
%back_png{ background-image: url(map-get($sprite, pngPath)); }

@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);

    @extend %back_svg;

    // @extend %back_png;
    // .svg & { @extend %back_svg; }
}

.sprite-basic-aira{
  @include get-sprite('aira');
  display: inline-block;
}
.sprite-basic-anchor{
  @include get-sprite('anchor');
  display: inline-block;
}
.sprite-basic-blog{
  @include get-sprite('blog');
  display: inline-block;
}
.sprite-basic-ethereum{
  @include get-sprite('ethereum');
  display: inline-block;
}
.sprite-basic-expand-arrow{
  @include get-sprite('expand-arrow');
  display: inline-block;
}
.sprite-basic-facebook{
  @include get-sprite('facebook');
  display: inline-block;
}
.sprite-basic-forum{
  @include get-sprite('forum');
  display: inline-block;
}
.sprite-basic-github{
  @include get-sprite('github');
  display: inline-block;
}
.sprite-basic-hourglass{
  @include get-sprite('hourglass');
  display: inline-block;
}
.sprite-basic-ipfs{
  @include get-sprite('ipfs');
  display: inline-block;
}
.sprite-basic-medium{
  @include get-sprite('medium');
  display: inline-block;
}
.sprite-basic-nixos{
  @include get-sprite('nixos');
  display: inline-block;
}
.sprite-basic-ok{
  @include get-sprite('ok');
  display: inline-block;
}
.sprite-basic-reddit{
  @include get-sprite('reddit');
  display: inline-block;
}
.sprite-basic-robotHand1-1{
  @include get-sprite('robotHand1-1');
  display: inline-block;
}
.sprite-basic-robotHand1-10{
  @include get-sprite('robotHand1-10');
  display: inline-block;
}
.sprite-basic-robotHand1-11{
  @include get-sprite('robotHand1-11');
  display: inline-block;
}
.sprite-basic-robotHand1-2{
  @include get-sprite('robotHand1-2');
  display: inline-block;
}
.sprite-basic-robotHand1-3{
  @include get-sprite('robotHand1-3');
  display: inline-block;
}
.sprite-basic-robotHand1-4{
  @include get-sprite('robotHand1-4');
  display: inline-block;
}
.sprite-basic-robotHand1-5{
  @include get-sprite('robotHand1-5');
  display: inline-block;
}
.sprite-basic-robotHand1-6{
  @include get-sprite('robotHand1-6');
  display: inline-block;
}
.sprite-basic-robotHand1-7{
  @include get-sprite('robotHand1-7');
  display: inline-block;
}
.sprite-basic-robotHand1-8{
  @include get-sprite('robotHand1-8');
  display: inline-block;
}
.sprite-basic-robotHand1-9{
  @include get-sprite('robotHand1-9');
  display: inline-block;
}
.sprite-basic-robotHand2-1{
  @include get-sprite('robotHand2-1');
  display: inline-block;
}
.sprite-basic-robotHand2-10{
  @include get-sprite('robotHand2-10');
  display: inline-block;
}
.sprite-basic-robotHand2-11{
  @include get-sprite('robotHand2-11');
  display: inline-block;
}
.sprite-basic-robotHand2-12{
  @include get-sprite('robotHand2-12');
  display: inline-block;
}
.sprite-basic-robotHand2-13{
  @include get-sprite('robotHand2-13');
  display: inline-block;
}
.sprite-basic-robotHand2-14{
  @include get-sprite('robotHand2-14');
  display: inline-block;
}
.sprite-basic-robotHand2-15{
  @include get-sprite('robotHand2-15');
  display: inline-block;
}
.sprite-basic-robotHand2-2{
  @include get-sprite('robotHand2-2');
  display: inline-block;
}
.sprite-basic-robotHand2-3{
  @include get-sprite('robotHand2-3');
  display: inline-block;
}
.sprite-basic-robotHand2-4{
  @include get-sprite('robotHand2-4');
  display: inline-block;
}
.sprite-basic-robotHand2-5{
  @include get-sprite('robotHand2-5');
  display: inline-block;
}
.sprite-basic-robotHand2-6{
  @include get-sprite('robotHand2-6');
  display: inline-block;
}
.sprite-basic-robotHand2-7{
  @include get-sprite('robotHand2-7');
  display: inline-block;
}
.sprite-basic-robotHand2-8{
  @include get-sprite('robotHand2-8');
  display: inline-block;
}
.sprite-basic-robotHand2-9{
  @include get-sprite('robotHand2-9');
  display: inline-block;
}
.sprite-basic-ros{
  @include get-sprite('ros');
  display: inline-block;
}
.sprite-basic-status-done{
  @include get-sprite('status-done');
  display: inline-block;
}
.sprite-basic-status-planning{
  @include get-sprite('status-planning');
  display: inline-block;
}
.sprite-basic-status-progress{
  @include get-sprite('status-progress');
  display: inline-block;
}
.sprite-basic-status-waiting{
  @include get-sprite('status-waiting');
  display: inline-block;
}
.sprite-basic-telegram{
  @include get-sprite('telegram');
  display: inline-block;
}
.sprite-basic-twitter{
  @include get-sprite('twitter');
  display: inline-block;
}
.sprite-basic-youtube{
  @include get-sprite('youtube');
  display: inline-block;
}
