$icons: (
    sprite: (width: 828px, height: 58.02px, pngPath: '../i/sprite.png?1', svgPath: '../i/sprite.svg?1'),
    aira: (width: 100.23px, height: 23.44px, backgroundX: 0px, backgroundY: 0px),
    anchor: (width: 15.08px, height: 17.09px, backgroundX: -101px, backgroundY: 0px),
    blog: (width: 20.33px, height: 20.33px, backgroundX: -117px, backgroundY: 0px),
    ethereum: (width: 35.84px, height: 58.02px, backgroundX: -138px, backgroundY: 0px),
    expand-arrow: (width: 13.13px, height: 18.67px, backgroundX: -174px, backgroundY: 0px),
    facebook: (width: 21.4px, height: 21.4px, backgroundX: -188px, backgroundY: 0px),
    forum: (width: 24.3px, height: 19.72px, backgroundX: -210px, backgroundY: 0px),
    github: (width: 20.33px, height: 23.34px, backgroundX: -235px, backgroundY: 0px),
    hourglass: (width: 21.32px, height: 25.58px, backgroundX: -256px, backgroundY: 0px),
    ipfs: (width: 103.48px, height: 45.02px, backgroundX: -278px, backgroundY: 0px),
    medium: (width: 18.92px, height: 15px, backgroundX: -382px, backgroundY: 0px),
    nixos: (width: 121.4px, height: 36.65px, backgroundX: -401px, backgroundY: 0px),
    ok: (width: 27.96px, height: 19.66px, backgroundX: -523px, backgroundY: 0px),
    reddit: (width: 22.59px, height: 18.82px, backgroundX: -551px, backgroundY: 0px),
    ros: (width: 87.51px, height: 23.15px, backgroundX: -574px, backgroundY: 0px),
    status-done: (width: 20.49px, height: 11.78px, backgroundX: -662px, backgroundY: 0px),
    status-planning: (width: 27.83px, height: 25.44px, backgroundX: -683px, backgroundY: 0px),
    status-progress: (width: 21.51px, height: 21.51px, backgroundX: -711px, backgroundY: 0px),
    status-waiting: (width: 21.77px, height: 21.61px, backgroundX: -733px, backgroundY: 0px),
    telegram: (width: 24.3px, height: 21.16px, backgroundX: -755px, backgroundY: 0px),
    twitter: (width: 22.3px, height: 18.1px, backgroundX: -780px, backgroundY: 0px),
    youtube: (width: 24.2px, height: 17.03px, backgroundX: -803px, backgroundY: 0px),
);

$sprite: map-get($icons, sprite);

%back_svg{ background-image: url(map-get($sprite, svgPath)); }
%back_png{ background-image: url(map-get($sprite, pngPath)); }

@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);

    @extend %back_svg;
}

.sprite-basic-aira{
  @include get-sprite('aira');
  display: inline-block;
}
.sprite-basic-anchor{
  @include get-sprite('anchor');
  display: inline-block;
}
.sprite-basic-blog{
  @include get-sprite('blog');
  display: inline-block;
}
.sprite-basic-ethereum{
  @include get-sprite('ethereum');
  display: inline-block;
}
.sprite-basic-expand-arrow{
  @include get-sprite('expand-arrow');
  display: inline-block;
}
.sprite-basic-facebook{
  @include get-sprite('facebook');
  display: inline-block;
}
.sprite-basic-forum{
  @include get-sprite('forum');
  display: inline-block;
}
.sprite-basic-github{
  @include get-sprite('github');
  display: inline-block;
}
.sprite-basic-hourglass{
  @include get-sprite('hourglass');
  display: inline-block;
}
.sprite-basic-ipfs{
  @include get-sprite('ipfs');
  display: inline-block;
}
.sprite-basic-medium{
  @include get-sprite('medium');
  display: inline-block;
}
.sprite-basic-nixos{
  @include get-sprite('nixos');
  display: inline-block;
}
.sprite-basic-ok{
  @include get-sprite('ok');
  display: inline-block;
}
.sprite-basic-reddit{
  @include get-sprite('reddit');
  display: inline-block;
}
.sprite-basic-ros{
  @include get-sprite('ros');
  display: inline-block;
}
.sprite-basic-status-done{
  @include get-sprite('status-done');
  display: inline-block;
}
.sprite-basic-status-planning{
  @include get-sprite('status-planning');
  display: inline-block;
}
.sprite-basic-status-progress{
  @include get-sprite('status-progress');
  display: inline-block;
}
.sprite-basic-status-waiting{
  @include get-sprite('status-waiting');
  display: inline-block;
}
.sprite-basic-telegram{
  @include get-sprite('telegram');
  display: inline-block;
}
.sprite-basic-twitter{
  @include get-sprite('twitter');
  display: inline-block;
}
.sprite-basic-youtube{
  @include get-sprite('youtube');
  display: inline-block;
}
