@keyframes FadeOut
	{
	  0% {
	    visibility: visible;
		opacity: 1;
		width: auto;
  		height: auto;
	  }
	  100% {
	    visibility: hidden;
		opacity: 0;
		width: 0;
 	 	height: 0;
	  }
	}


@keyframes FadeIn
	{
	  0% {
	    visibility: hidden;
		opacity: 0;
		width: 0;
 	 	height: 0;
	  }
	  100% {
	    visibility: visible;
		opacity: 1;
		width: auto;
  		height: auto;
	  }
	}


@keyframes ScaleIn
	{
		0%
		{
			transform: scale(0);
		}
		100%
		{
			transform: scale(1);
		}
	}


@keyframes Rotate
 {
   0%
     {
       transform:rotate(0deg);
     }
   100%
     {
       transform:rotate(360deg);
     }
 }


 @keyframes SlideRight
 {
   0%
     {
       transform: translateX(-100%);
     }
   100%
     {
      transform: translateX(0);
     }
 }