/* Icons */
@font-face {
	font-family: 'iconfont';
	src:url('../fonts/iconfont.eot');
	src:url('../fonts/iconfont.eot') format('embedded-opentype'),
		url('../fonts/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

%iconsfont{
	font-family: 'iconfont';
	speak: none;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin icon($content){
	@extend %iconsfont;
	&:before { content: $content; }
}

.i-back { @include icon('\EA01'); }
.i-copy { @include icon('\EA02'); }
.i-cursor { @include icon('\EA03'); }
.i-github { @include icon('\EA04'); }
.i-reddit { @include icon('\EA05'); }
.i-lighthouse { @include icon('\EA06'); }
.i-piechart { @include icon('\EA07'); }
.i-transfer { @include icon('\EA08'); }
.i-day { @include icon('\EA09'); }
.i-night { @include icon('\EA010'); }
.i-multicolor { @include icon('\EA011'); }