@mixin secw($w)
	{
		@if $w != 100% {
      max-width: $w - $padding-fields * 2;
    }

		padding-left: $padding-fields; 
		padding-right: $padding-fields; 
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

@mixin responsiveTable($breakpoint){
  td:before {
      content: attr(data-th)": ";
      font-weight: 500;
      margin-right: 30px;
      display: none;
  }


  @media (max-width: $breakpoint){
    th { display: none; }

    td { 
      display: block;
      background-color: transparent !important;


      // &:first-child{
      // 	background-color: $c-gray !important;
      // }
      
      &:before{
        display: inline-block;
      }
    }
  }
}


@mixin margins($value){
  .m-#{$value} { margin: #{$value}px !important; }
  .m-t-#{$value} { margin-top: #{$value}px !important; }
  .m-r-#{$value} { margin-right: #{$value}px !important; }
  .m-b-#{$value} { margin-bottom: #{$value}px !important; }
  .m-l-#{$value} { margin-left: #{$value}px !important; }
}

@mixin paddings($value){
  .p-#{$value} { padding: #{$value}px !important; }
  .p-t-#{$value} { padding-top: #{$value}px !important; }
  .p-r-#{$value} { padding-right: #{$value}px !important; }
  .p-b-#{$value} { padding-bottom: #{$value}px !important; }
  .p-l-#{$value} { padding-left: #{$value}px !important; }
}