$icons: (
    sprite: (width: 60px, height: 22.451px, pngPath: '../i/sprite.png?6', svgPath: '../i/sprite.svg?6'),
    i-check: (width: 13.758px, height: 9.899px, backgroundX: 0px, backgroundY: 0px),
    i-checked: (width: 22.45px, height: 22.451px, backgroundX: -14px, backgroundY: 0px),
    i-error: (width: 22.446px, height: 22.446px, backgroundX: -37px, backgroundY: 0px),
);

$sprite: map-get($icons, sprite);

%back_svg{ background-image: url(map-get($sprite, svgPath)); }
%back_png{ background-image: url(map-get($sprite, pngPath)); }

@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);

    @extend %back_svg;

    // @extend %back_png;
    // .svg & { @extend %back_svg; }
}

.sprite-basic-i-check{
  @include get-sprite('i-check');
  display: inline-block;
}
.sprite-basic-i-checked{
  @include get-sprite('i-checked');
  display: inline-block;
}
.sprite-basic-i-error{
  @include get-sprite('i-error');
  display: inline-block;
}
