/*====== Text sizes & Headers ======*/

html { font-size: 100%; }
body { @extend %font_base; }

#{headings()}
	{
		@extend %text_uppercase;
		line-height: 1.5;
		font-weight: 500;
  		margin-bottom: $vertical-rythm/2;
  		font-weight: 300;
	}

#{headings(1,2)}
	{
		margin-top: $margin-sec;
		margin-bottom: $vertical-rythm;

		&:first-child { margin-top: 0; }
	}


@for $i from 2 through 4
	{
	  h#{$i}
		  {
		  	font-size: $font-size-title - 4 * $i;
		  }
	}


h1 { font-size: $font-size-title; }
h5 { font-size: $font-size-base; }

.t-lg { font-size: $font-size-base + 8; }
.t-md { font-size: $font-size-base + 4; }
.t-sm { font-size: $font-size-base - 3; }

/*====== end of Text sizes & Headers ======*/




/*====== Text styles ======*/

b { font-weight: 500; }


a 
	{
		color: $c-link;
		@extend %link_noline;

		&:hover { color: lighten($c-link, 10%); }

		&.a-noline { @extend %link_noline; }

		&.a-icon{
			@extend %link_noline;
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 13px;
			background-color: $c-violet;
			color: #fff;

			span, b{
				@extend %flex_center;
				width: 20px;
				height: 20px;
			}
		}
	}


li, p, blockquote
	{
	  margin-bottom: $vertical-rythm/2;

	  &:last-child{
	  	margin-bottom: 0;
	  }
	}


ul, ol
	{
	  margin-left: 20px;
	  margin-bottom: $vertical-rythm;

	  ul, ol{
	  	margin-top: $vertical-rythm;
	  }
	}


blockquote
	{
		border-width: 2px 0;
		border-style: solid;
		border-color: $c-orange;
		font-weight: 500;
		padding: $vertical-rythm/3 0;
	}

hr{
	background-color: $c-violet;
	border: 0;
	height: 1px;
	margin-top: $vertical-rythm/2;
	margin-bottom: $vertical-rythm/2;

	&.hr-lg{
		height: 3px;
		margin-top: $vertical-rythm;
		margin-bottom: $vertical-rythm;
	}
}

table
	{

		margin-top: $margin-sec;
		margin-bottom: $margin-sec;

		td, th {
			padding: 10px 20px;
			border-bottom: 1px solid darken($c-background, 15%);
		}

		th{
			@extend %text_uppercase;
			text-align: left;
			background-color: darken($c-background, 5%);
		}

		caption{
			font-weight: 500;
			text-align: left;
			padding-bottom: 4px;
			opacity: .6;
		}
	}

.table-responsive { @include responsiveTable($mq-tablet); }
.table-striped tbody tr:nth-child(even){ background-color: darken($c-background, 3%); }


/*====== end of Text elements ======*/






/*====== Margins & paddings ======*/

@include margins(0);
@include margins(5);
@include margins(10);
@include margins(15);
@include margins(20);
@include margins(30);
@include margins(40);

.m-b-sec { margin-bottom: $margin-sec;  }
.m-t-sec { margin-top: $margin-sec;  }

.m-b-half { margin-bottom: $margin-sec/2; }
.m-t-half { margin-top: $margin-sec/2; }


@include paddings(0);
@include paddings(10);
/*====== end of Margins & paddings ======*/



.breakwords { word-break: break-all; }
.nowrap { white-space: nowrap; }

.t-align--center { text-align: center !important; }
.t-align--right { text-align: right !important; }
.t-align--left { text-align: left !important; }

.t-uppercase { @extend %text_uppercase; }

.t-hyphen
	{
		text-align: justify;
		hyphens: auto;
	}

.t-color-red, a.t-color-red { color: $c-red; }
.t-color-green, a.t-color-green { color: $c-green; }


.code-overflow-line
	{
		max-width: 100%;
		overflow-x: auto;
		display: inline-block;
		white-space: nowrap;
	}

.t-label--blue, .t-label--orange, .t-label--green 
	{
		padding: 4px 10px;
		color: #fff;
	}

.t-label--blue { background-color: $c-blue; }
.t-label--orange { background-color: $c-orange; }
.t-label--green { background-color: $c-green; }

.i-block { @extend %i-block; }

