$icons: (
    sprite: (width: {{spriteWidth}}px, height: {{spriteHeight}}px, pngPath: '../i/sprite.png?6', svgPath: '../i/sprite.svg?6'),
{{#shapes}}     
    {{base}}: (width: {{width.inner}}px, height: {{height.inner}}px, backgroundX: {{position.absolute.x}}px, backgroundY: {{position.absolute.y}}px),
{{/shapes}});

$sprite: map-get($icons, sprite);

%back_svg{ background-image: url(map-get($sprite, svgPath)); }
%back_png{ background-image: url(map-get($sprite, pngPath)); }

@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);

    @extend %back_svg;

    // @extend %back_png;
    // .svg & { @extend %back_svg; }
}

{{#shapes}}
.sprite-basic-{{base}}{
  @include get-sprite('{{base}}');
  display: inline-block;
}
{{/shapes}}