extends extends/layout_simple.pug
include mixins/sections.pug

block head
	- var pageTitle = 'Loading dApp'

block content
	.container-basic
		section.t-align_center
			.loading-logo
				img(alt="dApp logo", src="assets/i/logo-dapp-2.svg", style="width: 150px;")
			.loading-title.title-pale XRT token generation event

			section
				.loader
					.loader-ring.align-vertical.m-r-15
					b.align-vertical.t-style_uppercase Loading