extends extends/layout_header_1.pug

block html
	- var bodyclass = 'tge-finish'

block head
	- var pageTitle = 'Step 3 | TGE XRT'

block content
	.container-basic
		section
			img.tge-finish_img(alt="", src="assets/i/tge-finish.png", srcset="assets/i/tge-finish@2x.png")
			.separator-pale