extends extends/layout_header_1.pug

block head
	- var pageTitle = 'Loading dApp'

block content

	.container-basic
		section.section-white
			h1 Add contribution to wallet

			.row.row-marged_cols
				.col-md-4
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					p.t-color-red Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.col-md-8
					section.section-small
						p: b 1. Check your account:

						section.section-bordered.m-t-0
							code.code-overflow-line 0x002f60d5794055ad13bf3247aa1d005db3d06f4r
							p.t-color-green KYC passed
							div Current funds: 0 ETH

					section.section-small
						p: b 2. How much ETH would you like to contribute?
						p
							input.input-size_sm.t-align_right.m-r-20(type="number", placeholder="10", min="0.1")
							b ETH
						a.btn-green(href="#") Proceed