%FadeOut
	{
		visibility: hidden;
    	opacity: 0;
	}


@keyframes FadeIn
	{
	  0% {
	    visibility: hidden;
		opacity: 0;
	  }
	  100% {
	    visibility: visible;
		opacity: 1;
	  }
	}



@keyframes BounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { opacity: 1; transform: scale(1); }
}


@keyframes HamburgerLineDown
	{
		0%
		{
			transform: translateY(-5px);
		}
		100%
		{
			transform: translateY(0);
		}
	}

@keyframes HamburgerLineUp
	{
		0%
		{
			transform: translateY(5px);
		}
		100%
		{
			transform: translateY(0);
		}
	}