$color-loader: #03A5ED;

.anyslide[data-anyslide ~= 'controls']
  {
    position: relative;

    .js-slider-controls{
      position: absolute;
      top: 50%;
      margin-top: -24px;
      left: 0;
      right: 0;

      .prev, .next{
        position: absolute;
        top: 0;
        display: block;

        &.disabled{
          filter: grayscale(1);
          opacity: 0.5;
          cursor: default;
        }
      }

      .prev{
        left: 0;
      }

      .next{
        right: 0;
      }
    }
  }



// .js-slider-pager
//   {
//     display: table;
//     width: 100%;

//     & > *
//       {
//         display: table-cell;
//         padding-right: 40px;

//         &:last-child
//           {
//             padding-right: 0;
//           }
//       }
//   }




.js-slider-viewport
  {
    .slide{
      display: none;
      opacity: 0;

      &.active{
        display: block;
        animation: 0.2s FadeIn ease-in-out forwards;
      }
    }
  }




.anyslide-loader
  {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin: 40px auto;

    &:before{
      content:"";
      position: absolute;
      top: -5px;
      left: -5px;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      border: 5px solid transparent;
      border-top-color: $color-loader;
      border-left-color: $color-loader;
      border-bottom-color: $color-loader;
      animation: Spin 1s infinite;
    }
  }


@keyframes FadeIn
  {
    0% {
      visibility: hidden;
    opacity: 0;
    }
    100% {
      visibility: visible;
    opacity: 1;
    }
  }


@keyframes Spin{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}