%font_base
	{
		font-family: $font-family-base;
		
		@include rem('font-size', $font-size-base);
		line-height: $scale;
		font-weight: 400;

		word-spacing: normal;
		letter-spacing: 0;
	}



html
	{ font-size: 100%; }



body 
	{ @extend %font_base; }





/*====== Text sizes & Headers ======*/

#{headings()}
	{
		line-height: $scale-sm;

		@include rem('margin-top', $vertical-rythm*2);
  		@include rem('margin-bottom', $vertical-rythm*2);

  		&:first-child
  			{
  				margin-top: 0;
  			}
	}


@for $i from 2 through 5
	{
	  h#{$i}
		  {
		  	@include rem('font-size', $font-size-title - 4 * $i);
		  }
	}


h1
	{
		@include rem('font-size', $font-size-title);
	}


h2
	{
		font-weight: 300;
	  	text-transform: uppercase;
	  	color: $c-orange;
	  	letter-spacing: 3px;
	  	word-spacing: 4px;
	}

h3
	{
		font-weight: 500;
		color: #000;
	}

.t-big
	{
		@include rem('font-size', 22);
		font-weight: 300;
	}

.t-mid
	{
		@include rem('font-size', 18);
		font-weight: 300;
	}
/*====== end of Text sizes & Headers ======*/







/*====== Text styles ======*/

body
	{
		color: $c-text;
	}


b
	{ font-weight: 500; }


a 
	{
		color: $c-blue;
		@extend %link_noline;

		&:hover
			{
				color: lighten($c-blue, 10%);
				text-decoration: underline;
				text-decoration: underline !important;
			}
	}

.text-hyphened
	{
		text-align: justify;
		hyphens: auto;
	}


.t-break
	{ word-break: break-all; }

.t-nowrap
	{ white-space: nowrap; }

.t-center
	{ text-align: center; }

.t-right
	{ text-align: right; }

.t-left
	{ text-align: left; }


.t-blue { color: $c-blue; color: $c-blue !important; }

/*====== end of Text styles ======*/







/*====== Text elements ======*/

ul, ol
	{
	  @include rem('margin-left', 20);
	  @include rem('margin-bottom', $vertical-rythm);

	  ul, ol{
	  	@include rem('margin-top', $vertical-rythm);
	  }
	}


li, p, blockquote
	{
	  @include rem('margin-bottom', $vertical-rythm);

	  &:last-child{
	  	margin-bottom: 0;
	  }
	}

code
	{
	    max-height: 120px;
	    word-break: break-all;
	}


table
	{
		td, th {
			vertical-align: top;
			@include rem('padding', $vertical-rythm * 0.5);
		}

		@include maxTablet(){
			td, th {
				display: block;
				@include rem('padding', $vertical-rythm * 0.3);
				padding-left: 0;
				padding-right: 0;

				&:first-child{
					font-weight: bold;
					@include rem('padding-top', $vertical-rythm);
				}
			}
		}
	}


.img-block
	{
	  display: block;
	  max-width: 100%;
	  margin-left: auto;
	  margin-right: auto;
	}

.img-fullback
	{
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: 50% 50%;
	}

/*====== end of Text elements ======*/






/*====== Margins & paddings ======*/

.m-t-0 { margin-top: 0; }
.m-b-0 { margin-bottom: 0; }

/*====== end of Margins & paddings ======*/




/*====== Other ======*/

.embed-video
	{
	  iframe, object, embed{
	    border: 0;
	  }

	  &.responsive-true{
	    position: relative;
	    padding-bottom: 56.2%;
	    height: 0;
	    overflow: hidden;

	    iframe, object , embed{
	      position: absolute;
	      top: 0;
	      left: 0;
	      width: 100%;
	      height: 100%;
	    }
	  }
	}

/*====== end of Other ======*/