#index-terminal{
	padding-top: 0;
	padding-bottom: 0;

	&, .secw-base { background-color: $c-gray-light; }
	.col-md-5 { padding-right: 2% !important; }
}


#index-terminal__info.row{
	padding-left: 10%;
	padding-right: 5%;
	padding-top: 10%;

	h3{
		font-weight: 500;
		margin-bottom: 10%;
	}
}

#index-terminal__step{
	color: $c-blue;
	text-align: right;

	b{
		font-size: 28px;
		font-weight: 500;
		text-transform: uppercase;
		display: block;
		white-space: nowrap;
	}
}

#index-terminal__info_cmd{
	display: inline-block;
	padding: 10px 15px;
	border-radius: 2px;
	background-color: darken($c-gray-light,5%);
	letter-spacing: 1px;
	@extend %link_noline;

	&:before{
		content:">";
		font-weight: 500;
		color: $c-gray-mid;
		margin-right: 10px;
	}
}


.terminal__window{
	box-sizing: border-box;
	height: 320px;
	background-color: $c-gray-dark;
}

.terminal__window_head{
	background-color: $c-gray-mid;
	color: $c-gray-dark;
	font-weight: 500;
	@extend %text_uppercase;
	padding: 5px 10px;
}

%terminal_text{
	color: #fff;
	font-family: 'Courier', monospace;
	font-size: $font-size-base;
	line-height: 1.2;
}

.terminal__window_content{
	@extend %terminal_text;
	padding: 5px 10px;
	overflow-y: scroll;
	height: 85%;
    box-sizing: border-box;
    margin: 5px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;

    .input input, .input textarea{
    	@extend %terminal_text;
    	background-color: transparent;
    	padding-left: 0;
    	padding-right: 0;
    	text-transform: none;
    	letter-spacing: normal;
    	width: 100%;
    	box-sizing: border-box;
    	border: 0;
    	display: inline-block;
    	resize: none;
    }

    p.cmd, p.input{
    	position: relative;
    	padding-left: 25px;

    	&:nth-child(2n){
    		&:before{
    			content: "$ ";
    			position: absolute;
    			left: 0;
    			top: 0;	
    			color: $c-blue;
    		}
    	}
    }
}

#index-terminal-result{
	padding: 0;
}

.index-terminal-result__step{
	overflow: hidden;
	position: relative;
	width: 100%;
    height: 100%;
}

img.index-terminal-result__grid{
	display: block;
	width: image-width('Terminal-Result-1.png');
	height: image-height('Terminal-Result-1.png');
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -(image-height('Terminal-Result-1.png')/2);
	margin-left: -(image-width('Terminal-Result-1.png')/2);

	transition: 0.8s opacity ease;
	opacity: 0;
	visibility: hidden;

	&.active{
		opacity: 1;
		visibility: visible;
	}
}


.progress{
	width: 100%;
	background-color: $c-gray;

	.progress, .progress-bar{
		height: 7px;
	}

	.progress-bar{
		background-color: $c-blue;
		transition: width 0.2s ease-in-out;
	}
}






.contentBlock-token
	{
		position: relative;
		padding-bottom: image-height('pattern_token.png') + $margin-sec;

		&:after
			{
				content:"";
				position: absolute;
				bottom: $margin-sec;
				left: 0;
				right: 0;
				z-index: 1;

				height: image-height('pattern_token.png');
				background: image_url('pattern_token.svg') repeat-x 0 100%;
			}
	}


.contentBlock-token__info
	{
		padding-right: 230px;
		position: relative;

		.logo-robonomics-outline
			{
				position: absolute;
				width: 190px;
				right: 0;
				top: 0;

				path
					{
						stroke-dasharray: 700;
        				stroke-dashoffset: 700;
					}

				circle
					{
						@extend %FadeOut;
					}

				&.animate
					{
						path
							{
		        				animation: 2s DrawSvgPath 1s ease-in-out forwards;
		        			}

		        		circle
		        			{
		        				animation: 0.2s FadeIn 0.8s linear forwards;
		        			}
					}
			}


		@include mobile()
			{
				padding-right: 0;
				margin-bottom: $margin-sec;

				.logo-robonomics-outline
					{
						position: static;
						margin-bottom: $margin-sec;
					}
			}

	}




.contentBlock-roadmap
	{

		.roadmap-title, .roadmap-desc
			{
				padding-left: 20px;
				padding-right: 20px;
			}

		.roadmap-title
			{
				border-bottom: 2px solid $c-orange;
				margin-bottom: $vertical-rythm;
				padding-bottom: 10px;
			}


		.roadmap-title__in
			{
				div
					{
						display: block;
						text-transform: uppercase;
						letter-spacing: 2px;
						color: $c-orange;
						font-weight: 300;

						&:first-child
							{
								font-size: 24px;
								font-weight: 500;
							}
					}
			}


		.roadmap-desc
			{
				font-weight: 100;
				letter-spacing: 1px;
				color: #fff;
			}


		.roadmap-gray
			{
				.roadmap-title
					{
						border-color: $c-gray;

						div
							{
								color: $c-gray;
							}
						
					}
			}


		.row, div[class *= 'col-']
			{
				@extend %margPadNull;
			}


		.col-12
			{
				@include minTablet(){
					text-align: center;
				}
			}

	}






/*--- VIDEOS ---*/

	#index-video
		{
			.js-slider-pager
				{
					font-weight: 300;
					text-transform: uppercase;
					letter-spacing: 2px;

					.row
						{
							margin-left: 0;
							margin-right: 0;
						}


					[data-anyslide-slide]
						{
							cursor: pointer;
							position: relative;
							padding-right: 50px;

							&:before
								{
									content:"";
									width: 1px;
									position: absolute;
									top: 0;
									bottom: 0;
									left: 0;
									background-color: $c-text;
								}

							&.active
								{
									color: $c-orange;
									cursor: default;

									&:before
										{
											background-color: $c-orange;
										}
								}
						}
				}


			@include minTablet(){
					.js-slider-viewport
						{
							margin: 0 50px;
						}
				}


				

			.js-slider-controls
				{
					width: 100%;
					margin-top: -45px;

					path
						{
							stroke: $c-blue;
						}
				}
		}

/*--- end of VIDEOS ---*/

