if !footer_container
	- var footer_container = 'container-basic'

footer(role='contentinfo')
	div(class=footer_container)
		.separator-pale.separator-animated.js-checkInView

		.p-10
			a.t-style_uppercase.d-inlineblock.a-color_pale.m-r-40.a-noline(href="https://aira.life/", target="_blank")
				span.sprite-basic-logo-aira-pale.d-inlineblock.m-r-15
				span.d-inlineblock Developed by&nbsp;
				b.d-inlineblock Airalab

			a.t-style_uppercase.d-inlineblock.a-color_pale.a-noline(href="https://robonomics.network", target="_blank")
				span.sprite-basic-logo-robonomics-pale.d-inlineblock.m-r-15
				span.d-inlineblock Runs within&nbsp;
				b.d-inlineblock Robonomics network