header[role='banner']
  {
    text-align: center;
  }

#header-mid
  {
    position: relative;
    padding-top: 68px;
    min-height: 370px;
    box-sizing: border-box;

  }

#logo-robonomics
  {
    display: inline-block;
    width: 200px;

    opacity: 0;
    transform: scale(.3);

    animation: Bounce-in 1s ease forwards;
  }

#logo-ethereum
  {
    position: absolute;
    width: 37px;
    top: 17px;
    left: 50%;
    margin-left: -195px;

    opacity: 0;
    transform: scale(.3);

    animation: 0.5s Bounce-in 1s ease forwards;
  }


#header-canvas-wrap
  {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 370px;
    z-index: 0;
  }


#header-canvas
  {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    height: 100%;
    
    // width: 100%;
    // left: 0;

    width: 3400px;
    margin-left: -1700px;
    left: 50%;
  }

#header-mid__content
  {
    position: relative;
    z-index: 1;
  }


#header-title
  {
    margin-top: 97px;

    span
      {
        display: inline-block;
        text-transform: uppercase;
        background-color: $c-violet-mid;
        color: #fff;
        letter-spacing: 2px;
        padding: 3px 20px;
        font-size: 22px;
      }
  }


#header-subtitle
  {
    color: $c-violet-mid;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
  }

// .hamburger{
//   .line{
//     width: 30px;
//     height: 2px;
//     // background-color: $color-lk;
//     display: block;
//     margin: 8px auto;
//     border-radius: 2px;
//     transition: all .3s ease-in-out;
//   }
// }


// .dropdown:hover
//   {
//     .hamburger .line{
//         &:nth-child(2){ opacity: 0; }
//         &:nth-child(1) { transform: translateY(10px) rotate(45deg); }
//         &:nth-child(3) { transform: translateY(-10px) rotate(-45deg); }
//       }
//   }