header[role='banner']
  {
    text-align: center;
  }

#header-mid
  {
    padding-top: 68px;
    padding-bottom: 122px;
    position: relative;
    overflow: hidden;


    #header-canvas
      {
        display: block;
        position: absolute;
        top: 0;
        // left: 0;
        left: 50%;
        right: 0;
        bottom: 0;

        width: 3400px;
        height: 100%;
        margin-left: -1700px;
      }

  }

#logo-robonomics
  {
    display: inline-block;
    width: 200px;

    opacity: 0;
    transform: scale(.3);

    animation: Bounce-in 1s ease forwards;
  }

#logo-ethereum
  {
    position: absolute;
    width: 37px;
    top: 17px;
    left: 50%;
    margin-left: -195px;

    opacity: 0;
    transform: scale(.3);

    animation: 0.5s Bounce-in 1s ease forwards;
  }





// .hamburger{
//   .line{
//     width: 30px;
//     height: 2px;
//     // background-color: $color-lk;
//     display: block;
//     margin: 8px auto;
//     border-radius: 2px;
//     transition: all .3s ease-in-out;
//   }
// }


// .dropdown:hover
//   {
//     .hamburger .line{
//         &:nth-child(2){ opacity: 0; }
//         &:nth-child(1) { transform: translateY(10px) rotate(45deg); }
//         &:nth-child(3) { transform: translateY(-10px) rotate(-45deg); }
//       }
//   }