extends extends/layout.pug

block head
	- var pageTitle = 'Robot economic infrastructure'

block content
	header(role='banner')
		include mixins/sections.pug
		+header_top()

	main(role="main")
		.secw-narrow
			h1 Robonomics network F.A.Q.

		section.section__intro.red.section__contents
			.section__intro_content.secw-narrow.js-listexpand
				a(href="#2", data-scroll) Perspective
				a(href="#") Range of issues
				a(href="#") Solution
				a(href="#") What does the paper describe?
				a(href="#") What problem do you solve?
				a(href="#") Could you give examples of industrial tasks being solved by such a network?
				a(href="#") What users' problems can such a network solve?
				a(href="#") How does it work at the national level?
				a(href="#") Why do you take market mechanism as a basis of communications combined into the network of CPS?
				a(href="#") CPS as a service?

				.js-expand-content
					a(href="#") What's the example of a sensor network as a service?
					a(href="#") And what about an example of unmanned logistics?
					a(href="#") What does robonomics network mean?
					a(href="#") Where does the solution being developed by your team lie?
					a(href="#") Who are the members of robonimics network?
					a(href="#") Where do economic incentives for supporting of robonomics network lie?
					a(href="#") Why are lighthouses necessary?
					a(href="#") Describe briefly the entire operational cycle in the network
					a(href="#") What does it mean communication channels of robonomics?
					a(href="#") How do you use Ethereum Blockchain?
					a(href="#") Commission fees in robonomics network
					a(href="#") Token emission
					a(href="#") Is there any geographic bind within robonomics network?

				a(href="#").js-expand-toggle Expand all

			.snapsvg-wrap-1.snapsvg-wrap
				svg.snapsvg


		section.secw-narrow
			h2(id="2") Perspective
			p Adaptive system of distribution, control and service delivery by cyber physical systems within the context of the whole planet, which is directly available for end-user.
			h2 Range of issues
			p Humankind needs constant build-up of mass production of goods and services. All-out appliance of CPS in production, logistics and city life will allow coping with increasing complexity of supply chains of consumers with quality product. The main question in this field is to arrange common work of cyber physical systems (CPS).