@mixin secw($w)
	{
		width: 100%;
		max-width: $w - $padding-fields * 2; 
		padding-left: $padding-fields; 
		padding-right: $padding-fields; 
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

@mixin responsiveTable($breakpoint){
  td:before {
      content: attr(data-th)": ";
      font-weight: bold;
      margin-right: 30px;
      display: none;
  }


  @media (max-width: $breakpoint){
    th { display: none; }

    td { 
      display: block; 


      &:first-child{
      	background-color: $c-gray-light;
      }
      
      &:before{
        display: inline-block;
      }
    }
  }
}