header(role='banner')
	.container-basic
		.d-table.container-full
			.align-vertical
				a(href="/").header-logo: img(alt="dApp logo", src="assets/i/logo-dapp.svg")
				.header-title
					| dapp 
					b XRT token generation event
			.align-vertical.t-align_right
				nav.nav-g
					a(href="#", target="_blank") Link 1
					.dropdown
						a(href="javascript:;"): span.sprite-basic-i-menu-dark
						.dropdown-content
							a(href="#", target="_blank") Link 1
							a(href="#", target="_blank") Link 2
							a(href="#", target="_blank") Link 3
							a(href="#", target="_blank") Link 4
							a(href="#", target="_blank") Link 5
					.dropdown
						a(href="javascript:;").a-noline: span.sprite-basic-flag-en
						.dropdown-content
							a(href="#", target="_blank").a-noline: span.sprite-basic-flag-ru
							a(href="#", target="_blank").a-noline: span.sprite-basic-flag-de
							a(href="#", target="_blank").a-noline: span.sprite-basic-flag-zh