.assets-logo{
	display: inline-block;
	vertical-align: middle;
	max-width: 80%;
	font-weight: 500;
	position: relative;
	padding: 10px 20px 30px;
	transition: all 0.2s ease;

	img{
		display: inline-block;
		max-width: 100%;
	}

	.assets-logo-download{
		display: none;
		position: absolute;
		bottom: 12px;
		left: 0;
		right: 0;
		text-align: center;
	}

	&:hover{
		background-color: $c-gray-light;

		.assets-logo-download{
			display: block;
		}
	}
}

.assets-logos-white{
	.assets-logo{ background-color: #000; }

	@media screen and (min-width: $bootstrap-md){
		display: inline-block;
	}

	@media screen and (max-width: $bootstrap-md){
		background-color: #000;
	}

	.assets-logo:hover{
		background-color: $c-gray-dark;
		color: #fff;
	}
}


.back-telegram{
	background: image-url('assets-back-telegram.png');
}


.sec-assets-labels{
	.assets-logo{
		padding: 30px;

		img{
			max-width: 80%;
		}

		.assets-logo-download{
			bottom: 0;
		}
	}
}