include svg.pug


mixin header_top()
	
	#header-top
		a#header-banner--text(href="#", target="_blank"): span.secw-base Летняя школа 2018: Блокчейн для Умного города &bull; Telegram-чат &rarr;

		#header-top--nav.secw-base
			.header-top__sec
				a(href="#")#header-top__logo: img(alt="", src="assets/i/logo-robonomics-2.svg")
			.header-top__sec.t-right
				.hamburger
					.line
					.line
					.line

			.header-top__sec.t-right.nav-mobilehide
				nav.header-top__nav
					a(href="#") Tokens
					a(href="#") Roadmap
					a(href="#") Robonomics OS
					.dropdown
						a(href="javascript:;") Join us
						.dropdown-content
							include ../mixins/socials.pug
							+socials()

					.dropdown
						a(href="javascript:;") RU
						.dropdown-content
							a(href="#", target="_blank") EN



mixin widget_newssubscription_light()
	section.sec-gray.sec-city
		.secw-narrow
			h3.t-center Подпишитесь на email рассылку, чтобы быть в курсе новостей сети Робономика
			.t-center
				a(href="#").btn-green Подписаться

mixin widget_newssubscription_dark()
	section.sec-black.sec-city
		.secw-narrow
			h3.t-center Подпишитесь на email рассылку, чтобы быть в курсе новостей сети Робономика
			.t-center
				a(href="#").btn-green Подписаться


mixin widget_miners_bounty()
	section.widget__miners_bounty.sec-white
		.secw-base.t-center
			+xrt_lined()

			h2.t-center Для майнеров: участвуйте в альфа релизе
			.secw-narrow
				p.t-center С июня 2018 года Робономика запустилась в Ethereum mainnet и абсолютно любой держатель ETH может стать её провайдером. Участвуйте и получайте вознаграждение за тестирование сети.
				a.btn__text_orange(href="#") Подробнее
