extends extends/layout_blank.pug

block head
	- var pageTitle = 'Sensor Page'

block html
	// - var bodyback = 'background-image:url(/assets/i/backgrounds/Vysota-2.jpg)'
	- var bodyclass = 'body-background'

block content
	
	header.header-absolute(role='banner')
		.container-paddings
			.d-table.container-full
				.align-vertical
					.header-logo: img(alt="dApp logo", src="assets/i/logo-dapp.svg")
					.header-title
						b ROBONOMICS SENSORS NETWORK
				// .align-vertical.t-align_right
					
	.row.section-screen#sensor-wrap
		.col-10
			#sensor-content-chart
				#chart-container

			#sensor-content-info

				a(href="javascript:;", onclick="openTab(event, 'tab1')").js-tablink.active.sensor-tablink#tablink-1

					span.sensor-tablink-sign 5
					span.sensor-tablink-text
						| PM
						sub 1

				a(href="javascript:;", onclick="openTab(event, 'tab2')").js-tablink.sensor-tablink#tablink-2
					span.sensor-tablink-sign 7
					span.sensor-tablink-text
						| PM
						sub 2.5

				a(href="javascript:;", onclick="openTab(event, 'tab3')").js-tablink.sensor-tablink#tablink-3
					span.sensor-tablink-sign 4
					span.sensor-tablink-text
						| PM
						sub 10

				a(href="javascript:;", onclick="openTab(event, 'tab4')").js-tablink.sensor-tablink#tablink-4
					span.sensor-tablink-sign 0
					span.sensor-tablink-text CO

				a(href="javascript:;", onclick="openTab(event, 'tab5')").js-tablink.sensor-tablink#tablink-5
					span.sensor-tablink-sign 0
					span.sensor-tablink-text NO

				a(href="javascript:;", onclick="openTab(event, 'tab6')").js-tablink.sensor-tablink#tablink-6
					span.sensor-tablink-sign 1.92
					span.sensor-tablink-text
						| SO
						sub 2

				#tab1.js-tabcontent.sensor-tabcontent(style="display:block")
					.sensor-tabcontent-value
						p
							| текущее значение:
							br/
							span.sensor-value 0 мкг/ м
								sup 3
					.sensor-tabcontent-info
						p PM<sub>1</sub>, PM<sub>2.5</sub>, PM<sub>10</sub> - "particulate matter" или взвешенные вещества (ВВ). PM<sub>1</sub> – это частицы размером меньше 1 мкм (тысячная доля миллиметра). Природные барьеры в теле человека (волоски и слизистые оболочки) могут быть эффективны против PM<sub>10</sub> и PM<sub>2.5</sub>, но не защищают от PM<sub>1</sub>. Эти мелкие частицы могут привести к развитию респираторных и других серьезных заболеваний. Для PM<sub>1</sub> на сегодняшний день не установлены нормативы в РФ. Особенно опасно сочетание высоких концентраций PM и SO<sub>2</sub>.

				#tab2.js-tabcontent.sensor-tabcontent.status-warning
					.sensor-status
					.sensor-tabcontent-value
						p
							| текущее значение:
							br/
							span.sensor-value 72 мкг/м<sup>3</sup>

						hr.hr-small
						p норма: < 35 мкг/м<sup>3</sup>
					.sensor-tabcontent-info
						p PM<sub>1</sub>, PM<sub>2.5</sub>, PM<sub>10</sub> - "particulate matter" или взвешенные вещества (ВВ). В состав PM<sub>2.5</sub> входят твердые микрочастицы и мельчайшие капельки жидкостей (продукты сгорания, органические частицы). PM<sub>2.5</sub> есть и в лесу, и на море, но именно в городе представляют наибольшую опасность. Во-первых, обычно их в городе намного больше, а во-вторых, химический состав мелкодисперсного аэрозоля в городе опаснее, чем на природе. Особенно опасно сочетание высоких концентраций PM и SO<sub>2</sub>.

				#tab3.js-tabcontent.sensor-tabcontent.status-warning
					.sensor-status
					.sensor-tabcontent-value
						p
							| текущее значение:
							br/
							span.sensor-value 75 мкг/м<sup>3</sup>

						hr.hr-small
						p норма: < 60 мкг/м<sup>3</sup>
					.sensor-tabcontent-info
						p PM<sub>1</sub>, PM<sub>2.5</sub>, PM<sub>10</sub> - "particulate matter" или взвешенные вещества (ВВ). PM<sub>10</sub> - пыль, пыльца, плесень. Люди с хроническими нарушениями в легких, с сердечно-сосудистыми заболеваниями, с астмой, частыми простудными заболеваниями, пожилые и дети особенно чувствительны к влиянию мелких взвешенных частиц диаметром менее 10 микрон (РМ<sub>10</sub>). Особенно опасно сочетание высоких концентраций PM и SO<sub>2</sub>.

				#tab4.js-tabcontent.sensor-tabcontent.status-ok
					.sensor-status
					.sensor-tabcontent-value
						p
							| текущее значение:
							br/
							span.sensor-value 1.2 мг/м<sup>3</sup>

						hr.hr-small
						p норма: < 3 мг/м3
					.sensor-tabcontent-info
						p CO - оксид углерода или "угарный газ" является широко распространенным загрязнителем атмосферного воздуха. Оксид углерода получается при сжигании органического материала, типа угля, древесины, бумаги, масла, бензина, газа, взрывчатых веществ или карбонатных материалов любого другого типа в условиях недостатка воздуха или кислорода. Двигатели транспортных средств производят от 55 до 60% всего количества СО искусственного происхождения. Оксид углерода является токсичным газом, попадая в организм человека  снижает способность гемоглобина переносить и поставлять кислород.


				#tab5.js-tabcontent.sensor-tabcontent.status-ok
					.sensor-status
					.sensor-tabcontent-value
						p
							| текущее значение:
							br/
							span.sensor-value 0 мкг/м3

						hr.hr-small
						p норма: < 0.06 мг/м<sup>3</sup>
					.sensor-tabcontent-info
						p NO – оксид азота, относится к опасным загрязняющим веществам. Техногенные источники поступления оксидов азота в атмосферу: энергетика, сжигание топлива; автотранспорт; промышленность (цветная металлургия, коксохимическая и нефтехимическая отрасли). Основным источником образования техногенных оксидов азота (до 80 % от всего объема) является азот топлива (при сгорании топлива в любых двигателях). NO занимают второе место после SO<sub>2</sub> по вкладу в увеличение кислотности осадков. В дополнение к косвенному воздействию (кислотный дождь), длительное воздействие диоксида азота в концентрации 470-1880 мкг/м3 может подавлять рост некоторых растений. Значимость атмосферных эффектов оксидов азота связана с ухудшением видимости. Диоксид азота играет важную роль в образовании фотохимического смога. Оксиды азота могут отрицательно влиять на здоровье сами по себе и в комбинации с другими загрязняющими веществами.

				#tab6.js-tabcontent.sensor-tabcontent.status-warning
					.sensor-status
					.sensor-tabcontent-value
						p
							| текущее значение:
							br/
							span.sensor-value 1.616573 мг/м<sup>3</sup>

						hr.hr-small
						p норма: < 0.05 мг/м<sup>3</sup>
					.sensor-tabcontent-info
						p SO<sub>2</sub> – диоксид серы, бесцветный газ с острым запахом. Взаимодействуя с атмосферной влагой, оксиды серы (SO2 и SO3) образуют кислотные осадки (дождь, туман, снег), которые оказывают негативное влияние на окружающую среду: повышается кислотность рек и озер, что приводит к сокращению численности, видового разнообразия животных и растений; ухудшается качество сельскохозяйственной продукции, питьевой воды, атмосферного воздуха, что оказывает негативное влияние на здоровье населения; ускоряется разрушение стройматериалов и красок, наносится вред зданиям, памятникам и другим предметам культурного наследия. Особенно опасно сочетание высоких концентраций SO<sub>2</sub> и PM.


				section.section-bordered
					p Указанные данные не являются юридически значимой информацией для общего пользования и специальной информацией в соответствии с Федеральным законом от 19.07.1998 г. № 113-ФЗ «О гидрометеорологической службе».

		.col-2.sensor-sidebar
			section.p-t-0
				.t-big 21.03.2019

			section.sec-icon
				.sec-icon--icon
					span.sprite-basic-i-temp
				.sec-icon--content
					.sec-icon--title температура
					.t-big +1 °C

			section.sec-icon
				.sec-icon--icon
					span.sprite-basic-i-pressure
				.sec-icon--content
					.sec-icon--title давление
					.t-big 761 мм

			section.sec-icon
				.sec-icon--icon
					span.sprite-basic-i-humidity
				.sec-icon--content
					.sec-icon--title влажность
					.t-big 86%

			section.section-bordered
				img.i-block(alt="", src="assets/i/qr-sensor_dapp.svg")