extends extends/layout_blank.pug

block head
	- var pageTitle = 'Sensor Page'

block html
	// - var bodyback = 'background-image:url(/assets/i/backgrounds/Vysota-2.jpg)'
	- var bodyclass = 'body-background'

block content
	
	header.header-absolute(role='banner')
		.container-paddings
			.d-table.container-full
				.align-vertical
					a(href="/").header-logo: img(alt="dApp logo", src="assets/i/logo-dapp.svg")
					.header-title
						b ROBONOMICS SENSORS NETWORK
				.align-vertical.t-align_right
					b 21.03.2019
	.row.section-screen#sensor-wrap
		.col-10
			#sensor-content-chart

			#sensor-content-info

				a(href="javascript:;", onclick="openTab(event, 'tab1')").js-tablink.active.sensor-tablink#tablink-1

					span.sensor-tablink-sign &uarr;
					span.sensor-tablink-text
						| PM
						sub 1

				a(href="javascript:;", onclick="openTab(event, 'tab2')").js-tablink.sensor-tablink#tablink-2
					span.sensor-tablink-sign &uarr;
					span.sensor-tablink-text
						| PM
						sub 2.5

				a(href="javascript:;", onclick="openTab(event, 'tab3')").js-tablink.sensor-tablink#tablink-3
					span.sensor-tablink-sign &uarr;
					span.sensor-tablink-text
						| PM
						sub 10

				a(href="javascript:;", onclick="openTab(event, 'tab4')").js-tablink.sensor-tablink#tablink-4
					span.sensor-tablink-sign &darr;
					span.sensor-tablink-text CO

				a(href="javascript:;", onclick="openTab(event, 'tab5')").js-tablink.sensor-tablink#tablink-5
					span.sensor-tablink-sign –
					span.sensor-tablink-text NO

				a(href="javascript:;", onclick="openTab(event, 'tab6')").js-tablink.sensor-tablink#tablink-6
					span.sensor-tablink-sign –
					span.sensor-tablink-text
						| SO
						sub 2

				#tab1.js-tabcontent.sensor-tabcontent(style="display:block")
					.sensor-tabcontent-value.status-warning
						p
							| текущее значение:
							br/
							span.sensor-value 14 мкг/м3

						hr.hr-small
						p норма: < 150 мкг/м3
					.sensor-tabcontent-info
						p PM1 – это частицы размером меньше 1 мкм (тысячная доля миллиметра). Тело человека имеет ряд природных барьеров против PM10 и PM2.5, таких как волоски и слизистые оболочки, однако они не защищают от PM1. Эти мелкие частицы могут привести к развитию респираторных и других серьезных заболеваний.

				#tab2.js-tabcontent.sensor-tabcontent
					.sensor-tabcontent-value.status-warning
						p
							| текущее значение:
							br/
							span.sensor-value 14 мкг/м3

						hr.hr-small
						p норма: < 150 мкг/м3
					.sensor-tabcontent-info
						p PM1 – это частицы размером меньше 1 мкм (тысячная доля миллиметра). Тело человека имеет ряд природных барьеров против PM10 и PM2.5, таких как волоски и слизистые оболочки, однако они не защищают от PM1. Эти мелкие частицы могут привести к развитию респираторных и других серьезных заболеваний.

				#tab3.js-tabcontent.sensor-tabcontent
					.sensor-tabcontent-value.status-warning
						p
							| текущее значение:
							br/
							span.sensor-value 14 мкг/м3

						hr.hr-small
						p норма: < 150 мкг/м3
					.sensor-tabcontent-info
						p PM1 – это частицы размером меньше 1 мкм (тысячная доля миллиметра). Тело человека имеет ряд природных барьеров против PM10 и PM2.5, таких как волоски и слизистые оболочки, однако они не защищают от PM1. Эти мелкие частицы могут привести к развитию респираторных и других серьезных заболеваний.

				#tab4.js-tabcontent.sensor-tabcontent
					.sensor-tabcontent-value.status-ok
						p
							| текущее значение:
							br/
							span.sensor-value 14 мкг/м3

						hr.hr-small
						p норма: < 150 мкг/м3
					.sensor-tabcontent-info
						p PM1 – это частицы размером меньше 1 мкм (тысячная доля миллиметра). Тело человека имеет ряд природных барьеров против PM10 и PM2.5, таких как волоски и слизистые оболочки, однако они не защищают от PM1. Эти мелкие частицы могут привести к развитию респираторных и других серьезных заболеваний.

				#tab5.js-tabcontent.sensor-tabcontent
					.sensor-tabcontent-value.status-ok
						p
							| текущее значение:
							br/
							span.sensor-value 14 мкг/м3

						hr.hr-small
						p норма: < 150 мкг/м3
					.sensor-tabcontent-info
						p PM1 – это частицы размером меньше 1 мкм (тысячная доля миллиметра). Тело человека имеет ряд природных барьеров против PM10 и PM2.5, таких как волоски и слизистые оболочки, однако они не защищают от PM1. Эти мелкие частицы могут привести к развитию респираторных и других серьезных заболеваний.

				#tab6.js-tabcontent.sensor-tabcontent
					.sensor-tabcontent-value.status-ok
						p
							| текущее значение:
							br/
							span.sensor-value 14 мкг/м3

						hr.hr-small
						p норма: < 150 мкг/м3
					.sensor-tabcontent-info
						p PM1 – это частицы размером меньше 1 мкм (тысячная доля миллиметра). Тело человека имеет ряд природных барьеров против PM10 и PM2.5, таких как волоски и слизистые оболочки, однако они не защищают от PM1. Эти мелкие частицы могут привести к развитию респираторных и других серьезных заболеваний.


				section.section-bordered
					p Указанные данные не являются юридически значимой информацией для общего пользования и специальной информацией в соответствии с Федеральным законом от 19.07.1998 г. № 113-ФЗ «О гидрометеорологической службе».

		.col-2.sensor-sidebar
			section.sec-icon
				.sec-icon--icon
					span.sprite-basic-i-temp
				.sec-icon--content
					.sec-icon--title температура
					.sec-icon--text +1 °C

			section.sec-icon
				.sec-icon--icon
					span.sprite-basic-i-pressure
				.sec-icon--content
					.sec-icon--title давление
					.sec-icon--text 761 мм

			section.sec-icon
				.sec-icon--icon
					span.sprite-basic-i-humidity
				.sec-icon--content
					.sec-icon--title влажность
					.sec-icon--text 86%

			section.section-bordered
				img.i-block(alt="", src="assets/i/qr-sensor_dapp.svg")