*[class^='col-']{
	@media screen and (max-width: $bootstrap-md) 
	{
		margin-bottom: $vertical-rythm;
	}
}

.separator-dark
	{
		height: 1px;
		background-color: $c-text;
	}

.separator-animated-inview
	{
		transform: scale(0);
		
		&.isInView { animation: ScaleIn 0.6s 0.8s ease-in-out forwards; }
	}