extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Aira tokens → XRT alembic'
	- var bodyclass = 'flexcols theme-light'

block content

	+sidebar(3, true)

	.content
		+panelTop()
		.content-in
			section
				h1 Aira tokens → XRT alembic
				section.section-light.window#window-developletter
					.window-head
						span The developers&#8217; letter
						a.window-head-toggle(href="#") –
					.window-content
						p: b Dear Aira tokens holder,
						p With your help, we have come all the way from the 
							a(href="http://aira.life", target="_blank") Aira 
							| software prototype to the 
							a(href="http://robonomics.network", target="_blank") Robonomics platform
							|. Two years of work, more than 50 releases in  
							a(href="https://github.com/airalab", target="_blank") 6 repositories on GitHub
							|, thousands of commits of the whole group of developers. Your support has led to the emergence of a new technology, which further aims to subdue robots to the Ethereum decentralized computer. You helped it. Thank you!
						p It is important to understand that this is not the end of the road, but only the very beginning. We have created this new technology, now it needs to grow and also we should train the community to use Robonomics. 
						p The token of the Robonomics platform is called XRT (Robonomics token). You have two options - go through the KYC procedure and wait for the Dutch auction launch, or get the XRT today in 2 steps.
						p: b What is the difference between these options for the Aira tokens holder:

						table.table-hover.table-responsive
							thead
								tr
									th Aira → Aira KYC
									th Aira → Aira KYC → XRT
							tbody
								tr
									td(data-th="Aira → Aira KYC") It is always possible to transform Aira KYC into XRT without the developers’ participation, sending the transaction to the alembic Aira KYC →  XRT
									td(data-th="Aira → Aira KYC → XRT") It is not possible to transfer XRT tokens back into Aira KYC
								tr
									td(data-th="Aira → Aira KYC") According to the Dutch auction result, 1 Aira KYC can turn into N XRT, but not less than 1:1
									td(data-th="Aira → Aira KYC → XRT") If you have taken both steps and got XRT, you cannot count on increasing the number of XRTs.
								tr
									td(data-th="Aira → Aira KYC") Aira KYC cannot be used to become a Robonomics provider
									td(data-th="Aira → Aira KYC → XRT") XRT can be used to secure a quota at the Robonomics lighthouse
								tr
									td(data-th="Aira → Aira KYC") Aira KYC cannot be used to pay the commission to the Robonomics providers
									td(data-th="Aira → Aira KYC → XRT") You can pay for transactions in the Robonomics network with XRT - ETH is not required
								tr
									td(data-th="Aira → Aira KYC") Aira KYC is not planned to be used for the Robonomics DAO voting
									td(data-th="Aira → Aira KYC → XRT") XRT can be used to create offers in the Robonomics DAO about the Dutch auction launch, the change of the team, which manages the ENS record Robonomics.eth
								tr
									td(data-th="Aira → Aira KYC") Aira and Aira KYC tokens will not be offered by the developers for dex
									td(data-th="Aira → Aira KYC → XRT") XRT will be offered by the developers and community to be added to exchanges



			section.section-light

				h3 To the action!


				section.t-align--center.d-table.container-full.table-space--10.table-fixed
					.d-table--cell.section-mid
						h3 1. Passing KYC
						img.i-block(alt="", src="assets/i/cube/i-cube-1.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							a(href="#")
								+avatar('avatar-small align-vertical m-r-10')
								b 0x40c5...c8d3
						button.container-full(style="display:block;width:100%") Pass KYC
					
					.d-table--cell.section-mid.disabled
							h3 2. Aira → Aira KYC
							img.i-block(alt="", src="assets/i/cube/i-cube-2.jpg", style="max-height: 80px;margin:0 auto")
							br/
							p
								input.input-line.input-size--sm(type="text", value="1")
								span AIRA
							button.container-full Convert to AIRA KYC
					.d-table--cell.section-mid.disabled
							h3 3. Aira KYC → XRT
							img.i-block(alt="", src="assets/i/cube/i-cube-3.jpg", style="max-height: 80px;margin:0 auto")
							br/
							p
								input.input-line.input-size--sm(type="text")
								span AIRA KYC
							button.container-full Convert to XRT

				section.t-align--center.d-table.container-full.table-space--10.table-fixed
					.d-table--cell.section-mid
						h3 1. Passing KYC
						img.i-block(alt="", src="assets/i/cube/i-cube-1.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							a(href="#")
								+avatar('avatar-small align-vertical m-r-10')
								b 0x40c5...c8d3
						button.btn-green.container-full(disabled) KYC passed
					
					.d-table--cell.section-mid
						h3 2. Aira → Aira KYC
						img.i-block(alt="", src="assets/i/cube/i-cube-2.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							input.input-line.input-size--sm(type="text", value="1")
							span AIRA
						p
							button.container-full(disabled)
								span.align-vertical Convert to AIRA KYC
								.loader-ring.align-vertical.m-l-10
						p.t-sm Wait for 
							a(href="", target="_blank") transaction 
							| to be mined

					.d-table--cell.section-mid
						h3 3. Aira KYC → XRT
						img.i-block(alt="", src="assets/i/cube/i-cube-3.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							input.input-line.input-size--sm(type="text")
							span AIRA KYC
						button.container-full Convert to XRT



				section.t-align--center.d-table.container-full.table-space--10.table-fixed
					.d-table--cell.section-mid
						h3 1. Passing KYC
						img.i-block(alt="", src="assets/i/cube/i-cube-1.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							a(href="#")
								+avatar('avatar-small align-vertical m-r-10')
								b 0x40c5...c8d3
						button.btn-green.container-full(disabled) KYC passed
					
					.d-table--cell.section-mid
						h3 2. Aira → Aira KYC
						img.i-block(alt="", src="assets/i/cube/i-cube-2.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							input.input-line.input-size--sm(type="text", value="1")
							span AIRA
						button.container-full Convert to AIRA KYC
					.d-table--cell.section-mid
						h3 3. Aira KYC → XRT
						img.i-block(alt="", src="assets/i/cube/i-cube-3.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							input.input-line.input-size--sm(type="text")
							span AIRA KYC
						button.container-full Convert to XRT


				section
					b Tip: 
					| it is important to turn your Aira tokens into Aira KYC as early as possible, but you do not have to turn all your Aira KYC tokens into XRT. If you want to become a provider or use the network, you can use the Aira KYC → XRT alembic at any time to transfer any amount of Aira KYC an unlimited number of times.