extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Перегонный куб Aira токенов в XRT'
	- var bodyclass = 'flexcols theme-dark'

block content

	+sidebar(3, true)

	.content
		+panelTop()
		.content-in
			section
				h1 Перегонный куб Aira токенов в XRT
				section.section-light.window#window-developletter
					.window-head
						span Письмо разработчиков
						a.window-head-toggle(href="#") –
					.window-content

						p: b Держатель токенов Aira!
						p С твоей помощью мы проделали путь от прототипа программного обеспечения 
							a(href="http://aira.life", target="_blank") Aira 
							| до 
							a(href="http://robonomics.network", target="_blank") платформы Робономика
							|. Два года работы, более 50 релизов в 
							a(href="https://github.com/airalab", target="_blank") 6 репозиториях на GitHub
							|, тысячи коммитов целой группы разработчиков. Твоя поддержка привела к появлению новой технологии, которая в дальнейшем призвана подчинить роботов децентрализованному компьютеру Ethereum. Ты помог этому. Спасибо!
						p Важно понимать, что это не конец пути, а только самое начало. Мы создали новую технологию, теперь ее нужно растить и обучать сообщество пользоваться Робономикой. 
						p Токен платформы Робономика мы назвали XRT (Robonomics token). У тебя есть два варианта действий – пройти KYC и ожидать запуска Голландского аукциона или в 2 шага получить XRT уже сегодня.
						p: b В чем разница этих вариантов для держателя Aira токенов:

						table.table-hover.table-responsive
							thead
								tr
									th Aira → Aira KYC
									th Aira → Aira KYC → XRT
							tbody
								tr
									td(data-th="Aira → Aira KYC") Всегда есть возможность превратить Aira KYC в XRT без участия разработчиков, отправив транзакцию к перегонному кубу Aira KYC → XRT
									td(data-th="Aira → Aira KYC → XRT") Обратно перегнать токены XRT в Aira KYC не получится
								tr
									td(data-th="Aira → Aira KYC") По результату Голландского аукциона 1 Aira KYC может превратиться в N XRT, но не менее 1:1
									td(data-th="Aira → Aira KYC → XRT") Если вы сделали оба шага и получили XRT, рассчитывать на приумножение количества XRT не получится 
								tr
									td(data-th="Aira → Aira KYC") Aira KYC нельзя использовать, чтобы стать провайдером Робономики
									td(data-th="Aira → Aira KYC → XRT") XRT может использоваться для обеспечения квоты на маяке Робономики
								tr
									td(data-th="Aira → Aira KYC") Aira KYC нельзя использовать, чтобы оплатить комиссию провайдерам Робономики
									td(data-th="Aira → Aira KYC → XRT") С помощью XRT можно оплачивать транзакции в сети Робономика - ETH не потребуется
								tr
									td(data-th="Aira → Aira KYC") Aira KYC не планируется использовать при голосовании ДАО Робономики
									td(data-th="Aira → Aira KYC → XRT") XRT можно использовать для создания предложений в ДАО Робономики о запуске Голландского аукциона, смене команды управляющих ENS записью Robonomics.eth
								tr
									td(data-th="Aira → Aira KYC") Токен Aira и Aira KYC не будут предлагаться разработчиками на дексы
									td(data-th="Aira → Aira KYC → XRT") XRT будет предлагаться разработчиками и сообществом для добавления на биржи


			section.section-light

				h3 К действию!


				section.t-align--center.d-table.container-full.table-space--10.table-fixed
					.d-table--cell.section-mid
							h3 1. Прохождение KYC
							img.i-block(alt="", src="assets/i/cube/i-cube-1.jpg", style="max-height: 80px;margin:0 auto")
							br/
							p
								a(href="#")
									+avatar('avatar-small align-vertical m-r-10')
									b 0x40c5...c8d3
							button.container-full Пройти KYS
					
					.d-table--cell.section-mid.disabled
							h3 2. Aira → Aira KYC
							img.i-block(alt="", src="assets/i/cube/i-cube-2.jpg", style="max-height: 80px;margin:0 auto")
							br/
							p
								input.input-line.input-size--sm(type="text", value="1")
								span AIRA
							button.container-full Конвертировать в AIRA KYC
					.d-table--cell.section-mid.disabled
							h3 3. Aira KYC → XRT
							img.i-block(alt="", src="assets/i/cube/i-cube-3.jpg", style="max-height: 80px;margin:0 auto")
							br/
							p
								input.input-line.input-size--sm(type="text")
								span AIRA KYC
							button.container-full Конвертировать в XRT


				section.t-align--center.d-table.container-full.table-space--10.table-fixed
					.d-table--cell.section-mid
						h3 1. Passing KYC
						img.i-block(alt="", src="assets/i/cube/i-cube-1.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							a(href="#")
								+avatar('avatar-small align-vertical m-r-10')
								b 0x40c5...c8d3
						button.btn-green.container-full(disabled) KYC пройден
					
					.d-table--cell.section-mid
						h3 2. Aira → Aira KYC
						img.i-block(alt="", src="assets/i/cube/i-cube-2.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							input.input-line.input-size--sm(type="text", value="1")
							span AIRA
						p
							button.container-full(disabled)
								span.align-vertical Конвертировать в AIRA KYC
								.loader-ring.align-vertical.m-l-10
						p.t-sm Подождите исполнения 
							a(href="", target="_blank") транзакции


					.d-table--cell.section-mid
						h3 3. Aira KYC → XRT
						img.i-block(alt="", src="assets/i/cube/i-cube-3.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							input.input-line.input-size--sm(type="text")
							span AIRA KYC
						button.container-full Конвертировать в XRT




				section.t-align--center.d-table.container-full.table-space--10.table-fixed
					.d-table--cell.section-mid
						h3 1. Passing KYC
						img.i-block(alt="", src="assets/i/cube/i-cube-1.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							a(href="#")
								+avatar('avatar-small align-vertical m-r-10')
								b 0x40c5...c8d3
						button.btn-green.container-full(disabled) KYC пройден
					
					.d-table--cell.section-mid
						h3 2. Aira → Aira KYC
						img.i-block(alt="", src="assets/i/cube/i-cube-2.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							input.input-line.input-size--sm(type="text", value="1")
							span AIRA
						button.container-full Конвертировать в AIRA KYC
					.d-table--cell.section-mid
						h3 3. Aira KYC → XRT
						img.i-block(alt="", src="assets/i/cube/i-cube-3.jpg", style="max-height: 80px;margin:0 auto")
						br/
						p
							input.input-line.input-size--sm(type="text")
							span AIRA KYC
						button.container-full Конвертировать в XRT


				section
					b Совет: 
					| важно превратить свои Aira токены в Aira KYC как можно раньше, но не обязательно превращать все свои токены Aira KYC в XRT. Если вы хотите стать провайдером или пользоваться сетью, вы можете пользоваться перегонным кубом Aira KYC → XRT в любое время для перегонки любого количества Aira KYC неограниченное количество раз.