extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Перегонный куб Aira токенов в XRT'
	- var logo_title = 'Robonomics network account'

block content

	.container-w-sidebar
		.sidebar
			.sidebar-in
				section.m-t-10
					a(href="/").d-block: img.i-block(alt="dApp logo", src="assets/i/logo-dapp-text.svg")

				section
					section
						nav
							a(href="#").active
								span Перегонный куб
							a(href="#") Маяки

					section
						nav
							a(href="#")
								span.sprite-basic-github.align-vertical.m-r-10
								span.align-vertical Github

							a(href="#")
								span.sprite-basic-reddit-2.align-vertical.m-r-10
								span.align-vertical Reddit

							a(href="#")
								span.sprite-basic-cursor.align-vertical.m-r-10
								span.align-vertical robonomomics.network

							a(href="#")
								span.sprite-basic-cursor.align-vertical.m-r-10
								span.align-vertical aira.life


		.content
			.content-in
				section
					.panel-top.d-table
						.d-table--row
							.d-table--cell
								a(href="#")
									+avatar('avatar-small align-vertical')
									b 0x40c5...c8d3
								a(href="#").a-icon.align-vertical: span i
							// .d-table--cell
							// 	a(href="#").btn-orange.align-vertical.btn-small You need KYS
							// 	a(href="#").a-icon.align-vertical: span i
							.d-table--cell
								b.t-mid 2,100
								span AIRA
								a(href="#").a-icon.align-vertical: span i
							.d-table--cell
								b.t-mid 0
								span AIRA KYC
								a(href="#").a-icon.align-vertical: span i
							.d-table--cell
								b.t-mid 0
								span XRT
								a(href="#").a-icon.align-vertical: span i
							.d-table--cell
								.dropdown.dropdown-color
									a(href="javascript:;").a-noline: span.sprite-basic-flag-en.d-block
									.dropdown-content.dropdown-content-color
										.inside
											a(href="#").a-noline: span.sprite-basic-flag-ru.d-block

				

				section
					h1 Перегонный куб Aira токенов в XRT
					.section-overflowtext.section-border
						p: b Держатель токенов Aira!
						p С твоей помощью мы проделали путь от прототипа программного обеспечения Aira до платформы Робономика. Два года работы, более 50 релизов в 6 репозиториях на GitHub, тысячи коммитов целой группы разработчиков. Твоя поддержка привела к появлению новой технологии, которая в дальнейшем призвана подчинить роботов децентрализованному компьютеру Ethereum.  - ты помог этому. Спасибо
						p Важно понимать, что это не конец пути, а только самое начало. Мы создали новую технологию, теперь ее нужно растить и обучать других пользоваться Робономикой. 
						p Токен платформы Робономика мы назвали XRT (Robonomics token). У тебя есть два варианта действий - пройти KYC и ожидать запуска голландского аукциона или в 2 шага получить уже сегодня XRT.
						p: b В чем разница этих вариантов для держателя Aira токенов:

						table
							thead
								tr
									th Aira >> Aira KYC
									th Aira >> Aira KYC >> XRT
							tbody
								tr
									td Всегда есть возможность превратить Aira KYC в XRT без участия разработчиков. Отправив транзакцию к перегонному кубу Aira KYC >> XRT.
									td Обратно перегнать токены XRT в Aira KYC не получиться.
								tr
									td По результату голландского аукциона 1 Aira KYC может превратиться в N XRT, но не менее 1 к 1.
									td Если вы сделали оба шага и получили XRT рассчитывать на приумножение количества XRT не получиться. 
								tr
									td Aira KYC нельзя использовать, чтобы стать провайдером Робономики.
									td XRT может использоваться для обеспечения квоты на маяке Робономики.
								tr
									td Aira KYC нельзя использовать, чтобы оплатить комиссию провайдерам Робономики.
									td С помощью XRT можно оплачивать транзакции в сети Робономика. ETH не потребуется.
								tr
									td Aira KYC не планируется использовать при голосовании ДАО Робономики.
									td XRT можно использовать для создания предложений в ДАО Робономика о запуске голландского аукциона, смене команды управляющих ENS записью Robonomics.eth.
								tr
									td Токен Aira и Aira KYC не будет предлагаться разработчиками на дексы.
									td XRT будет предлагаться разработчиками и сообществом для добавления на биржи.
					a(href="#") Развернуть письмо разработчиков


				section.section-color.section-color--highlight

					h2 К действию!

					.row
						.col-md-4.t-align--center
							.section-color.section-color--highlight.section-shade
								img.i-block(alt="", src="assets/i/cube/i-cube-1.jpg", style="max-height: 80px;margin:0 auto")
								br/
								h3 Passing KYC
								a(href="#")
									+avatar('avatar-small align-vertical')
									b 0x40c5...c8d3
								p.t-color-green KYC passed
						.col-md-4.t-align--center
							.section-color.section-color--highlight.section-shade
								img.i-block(alt="", src="assets/i/cube/i-cube-2.jpg", style="max-height: 80px;margin:0 auto")
								br/
								h3 AIRA -> AIRA KYC
								input(type="text", value="2100")
								span AIRA
								a(href="#").btn-green Convert to AIRA KYC
						.col-md-4.t-align--center
							.section-color.section-color--highlight.section-shade
								div(style="filter: grayscale(1) blur(1px);")
									img.i-block(alt="", src="assets/i/cube/i-cube-3.jpg", style="max-height: 80px;margin:0 auto")
									br/
									h3 AIRA KYC -> XRT
									input(type="text")
									span AIRA KYC
									a(href="#").btn-green Convert to XRT

					p
						b Совет: 
						| важно превратить свои Aira токены, как можно раньше в Aira KYC, но не обязательно превращать все свои токены Aira KYC в XRT. Если вы хотите стать провайдером или пользоваться сетью, вы можете пользоваться перегонным кубом Aira KYC >> XRT в любое время для перегонки любого количества Aira KYC неограниченное количество раз.