extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Robonomics Lighthouse'
	- var bodyclass = 'wrap-flexsols'

block content

	.sidebar
		.sidebar-in
			section.m-t-10
				img.i-block(alt="dApp logo", src="assets/i/logo-dapp-text.svg")

			section
				section
					nav
						a(href="#").active: span Lighthouses
						a(href="#"): span Statistics
						a(href="#"): span AIRA to XRT

				section
					nav
						a(href="#")
							span.sprite-basic-github.align-vertical.m-r-10
							span.align-vertical Github

						a(href="#")
							span.sprite-basic-reddit-2.align-vertical.m-r-10
							span.align-vertical Reddit

						a(href="#")
							span.sprite-basic-cursor.align-vertical.m-r-10
							span.align-vertical robonomomics.network

						a(href="#")
							span.sprite-basic-cursor.align-vertical.m-r-10
							span.align-vertical aira.life

		a.sidebar-toggle(href="#")


	.content
		.content-in
			section
				.panel-top
					.panel-top--cell
						a(href="#")
							+avatar('avatar-small align-vertical m-r-10')
							b 0x40c5...c8d3
					.panel-top--cell
						b 2,100
						span.t-sm AIRA
					.panel-top--cell
						b 0
						span.t-sm AIRA KYC
					.panel-top--cell
						b 0
						span.t-sm XRT

			section

				section
					h2 Connect to lighthouse
					.input-size--lg
						select#select-lighthouseConnect

				section#lighthouse-connection
				button.btn-green Connect

				script.
					var select = new SlimSelect({
						select: '#select-lighthouseConnect',
						valuesUseText: false, // Use text instead of innerHTML for selected values - default false
						data: [
							{placeholder: true, text: 'Choose lighthouse'},
							{innerHTML: '<b>a.lighthouse.5.robonomics.eth</b>&nbsp;<br/><span class="t-small">0x28f95c484ee55E6aB8A2feF72EB51bC65cdd4324</span>', text: 'a.lighthouse.5.robonomics.eth', value: 'select1'},
							{innerHTML: '<b>airalab.lighthouse.5.robonomics.eth</b>&nbsp;<br/><span class="t-small">0xD40AC7F1e5401e03D00F5aeC1779D8e5Af4CF9f1</span>', text: 'airalab.lighthouse.5.robonomics.eth', value: 'select2'},
							{innerHTML: '<b>mobilerobotics.lighthouse.5.robonomics.eth</b>&nbsp;<br/><span class="t-small">0x8165ad3d400bda2be5fe27254a5e55e0f393921f</span>', text: 'mobilerobotics.lighthouse.5.robonomics.eth', value: 'select3'},
							{innerHTML: '<b>New lighthouse</b>', text: 'create new lighthouse', value: 'new', class:'type-new'}
						],
						onChange: (info) => {
						    console.log(info);
						    if(info.class == 'type-new'){
								document.querySelectorAll('#lighthouse-connection')[0].innerHTML = '<p><label class="t-sm">Name of the lighthouse</label><br/><input type="text" value="" class="input-size--lg"/></p>'
								+ '<p><label class="t-sm">Minimal stake to get one quota (XRT)</label><br/><input type="number" value="0.000001" class="input-size--md"/></p>'
								+ '<p><label class="t-sm">Silence timeout for provider in blocks</label><br/><input type="number" value="25" class="input-size--sm"/></p>';
								// + '<br/><button class="btn-blue">Create and connect</button>';
						    }
						    else{
						    	document.querySelectorAll('#lighthouse-connection')[0].innerHTML = info.innerHTML;
						    	// document.querySelectorAll('#lighthouse-connection')[0].innerHTML = '<button class="btn-green">Connect</button>';
						    }  	
					  	}
					});