extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Robonomics Lighthouse'
	- var bodyclass = 'flexcols'

block content

	+sidebar(1, false)

	.content
		+panelTop()
		.content-in
			section
				h2
					a(href="#").align-vertical.m-r-10.i-back
					span.align-vertical.m-r-20.breakwords airalab.lighthouse.5.robonomics.eth

				.row
					.col-lg-4.col-md-5.order-md-last
						section
							section.window
								.window-head
									span Lighthouse details
								.window-content.window-content-light
									p
										span.t-sm Lighthouse contract address:
										br/
										a(href="#", target="_blank").align-vertical.m-r-10
											+avatar('avatar-small align-vertical m-r-10')
											b 0xD40A...F9f1
										a(href="#").align-vertical.i-copy
									hr/
									p
										span.t-sm Lighthouse status:
										br/
										b Sleeping (no events more then 2 blocks)
									hr/
									p
										span.t-sm Balance:
										br/
										b 3000 XRT
									hr/
									p
										span.t-sm Minimal stake per quote:
										br/
										b 1000 XRT
									hr/
									p
										span.t-sm Available for work at the lighthouse:
										br/
										b 0 XRT
									hr/
									p
										span.t-sm Available for work:
										br/
										input(type="text", value="0").input-size--sm.m-r-10.input-sm
										button.btn-blue.input-sm(disabled) Approve quotes
									hr/
									p
										span.t-sm Available for trade:
										br/
										input(type="text", value="0").input-size--sm.m-r-10.input-sm
										button.btn-blue.input-sm Approve XRT

					.col-lg-8.col-md-7
						section.window
							.window-head
								span Providers
								a.window-head-toggle(href="#") –
							.window-content.p-0.window-content-light
								table.container-full.m-t-0.m-b-0
									thead
										tr
											th #
											th Address
											th Quota
											th Balance
											th Status
									tbody
										tr
											td 1
											td
												a(href="#", target="_blank").align-vertical.m-r-10
													+avatar('avatar-small align-vertical m-r-10')
													b 0x4200...1680 
												a(href="#").align-vertical.i-copy
											td  1
											td  0.092 ETH
											td Active
										tr
											td 2
											td
												a(href="#", target="_blank").align-vertical.m-r-10
													+avatar('avatar-small align-vertical m-r-10')
													b 0x4bed...df5a
												a(href="#").align-vertical.i-copy
											td  2 / 2
											td  0.005 ETH
											td Sleeping

						section.m-t-40
							h2 Test lighthouse
							.row
								.col-lg-4
									.window
										.window-head
											span Demand
											a(href="#").btn-green.input-sm Test
										.window-content
											.section-color.section-color--highlight.m-t-10
												p
													span.t-sm Sent from account:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														+avatar('avatar-small align-vertical m-r-10')
														b 0x40c5...C8d3
													a(href="#").align-vertical.i-copy
												p
													span.t-sm Demand program description:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														b QmfCcL...LjdW
												p
													span.t-sm Data for program execution:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														b Qmbm3o...HKUm
												p
													a.t-sm(href="#",target="_blank") Payment token 
													span.t-sm cost:
													br/
													b 0
												p
													span.t-sm Valid before:
													br/
													b 7841762 block
												p
													span.t-sm Status:
													br/
													b Without observing network

											.section-color.section-color--highlight.m-t-10
												p
													span.t-sm Sent from account:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														+avatar('avatar-small align-vertical m-r-10')
														b 0x40c5...C8d3
													a(href="#").align-vertical.i-copy
												p
													span.t-sm Demand program description:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														b QmfCcL...LjdW
												p
													span.t-sm Data for program execution:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														b Qmbm3o...HKUm
												p
													a.t-sm(href="#",target="_blank") Payment token 
													span.t-sm cost:
													br/
													b 0
												p
													span.t-sm Valid before:
													br/
													b 7841762 block
												p
													span.t-sm Status:
													br/
													b Without observing network

								.col-lg-4
									.window
										.window-head
											span Offer
											a(href="#").btn-green.input-sm Test
										.window-content
											.section-color.section-color--highlight.m-t-10
												p
													span.t-sm Sent from account:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														+avatar('avatar-small align-vertical m-r-10')
														b 0x40c5...C8d3
													a(href="#").align-vertical.i-copy
												p
													span.t-sm Demand program description:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														b QmfCcL...LjdW
												p
													span.t-sm Data for program execution:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														b Qmbm3o...HKUm
												p
													a.t-sm(href="#",target="_blank") Payment token 
													span.t-sm cost:
													br/
													b 0
												p
													span.t-sm Valid before:
													br/
													b 7841762 block
												p
													span.t-sm Status:
													br/
													b Without observing network

								.col-lg-4
									.window
										.window-head
											span Liabilities
										.window-content
											.section-color.section-color--highlight.m-t-10
												p
													span.t-sm Liability:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														+avatar('avatar-small align-vertical m-r-10')
														b 0xEcBA...fcCb
													a(href="#").align-vertical.i-copy
												p
													span.t-sm Provider address:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														+avatar('avatar-small align-vertical m-r-10')
														b 0x4200...1680
													a(href="#").align-vertical.i-copy
												p
													span.t-sm Program description:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														b QmfCcL...LjdW
												p
													span.t-sm Data for program execution:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														b Qmbm3o...HKUm
												p
													a.t-sm(href="#",target="_blank") Payment token 
													span.t-sm cost:
													br/
													b 0
												p
													span.t-sm Promisee:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														+avatar('avatar-small align-vertical m-r-10')
														b 0x40c5...C8d3
													a(href="#").align-vertical.i-copy
												p
													span.t-sm Promisor:
													br/
													a(href="#", target="_blank").align-vertical.m-r-10
														+avatar('avatar-small align-vertical m-r-10')
														b 0x40c5...C8d3
													a(href="#").align-vertical.i-copy
												p
													button.btn-green.input-sm.container-full Post result

