extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Robonomics Lighthouse'
	- var bodyclass = 'wrap-flexsols'

block content

	.sidebar
		.sidebar-in
			section.m-t-10
				img.i-block(alt="dApp logo", src="assets/i/logo-dapp-text.svg")

			section
				section
					nav
						a(href="#").active: span Lighthouses
						a(href="#"): span Statistics
						a(href="#"): span AIRA to XRT

				section
					nav
						a(href="#")
							span.sprite-basic-github.align-vertical.m-r-10
							span.align-vertical Github

						a(href="#")
							span.sprite-basic-reddit-2.align-vertical.m-r-10
							span.align-vertical Reddit

						a(href="#")
							span.sprite-basic-cursor.align-vertical.m-r-10
							span.align-vertical robonomomics.network

						a(href="#")
							span.sprite-basic-cursor.align-vertical.m-r-10
							span.align-vertical aira.life

		a.sidebar-toggle(href="#")


	.content
		.content-in
			section
				.panel-top
					.panel-top--cell
						a(href="#")
							+avatar('avatar-small align-vertical m-r-10')
							b 0x40c5...c8d3
					.panel-top--cell
						b 2,100
						span.t-sm AIRA
					.panel-top--cell
						b 0
						span.t-sm AIRA KYC
					.panel-top--cell
						b 0
						span.t-sm XRT

			section
				// table
				// 	tr
				// 		td
				// 			a(href=""): b Back to list
				// 		td
				// 			b a.lighthouse.5.robonomics.eth
				// 			br/
				// 			i.t-sm 0x28f95c484ee55E6aB8A2feF72EB51bC65cdd4324
				// 		td
				// 			b.align-vertical.m-r-10.t-color-red Sleeping
				// 			a(href="#").a-icon.align-vertical: b i

			section
				h2
					a(href="#").align-vertical.m-r-10.i-back
					// a(href="#").align-vertical.m-r-10: i.sprite-basic-back
					span.align-vertical.m-r-20 airalab.lighthouse.5.robonomics.eth
					// span.t-sm.t-label--orange.align-vertical airalab.lighthouse.5.robonomics.eth

				.row
					.col-lg-8.col-md-7
						.t-label--gray.t-uppercase Lighthouse details
						.section-color.section-color--highlight test

					.col-lg-4.col-md-5
						.t-label--gray.t-uppercase Lighthouse details
						.section-color.section-color--highlight

							p
								span.t-sm Lighthouse contract address:
								br/
								a(href="#"): b 0xD40A...F9f1
							p
								span.t-sm Balance:
								br/
								b 3000 XRT
							p
								span.t-sm Minimal stake per quote:
								br/
								b 1000 XRT
							p
								span.t-sm Available for work at the lighthouse:
								br/
								b 0 XRT
							p
								span.t-sm Available for trade:
								br/
								input(type="text", value="0").input-size--sm.m-r-10
								button.btn-green Approve XRT


