extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Robonomics Lighthouse'
	- var bodyclass = 'wrap-flexsols'

block content

	.sidebar
		.sidebar-in
			section.m-t-10
				img.i-block(alt="dApp logo", src="assets/i/logo-dapp-text.svg")

			section
				section
					nav
						a(href="#").active: span Lighthouses
						a(href="#"): span Statistics
						a(href="#"): span AIRA to XRT

				section
					nav
						a(href="#")
							span.sprite-basic-github.align-vertical.m-r-10
							span.align-vertical Github

						a(href="#")
							span.sprite-basic-reddit-2.align-vertical.m-r-10
							span.align-vertical Reddit

						a(href="#")
							span.sprite-basic-cursor.align-vertical.m-r-10
							span.align-vertical robonomomics.network

						a(href="#")
							span.sprite-basic-cursor.align-vertical.m-r-10
							span.align-vertical aira.life

		a.sidebar-toggle(href="#")


	.content
		.content-in
			section
				.panel-top
					.panel-top--cell
						a(href="#")
							+avatar('avatar-small align-vertical m-r-10')
							b 0x40c5...c8d3
					.panel-top--cell
						b 2,100
						span.t-sm AIRA
					.panel-top--cell
						b 0
						span.t-sm AIRA KYC
					.panel-top--cell
						b 0
						span.t-sm XRT

			section
				h2
					a(href="#").align-vertical.m-r-10.i-back
					span.align-vertical.m-r-20.breakwords airalab.lighthouse.5.robonomics.eth

				.row
					.col-lg-4.col-md-5.order-md-last
						section
							.t-label--gray.t-uppercase Lighthouse details
							.section-color.section-color--highlight

								p
									span.t-sm Lighthouse contract address:
									br/
									a(href="#", target="_blank").align-vertical.m-r-10
										+avatar('avatar-small align-vertical m-r-10')
										b 0xD40A...F9f1
									a(href="#").align-vertical: i.i-copy.d-block
								hr/
								p
									span.t-sm Balance:
									br/
									b 3000 XRT
								hr/
								p
									span.t-sm Minimal stake per quote:
									br/
									b 1000 XRT
								hr/
								p
									span.t-sm Available for work at the lighthouse:
									br/
									b 0 XRT
								hr/
								p
									span.t-sm Available for work:
									br/
									input(type="text", value="0").input-size--sm.m-r-10.input-sm
									button.btn-green.input-sm Approve quotes
								hr/
								p
									span.t-sm Available for trade:
									br/
									input(type="text", value="0").input-size--sm.m-r-10.input-sm
									button.btn-green.input-sm Approve XRT

					.col-lg-8.col-md-7
						section.window
							.window-head
								span Providers
								a.window-head-toggle(href="#") –
							.window-content.p-0
								table.container-full.m-t-0.m-b-0
									thead
										tr
											th #
											th Address
											th Quota
											th Balance
											th Status
									tbody
										tr
											td 1
											td
												a(href="#", target="_blank").align-vertical.m-r-10
													+avatar('avatar-small align-vertical m-r-10')
													b 0x4200...1680 
												a(href="#").align-vertical: i.i-copy.d-block
											td  1
											td  0.092 ETH
											td Active
										tr
											td 2
											td
												a(href="#", target="_blank").align-vertical.m-r-10
													+avatar('avatar-small align-vertical m-r-10')
													b 0x4bed...df5a
												a(href="#").align-vertical: i.i-copy.d-block
											td  2 / 2
											td  0.005 ETH
											td Sleepimg

						section
							.t-label--gray.t-uppercase Lighthouse test
							.section-color.section-color--highlight test




