extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Loading dApp'
	- var bodyclass = 'wrap-flexsols'

block content
	+sidebar(3, true)

	.content
		.content-in
			section
				+panelTop()

			section
				.loader
					.loader-ring.align-vertical.m-r-15
					// b.align-vertical.t-style_uppercase Loading