extends extends/layout_header_1.pug

block html
	- var meta_title = 'Step 3 | TGE XRT'
	- var bodyclass = 'tge-finish'

block content
	.container-basic
		section
			.tge-finish_container
				img.tge-finish_img(alt="", src="assets/i/tge-finish.png", srcset="assets/i/tge-finish@2x.png")
				.separator-pale
				.tge-finish_contribution
					.t-color-neoncrimson 10.434343
					.t-color-neonblue ETH
				.tge-finish_summary
					h1
						| Congratulations!
						br/
						| You have contributed to the auction
					a.btn-green(href="#", target="_blank") Return to the main website
					a.btn-blue(href="#", target="_blank") Contribute again

			