extends extends/layout.pug

block html
	- var meta_title = 'Step 1 | TGE XRT'
	- var logo_title = 'XRT token generation event'
	- var header = true
	- var header_container = 'container-padding'
	- var footer = true
	- var footer_container = 'container-padding'

block content

	.container-padding
		section.section-white
			p: b Держатель токенов Aira!
			p С твоей помощью мы проделали путь от прототипа программного обеспечения Aira до платформы Робономика. Два года работы, более 50 релизов в 6 репозиториях на GitHub, тысячи коммитов целой группы разработчиков. Твоя поддержка привела к появлению новой технологии, которая в дальнейшем призвана подчинить роботов децентрализованному компьютеру Ethereum.  - ты помог этому. Спасибо!
			p Важно понимать, что это не конец пути, а только самое начало. Мы создали новую технологию, теперь ее нужно растить и обучать других пользоваться Робономикой.
			p Токен платформы Робономика мы назвали XRT (Robonomics token). У тебя есть два варианта действий - пройти KYC и ожидать запуска голландского аукциона или в 2 шага получить уже сегодня XRT.


		section.section-white
			.row
				.col-md-8
				.col-md-4